<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858"
                     title="查看碎片"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <h3 class="JigsawTitle">{{shopname}}</h3>
        <div  class="fragment_team" v-if="CouponsList!=''">
            <lazy-component>
                <div class="row">
                    <div class="item">
                        <img  v-lazy="CouponsList[0]['count']>0?CouponsList[0].lightImage:CouponsList[0].image" class="right bottom">
                        <p class="abs count count_left">{{CouponsList[0]['count']}}</p>
                    </div>
                    <div class="item">

                        <img  v-lazy="CouponsList[1]['count']>0?CouponsList[1].lightImage:CouponsList[1].image" class="left bottom">
                        <p class="abs count count_right" >{{CouponsList[1]['count']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <img  v-lazy="CouponsList[2].count>0?CouponsList[2].lightImage:CouponsList[2].image" class="right top">
                        <p class="abs count count_left" style="top: 35%;">{{CouponsList[2].count}}</p>
                    </div>
                    <div class="item">
                        <img  v-lazy="CouponsList[3].count>0?CouponsList[3].lightImage:CouponsList[3].image" class="left top">
                        <p class="abs count count_right" style="top: 35%;">{{CouponsList[3].count}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <img  v-lazy="CouponsList[4].count>0?CouponsList[4].lightImage:CouponsList[4].image" class="right top2">
                        <p class="abs count count_left" style="top: 17%;">{{CouponsList[4].count}}</p>
                    </div>
                    <div class="item">
                        <img v-lazy="CouponsList[5].count>0?CouponsList[5].lightImage:CouponsList[5].image" class="left top2">
                        <p class="abs count count_right" style="top: 17%;">{{CouponsList[5].count}}</p>
                    </div>
                </div>
            </lazy-component>
        </div>
        <div class="Jigsaw-bottom">
            <button class="exchange_btn" :class="dis?'':'active'" :disabled="dis"  @click="compound">立即合成</button>
            <h3 class="title" v-if="goodsList!=''">已合成{{shopname}}X{{goodsList.length}}</h3>
            <ul class="havebox">
                <li v-for="(item,index) in goodsList" :key="index">
                    <img :src="item.goodsLightImage" class="w100"/>
                    <p>{{item.goodsName}}</p>
                </li>
            </ul>
        </div>
        <div class="animated fadeIn loongdialog" v-if="IsPrize">
            <div class="mixmiddle">
                <img src="../../assets/loong_dialog.png" class="jamb" />
                <div class="content">
                    <h3>{{dialogInfor.goodsName}}</h3>
                    <div class="Prize">
                        <img  :src="dialogInfor.goodsImage" class="w100"/>
                    </div>
                    <button @click="closePrize">确定</button>
                </div>
            </div>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import Vue from 'vue'
    import { Dialog } from 'vant';
    Vue.use(Dialog);
    import network from '@/components/network'
    // options 为可选参数，无则不传
    export default {
        name: "Jigsaw",
        data(){
            return{
                loading:false,//网路请求
                dis:false,
                IsPrize:false,
                couponId:"",
                shopname:"",
                dialogInfor:{
                    goodsName:"",
                    goodsImage:""
                },
                CouponsList:[],
                goodsList:[]
            }
        },
        components:{
            network
        },
        methods:{
            reload(){
                this.initData();
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/bag`
                })
            },
            onClickRight() {

            },
            closePrize(){
              this.IsPrize = false;
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/pieces",{activityId:self.$store.state.activityId,couponId:self.couponId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        var allCoupons = map.allCoupons || '';
                        var myPieces = map.myPieces || '';
                        self.loading = false;
                        self.goodsList = map.goodsList || '';
                        var array = [];
                        for(let i = 0;i<allCoupons.length;i++){//判断已有的何总数量
                            var json = {};
                            if(myPieces[allCoupons[i].id]){
                                json['count']= myPieces[allCoupons[i].id];
                            }else{
                                json['count']= 0;
                                self.dis = true;
                            }
                            json.id= allCoupons[i].id;
                            json.image= allCoupons[i].image;
                            json.lightImage= allCoupons[i].lightImage;
                            array.push(json);
                        }
                            self.CouponsList = array
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            compound(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('合成中...');
                this.$fetch("/rpc/ajax/loong/pieces/mixture",{activityId:self.$store.state.activityId,couponId:self.couponId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.dialogInfor.goodsImage = map.goodsImage || "";
                        self.dialogInfor.goodsName = map.goodsName || "";
                        self.IsPrize = true;
                        self.initData()
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        mounted(){
            this.couponId = this.$route.query.couponId || '';
            this.shopname = this.$route.query.name || '';
            this.initData()
        }
    }
</script>

<style>
    .van-nav-bar .van-icon{
        color: #ffffff!important;
    }
</style>
