<template>
    <div class="container playbox">
        <van-nav-bar style="background-color: #ff5858;position: fixed;top: 0px;width: 100%;"
                     title="消费记录"
                     left-arrow
                     @click-left="onClickLeft"></van-nav-bar>
        <div class="coupon-tab">
            <ul>
                <li class="coupon-item" :class="index == 1 ? 'active':''" @click="changetype(1)">未使用</li>
                <li class="coupon-item" :class="index == 2 ? 'active':''" @click="changetype(2)">已使用</li>
                <li class="coupon-item" :class="index == 3 ? 'active':''" @click="changetype(3)">已失效</li>
            </ul>
        </div>
        <div class="crt"></div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list
                    v-model="loading"
                    :finished="finished"
                    :error.sync="error"
                    error-text="请求失败，点击重新加载"
                    :finished-text="Isempty ? '':'没有更多了'"
                    @load="onLoad"
            >
            <ul class="couponlist" v-if="list.length>0">
                <li v-for="item in list" @click="showcoupon(item)">
                    <img src="../../../assets/kj@2x.png"/>
                    <div class="con">
                        <div class="left" v-html="coltext(item.couponInfo.brandName)"></div>
                        <div class="right">
                            <div class="mess">
                                <h3 class="title tthide" v-if="item.couponInfo">{{item.couponInfo.name || ""}}</h3>
                                <p class="time">有效期至{{item.endDate}}</p>
                                <p class="rules">使用规则：{{item.couponInfo.condition}}</p>
                            </div>
                            <img :src="item.couponInfo.image"/>
                        </div>
                    </div>
                </li>
            </ul>
             <img src="../../../assets/empty.png" class="wave" v-if="Isempty"/>
            </van-list>
        </van-pull-refresh>
        <div class="crb"></div>
        <div class="coupon-bottom">
            <p>券额：{{addup}}</p>
            <p class="dh" @click="godh()">兑换</p>
        </div>
        <div class="coupon-dialog" v-show="coupondialog">
            <div class="dialog-item">
                <div class="coutop" v-if="couponItem.couponInfo">
                    <h3>{{couponItem.couponInfo.brandName}}</h3>
                    <p class="shop">{{couponItem.couponInfo.name || ""}}</p>
                    <p class="shuo">使用规则：{{couponItem.couponInfo.condition}}</p>
                    <img :src="couponItem.couponInfo.image"/>
                </div>
                <div class="coumiddle">
                    <p class="card" v-if="couponItem" style="letter-spacing: 18px ">{{couponItem.id}}</p>
                    <div class="qrfather">
                        <div id="qrcode" class="qrcode-coupon" :style="{width:qrSize+'px',height:qrSize+'px'}">
                        </div>
                    </div>
                    <p class="tips">使用前，请将二维码展示给店员</p>
                </div>
                <div class="coubottom">
                    <ul>
                        <li @click="closecoupon" style="width: 100%">关闭</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import QRCode from 'qrcodejs2'
    export default {
        name: "couponlist",
        data() {
            return {
                list: [],
                Isempty:false,
                loading: false,
                finished: false,
                error:false,
                isLoading: false,
                coupondialog:false,
                couponItem:"",
                qrSize:"",
                addup:0,
                index:1,
                pageNo:0,
                page:10,
            };
        },
        methods: {
            changetype(type){
              this.index = type;
              this.list = [];
              this.onRefresh();
            },
            onClickLeft() {
                this.$router.back(-1)
            },
            coltext(name){
               return  name.split("").join("<br>");
            },
            closecoupon(){
                this.coupondialog = false;
            },
            showcoupon(item){
                this.coupondialog = true;
                this.couponItem = item;
                this.qrcode.clear();
                this.qrcode.makeCode(item.id);
            },
            godh(){
                this.$router.push({
                    path: `/search`,
                })
            },
            getPageData(index,pageNo,pageSize){
                var self = this;
                this.$loading('请求中...');
                this.$fetch("ajax/vou/mine/coupon",{index:index,pageNo:pageNo,pageSize:pageSize}).then((response) =>{
                    this.$loading.close();
                    this.loading = false;
                    this.isLoading = false;
                    if(response.result === "success" && response.map){
                        console.log(response)
                        var data = response.map.items || "";
                        this.addup = response.map.addup;
                        if(data == "" || data.length<pageSize){
                            this.finished = true;
                        }
                        this.Isempty = false;
                        var newlist  = data;
                        var oldlist  = this.list;
                        if(oldlist.length == 0){
                            self.list = newlist;
                        }else{
                            var all = (self.list).concat(newlist)
                            self.list = all;
                        }
                    }else{
                        this.finished = true;
                        this.Isempty = true;
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast(error);
                })
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 185, // 设置宽度，单位像素
                    height: 185, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            onRefresh() {
                var index = this.index;
                this.list = [];
                this.getPageData(index,1,this.page);
            },
            onLoad() {
                // 异步更新数据
                this.pageNo++;
                var index = this.index;
                this.getPageData(index,this.pageNo,this.page);
            },
        },
        mounted(){
            var self = this;
            var url = window.location.href;/*获取url*/
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            var size="";
            if(wid>hei){
                size = wid*0.5
            }else{
                size = wid*0.5
            }
            this.qrSize = size;
            this.qrcode("")
        }
    }
</script>

<style scoped>

</style>
