<template>
  <div class="container overflow">
    <img src="../../assets/no_goods.png" class="nogoods" style=""/>
  </div>
</template>

<script>
    export default {
        name: "no_goods"
    }
</script>

<style>
  .nogoods{
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
  }
</style>
