<template>
    <div class="container" :style="{height:main_Hei+'px'}">

    </div>
</template>

<script>
    export default {
        name: "transfer",
        data(){
            return{
                main_Hei:"",
                card:""
            }
        },
        methods:{
            initData(card){
                this.$fetch("/ajax/twist/card",{card:card}).then((response) =>{
                    if(response.result == "success"){
                        var data = response.map;
                        var changed = data.changed;
                        this.$store.commit("SET_AC",data.activity.id)
                        if(changed){
                            this.$router.replace({
                                path: `/receive`,
                                query: {
                                    activityId:data.currentCoupon.id
                                }
                            })
                        }else{
                            this.$router.replace({
                                path: `/cash`,
                                query: {
                                    activityId:data.currentCoupon.id
                                }
                            })
                        }
                    }else{
                        this.$router.replace({
                            path: `/eggused`,
                            query:{
                                error:response.failureReason
                            }
                        })
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            }
        },
        created(){
            this.main_Hei = this.$store.getters.SET_HEI;
            var url = window.location.href;
            if(this.$route.query.card){//判断是否是从协议页面跳转过得
                this.card = this.$route.query.card;
            } else{
                this.card = this.$store.getters.getQueryString(url,"card");
            }
            this.initData(this.card);
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>

</style>
