<template>
    <div class="container" :style="{height:main_Hei+'px'}">

    </div>
</template>

<script>
    export default {
        name: "transfer",
        data(){
            return{
                main_Hei:"",
                card:""
            }
        },
        methods:{
            initData(card){
                this.$fetch("/rpc/ajax/loong/card",{card:card}).then((response) =>{
                    if(response.result == "success"){
                        var data = response.map;
                        var list = data.prizeList || [];
                        this.$router.replace({
                            path: `/win`,
                            query: {
                                giftList:list
                            }
                        })
                    }else{
                         if(response.map.noCard){
                             this.$router.replace({
                                 path: `/used`
                             })
                        }else if(response.map.noPrize){
                             this.$router.replace({
                                 path: `/used`
                             })
                         }else if(response.map.serverFail){
                            this.$router.replace({
                                path: `/busy`,
                                query: {
                                    card:this.card
                                }
                            })
                        }else if(response.map.noActivity){
                            this.$toast.center(response.failureReason);
                        }
                    }

                }).catch(error=>{
                    this.$toast.center(error);
                })
            }
        },
        created(){
            this.main_Hei = this.$store.getters.SET_HEI;
            var url = window.location.href;
            if(this.$route.query.card){//判断是否是从协议页面跳转过得
                this.card = this.$route.query.card;
            } else{
                this.card = this.$store.getters.getQueryString(url,"card");
            }
            this.initData(this.card);
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>

</style>
