<template>
    <div class="container obj">
        <van-nav-bar style="background-color: #ff5858;"
                     left-arrow
                     @click-left="onClickLeft"
                     title="恭喜获奖"></van-nav-bar>
        <img src="../../../assets/bai.png" style="position:  absolute;width: 100%;z-index: 0"/>
        <div class="cash-box" style="position: absolute">
            <h3>{{couponName}}</h3>
            <div id="qrcode" class="qrcode-game-small" :style="{width:qrSize+'px',height:qrSize+'px'}" ></div>
            <p class="cash-tip">
                请将二维码对准嗨机读码器<br>
                在屏幕上选择奖品
            </p>
            <div class="prize-box">
                <img :src="couponLightImage"/>
                <p class="name">获得&nbsp;{{name}}</p>
                <p class="curtime">兑奖截止时间：{{getdate(endDate)}}</p>
                <p class="ac-name">{{activityName}}</p>
            </div>
        </div>
    </div>
</template>
<script>
    import QRCode from 'qrcodejs2'
    export default {
        name: "cash",
        data(){
            return{
                qrSize:"",
                name:"",
                couponName:"",
                activityName:"",
                code:"",
                endChangeDate:"",
                couponLightImage:"",
                activityId:"",
                endDate:""
            }
        },
        methods:{
            onClickLeft(){
                this.$router.replace({
                    path: `/coupon`
                })
            },
            getdate(date){
                return this.$store.getters.currentTime(date)
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 190, // 设置宽度，单位像素
                    height: 190, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            initData(){
                var self = this;
                this.$loading('加载中');
                this.$fetch("/ajax/twist/coupon/"+this.activityId,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        var map = response.map;
                            var code = map.code || "";
                            this.qrcode(code)
                            self.couponName = map.currentCoupon.couponName || "";
                            self.endDate = map.currentCoupon.endChangeDate || "";
                            self.couponLightImage = map.pieces.couponLightImage || "";
                            self.name = map.pieces.couponName || "";
                            self.activityName = map.activity.name || "";
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        mounted(){
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            var size="";
            if(wid>hei){
                size = wid*0.42
            }else{
                size = wid*0.42
            }
            this.qrSize = size;
        },
        created(){
            this.activityId = this.$route.query.activityId || "";
           this.initData()
        }
    }
</script>

<style scoped>

</style>
