<template>
    <div class="container">
        <div class="headcontainer">
            <img class="userinfo-avatar" :src="userInfo.headimgurl"/>
            <div class="userinfo">
                <div class="userinfo-nickname">{{userInfo.nickname}}</div>
                <div class='userinfo-grade' v-if="isVip">VIP</div>
                <div class='userinfo-grade' v-else>普通会员</div>
            </div>
        </div>
        <div class="mine-num-container">
            <div class="mine-num">
                <router-link to="../mine/coin" replace>
                    <div class="mine-font-num">{{balance}}</div>
                    <div class="mine-font-type">嗨币</div>
                </router-link>
            </div>
            <div class="mine-num">
                <router-link to="../mine/Coupon" replace>
                    <div class="mine-font-num">{{couponCount}}</div>
                    <div class="mine-font-type">卡劵</div>
                </router-link>
            </div>
        </div>
        <div class="mine-content-header">
            <div class="mine-content-header-item"  :class="showDall ? 'active':''" @click="viewMyDall">
                <span>我的娃娃</span>
            </div>
            <div class="mine-content-header-item" :class="!showDall ? 'active':''" @click='viewMyConsume'>
                <span>消费记录</span>
            </div>
        </div>
        <div class="mine-content-content">
            <div class="no-content center" v-if="(showDall && mineData.dalls == '') || (!showDall && mineData.consumes == '')" style="margin: 0 auto">
                <span>暂无记录~</span>
            </div>
            <div v-if="showDall && mineData.dalls != ''" class="my-dallbox">
                <div class="dall-item" v-for="(item,index) in mineData.dalls" :key="index" @click="useCoupon(item.id,item.article.name,item.fetch)">
                    <div  class="dall-baby">
                        <img src='../../assets/video.png' class='video-image' v-if="item.videoUrl" @click="showVideo(item.videoUrl)"/>
                        <img :src="item.article.image" class='dall-item-goods-image' @click="showVideo(item.videoUrl)"/>
                        <div class="dall-item-left">
                            <p class='dall-item-text dall-goods-name tthide' v-if="item.article">{{item.article.name ||""}}</p>
                            <!--<p class='dall-item-text dall-item-text-small'>{{item.showTime}}</p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!showDall && mineData.consumes != ''" class="mine-consume" >
                <div class='mine-consume-item' v-for="(item,index) in mineData.consumes" :key="index">
                    <div class="mine-consume-item-left">
                        <img class='goods-image' src='../../assets/icon-offline-game.png' v-if="item.type == 7"/>
                        <img class='goods-image' :src='item.article.image' v-else-if="item.article"/>
                        <img class='goods-image' v-else src='../../assets/loong_hai.png'/>
                        <div class='mine-consume-item-content'>
                            <p class="consume-goods-name" style="overflow: hidden;box-sizing: border-box;text-overflow: ellipsis;white-space: nowrap"  :class="item.gained?'color-red':''"  v-if="item.article && item.type != 7">
                                <template v-if="item.article.name">
                                    {{item.article.name ? '' + item.article.name : ''}}
                                </template>
                            </p>
                            <span class="consume-goods-name" :class="item.gained?'color-red':''"  v-else>{{item.typeDesc}}</span>
                            <span class='mine-time'>{{item.showTime}}</span>
                        </div>
                    </div>
                    <div class="mine-consume-item-right" >
                        <span class="mine-consume-large"  v-if="item.article || item.type == 7">{{item.gameCoin}}</span>
                        <span class="mine-consume-large" v-else>{{item.gameCoin}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--v-show="currentCoupon != null"-->
        <div class="pop-coupon" v-show="showCoupon">
            <div class="pop-containter">
                <div class="pop-containter-header">
                    <img  src="../../assets/topup-image3.png" class="left"/>
                    <img  src="../../assets/topup-close.png" class="right" @click="closePop"/>
                </div>
                <div class="pop-containter-title">
                    <div class="left">{{cardname}}</div>
                    <div class="right">1份</div>
                </div>
                <div class="pop-containter-content xjq">
                    <div id="qrcode" class="qrcode-game" :style="{width:qrSize+'px',height:qrSize+'px'}" style="padding: 10px">
                    </div>
                    <span class="ts">有效期至:{{cardtime}}</span>
                </div>
            </div>
        </div>
        <van-tabbar v-model="active" active-color="#ff5858" safe-area-inset-bottom="true"  @change="onChange">
            <van-tabbar-item >
                <span>首页</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon0.active : icon0.normal"
                >
            </van-tabbar-item>
            <template v-if="show_tab">
                <van-tabbar-item >
                    <span>活动</span>
                    <img
                            slot="icon"
                            slot-scope="props"
                            :src="props.active ? icon3.active : icon3.normal"
                    >
                </van-tabbar-item>
            </template>
            <van-tabbar-item  >
                <span>九龙拼图</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon1.active : icon1.normal"
                >
            </van-tabbar-item>
            <van-tabbar-item >
                <span>我的</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon2.active : icon2.normal"
                >
            </van-tabbar-item>
        </van-tabbar>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    import QRCode from 'qrcodejs2'
    export default {
        name: "mine",
        data(){
            return{
                loading: false,
                userInfo: { nickname: " ", headimgurl:require('../../assets/default.png')},
                balance: 0,
                isVip: false,
                show_tab:false,/*是否现实显示*/
                bitCoin: 0,
                couponCount: 0,
                qrSize:"",
                showDall: true,
                active:3,
                icon0: {
                    normal: require('../../assets/loong_index.png'),
                    active: require('../../assets/loong_index_active.png')
                },
                icon1: {
                    normal: require('../../assets/loong_bag.png'),
                    active: require('../../assets/loong_bag_active.png')
                },
                icon2: {
                    normal: require('../../assets/loong_team.png'),
                    active: require('../../assets/loong_team_active.png')
                },
                icon3: {
                    normal: require('../../assets/icon-card.png'),
                    active: require('../../assets/icon-card-active.png')
                },
                mineData: {
                    dalls: [],
                    consumes:[],
                    dallsOver:"",
                    consumesOver:"",
                    dallsPageNo:"",
                    consumesPageNo:""
                },
                index: 2,
                contactUsUrl: null,
                tab_check:2,
                cardtime:"",
                cardname:"",
                showCoupon:false
            }
        },
        components:{
            network
        },
        methods:{
            closePop(){
                this.showCoupon = false
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 220, // 设置宽度，单位像素
                    height: 220, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            useCoupon(id,name,fetch){
                if (fetch) {
                    this.$toast.center("该商品已领取过");
                    return;
                }
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine/dall/fetch?mineGoodsId=' + id).then((response) => {
                    this.$loading.close();
                    if(response.result == "success"){
                        var code = response.map.qrCode;
                        self.showCoupon = true;
                        self.qrcode.clear();
                        self.qrcode.makeCode(code);
                        self.cardname = name;
                        self.cardtime =  response.map.expiryDate;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                  //  self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            onChange:function(active){
                var tab = this.show_tab;
                this.$store.getters.change_tab(tab,active);
            },
            reload:function(){
                this.initMineData();
            },
            showVideo:function(url){
                if(url == undefined){
                    return ;
                }
                this.$router.replace({
                    path: `/video`,
                    query:{
                        videoUrl:"https:"+url
                    }
                })
            },
            initMineData:function(){
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine').then((response) => {
                    this.$loading.close();
                    if(response.result == "success"){
                        self.loading = false
                        var map = response.map;
                        self.userInfo = map.member
                        self.balance = map.gameCoin
                        self.bitCoin = map.bitCoin
                        self.couponCount = map.couponCount
                        self.isVip = map.isVip
                        self.index = 2
                        self.loading = false
                        self.contactUsUrl = map.contactUsUrl
                        self.getByDoll()
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            getByDoll:function(){
                var pageSize = 20;
                var self = this;
                this.$fetch('/dall/ajax/mine/dall',{ pageSize: pageSize}).then((response) => {
                    if(response.result == "success"){
                        var map = response.map;
                        self.mineData.dalls = map.dalls
                        self.mineData.consumes = map.consumes
                        self.mineData.dallsOver = map.dalls.length < pageSize
                        self.mineData.consumesOver = map.consumes.length < pageSize
                        self.mineData.dallsPageNo = 1
                        self.mineData.consumesPageNo = 1
                        self.showDall = true
                    }else {
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            moreDalls:function( pageNo, pageSize){//获取更多娃娃
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine/dall/more',{ pageNo: pageNo,pageSize: pageSize}).then((response) => {
                    this.$loading.close();
                    if(response.result == "success"){
                        var map = response.map;
                        var mineData = self.mineData;
                        mineData.dallsPageNo = pageNo;
                        for (var i = 0; i < map.dalls.length; i++) {
                            mineData.dalls.push(map.dalls[i]);
                        }
                        mineData.dallsOver = map.dalls.length < pageSize;
                        self.mineData = mineData;
                        self.pageNo = pageNo;
                    }else {
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            moreConsumes:function(pageNo, pageSize){//获取更多消费记录
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine/consume/more',{pageNo: pageNo,pageSize: pageSize}).then((response) => {
                    console.log("消费记录")
                    console.log(response)
                    this.$loading.close();
                    if(response.result == "success"){
                        var map = response.map;
                        var mineData = self.mineData;
                        mineData.consumesPageNo = pageNo;
                        for (var i = 0; i < map.consumes.length; i++) {
                            mineData.consumes.push(map.consumes[i]);
                        }
                        mineData.consumesOver = map.consumes.length < pageSize;
                        self.mineData = mineData;
                    }else {
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            viewMyDall:function(){
                if (this.showDall) {
                    return;
                }
                this.showDall = true
            },
            viewMyConsume:function(){
                if (!this.showDall) {
                    return;
                }
                this.showDall = false
            }
        },
        mounted(){
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            var size="";
            if(wid>hei){
                size = wid*0.6
            }else{
                size = wid*0.6
            }
            this.qrSize = size;
            this.qrcode("")
        },
        created(){
            var url = window.location.href;
            if (url !== undefined) {
                this.$store.getters.handleUrl(url)
            }
            var self = this;
            window.onscroll = function(){
                //变量scrollTop是滚动条滚动时，距离顶部的距离
                var scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
                //变量windowHeight是可视区的高度
                var windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
                //变量scrollHeight是滚动条的总高度
                var scrollHeight = document.documentElement.scrollHeight||document.body.scrollHeight;
                //滚动条到底部的条件
                if(scrollTop+windowHeight==scrollHeight){
                    //写后台加载数据的函数
                    console.log("距顶部"+scrollTop+"可视区高度"+windowHeight+"滚动条总高度"+scrollHeight);
                    console.log(self.mineData.dallsPageNo, self.mineData.consumesPageNo);
                    if (self.showDall && !self.mineData.dallsOver) {//查找下一页娃娃
                        self.moreDalls(self.mineData.dallsPageNo+1, 20);
                    }
                    if (!self.showDall && !self.mineData.consumesOver) {//查找下一页消费记录
                        self.moreConsumes(self.mineData.consumesPageNo+1, 20);
                    }
                }
            }
            this.initMineData();
            this.show_tab = this.$store.getters.show_tab;
            this.active = this.show_tab ? 3 : 2;
        }
    }
</script>

<style >
.video-image{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.xjq{
    padding-top: 30px!important;
    padding-bottom: 60px!important;
}
</style>
