<template>
    <div class="container obj">
        <van-nav-bar style="background-color: #ff5858;"
                     left-arrow
                     @click-left="onClickLeft"
                     title="恭喜获奖"></van-nav-bar>
        <img src="../../../assets/bai.png" style="position:  absolute;width: 100%;top:10px;"/>
        <div style="position: absolute" class="cash-box">
            <h3>一等奖</h3>
            <p class="has">已领取奖品</p>
            <div id="qrcode" class="qrcode-game-small" :style="{width:qrSize+'px',height:qrSize+'px'}">
                <img :src="goods.image" alt="商品图"/>
            </div>
            <div class="prize-box">
                <p class="name" style="margin-top: 10px">{{goods.name}}</p>
                <p class="curtime">领奖日期：{{getdate(useDate)}}</p>
                <p class="ac-name">{{activityName}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "receive",
        data(){
            return{
                qrSize:"",
                goods:"",
                couponName:"",
                activityName:"",
                useDate:""
            }
        },
        methods:{
            onClickLeft(){
                this.$router.replace({
                    path: `/coupon`
                })
            },
            getdate(date){
                return this.$store.getters.currentTime(date)
            },
            initData(){
                var self = this;
                this.$loading('加载中');
                this.$fetch("/ajax/twist/coupon/"+this.activityId,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        var map = response.map;
                        self.couponName = map.currentCoupon.couponName || "";
                        self.useDate = map.currentCoupon.useDate || "";
                        self.goods = map.goods || "";
                        self.activityName = map.activity.name || "";
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        mounted(){
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            var size="";
            if(wid>hei){
                size = wid*0.5
            }else{
                size = wid*0.5
            }
            this.qrSize = size;
        },
        created(){
            this.activityId = this.$route.query.activityId || "";
            this.initData()
        }
    }
</script>

<style scoped>

</style>
