<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858;position: fixed;top: 0px;width: 100%;"
                     title="兑换"
                     left-arrow
                     @click-left="onClickLeft"></van-nav-bar>
        <div class="crt1"></div>
        <div class="searchtop">
            <div class="search-mess">
                <p @click="goshop" style="display: flex;align-items: center"><img src="../../../assets/dw@2x.png"/><span style="padding-left: 0.2rem">{{mallName}}</span> <van-icon name="arrow" /></p>
                <p>劵额：{{addup}}元</p>
            </div>
            <van-search placeholder="请输入搜索关键词" v-model="value" @search="onSearch"/>
        </div>
        <div class="mlxg">优惠券</div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list
                    v-model="loading"
                    :finished="finished"
                    :error.sync="error"
                    error-text="请求失败，点击重新加载"
                    :finished-text="Isempty ? '':'没有更多了'"
                    @load="onLoad"
            >
                <ul class="search-list" v-if="list.length>0">
                    <li v-for="item in list"  @click="showcoupon(item)">
                        <img :src="item.image"/>
                        <div class="search-content">
                            <h3 class="title">{{item.brandName}}</h3>
                            <p class="shop">{{item.name}}</p>
                            <p class="time">有效期至：{{ getMoth(item.endDate)}}</p>
                        </div>
                        <span class="price">{{item.changeFen/100}} 元</span>
                    </li>
                </ul>
                <img src="../../../assets/empty.png" class="wave" v-if="Isempty"/>
            </van-list>
        </van-pull-refresh>
        <div class="coupon-dialog" v-if="coupondialog">
            <div class="dialog-item" style="margin-top: 50%">
                <div class="coutop">
                    <h3>{{couponItem.brandName}}</h3>
                    <p class="shop" style="color: #333333!important;">{{couponItem.name}}</p>
                    <p class="je" style="font-weight: bold">{{couponItem.changeFen/100}}元券额</p>
                    <img :src="couponItem.image" />
                </div>
                <div class="coumiddle" style="padding-top: 0.2rem">
                    <p class="xld">使用说明：{{couponItem.condition}}</p>
                    <p class="xld">有效期至：{{getMoth(couponItem.endDate)}}</p>
                </div>
                <div class="coubottom">
                    <ul>
                        <li @click="closecoupon">关闭</li>
                        <li  @click="exchange(couponItem.id)">兑换</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data() {
            return {
                list: [],
                loading: false,
                finished: false,
                error:false,
                isLoading: false,
                coupondialog:false,
                locationCode:"",
                Isempty:false,
                couponItem:"",
                qrSize:"",
                value:"",
                pageNo:0,
                page:10,
                locationCode:"",
                mallName:"",
                addup:0,
                couponId:""
            };
        },
        methods: {
            closecoupon(){
                this.coupondialog = false;
            },
            onSearch(){
                this.onRefresh()
            },
            onClickLeft() {
                this.$router.back(-1)
            },
            showcoupon(item){
                this.coupondialog = true;
                this.couponItem = item;
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '
                        // + this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            goshop(){
                this.$router.push({
                    path: `/shoplist`,
                })
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            getPageData(pageNo,pageSize){
                var self = this;
                this.$loading('请求中...');
                var value = this.value || "";
                var locationCode = "";
                if(this.locationCode!= ""){
                    locationCode  = this.locationCode;
                }else{
                    locationCode = localStorage.getItem("locationCode");
                }
                this.$fetch("ajax/vou/coupon/info",{search:value,pageNo:pageNo,pageSize:pageSize,locationCode:locationCode}).then((response) =>{
                    this.$loading.close();
                    this.loading = false;
                    this.isLoading = false;
                    if(response.result === "success" && response.map){
                        var data = response.map.items || "";
                        this.addup = response.map.addup;
                        this.mallName = response.map.mallName || "";
                        if(data.length<pageSize || data == ""){
                            this.finished = true;
                        }
                        if(data == ""){
                            this.Isempty = true;
                        }else{
                            this.Isempty = false;
                        }
                        var newlist  = data;
                        var oldlist  = this.list;
                        if(oldlist.length == 0){
                            self.list = newlist;
                        }else{
                            var all = (self.list).concat(newlist)
                            self.list = all;
                        }
                        console.log(self.list)
                    }else{
                        this.finished = true;
                        this.Isempty = true;
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast(error);
                })
            },
            exchange(id){
                var self = this;
                var locationCode = "";
                    if(this.locationCode!= ""){
                        locationCode  = this.locationCode;
                    }else{
                        locationCode = localStorage.getItem("locationCode");
                    }
                this.$loading('请求中...');
                this.$fetch("/ajax/vou/coupon/exchange",{couponId:id,locationCode:locationCode}).then((response) =>{
                    this.$loading.close();
                    console.log("'初始化请求")
                    this.coupondialog = false
                    if(response.result == 'success'){
                        self.loading = false;
                        this.$toast.center("兑换成功");
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            changeInfor(){
                var self = this;
                this.$loading('请求中...');
                this.$fetch("/ajax/vou/coupon/"+this.couponId,{}).then((response) =>{
                    this.$loading.close();
                    this.coupondialog = false
                    if(response.result == 'success'){
                        self.loading = false;
                        var item = response.map.coupon;
                        var canExchange = response.map.canExchange;
                        if(canExchange){
                            this.coupondialog = true;
                            this.couponItem = item;
                        }else{
                            this.$toast.center("该商品暂不能兑换");
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 185, // 设置宽度，单位像素
                    height: 185, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            onRefresh() {
                this.list = [];
                this.getPageData(1,10);
            },
            onLoad() {
                // 异步更新数据
                this.pageNo++;
                this.getPageData(this.pageNo,10);
                this.loading = false;
            },
        },
        mounted(){
            var url = window.location.href;/*获取url*/
            this.couponId = this.$store.getters.getQueryString(url,"couponId") || "";
            this.locationCode = this.$store.getters.getQueryString(url,"lc") || "";
            if(this.couponId != ""){
                this.changeInfor()
            }
        }
    }
</script>

<style>
    .van-cell{
        line-height: 60px!important;
    }
    .van-search{
        padding: 0px!important;
    }
    .van-search__content{
        background-color: #ffffff!important;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
</style>
