<template>
    <div class="container bg playbox">
        <div class="user-container">
            <img class="userinfo-avatar" :src="userInfo.headimgurl"/>
            <span class="userinfo-name">{{userInfo.nickname}}</span>
            <button class="btn-buy" @click="pay">充值</button>
            <span class="money">{{balance}}元</span>
        </div>
        <div class="qrbox">
            <div id="qrcode" class="qrcode-game" >
                <div class="tips">
                    <span v-if="qrError" style='color: #ff4a4a;'>{{qrError}}</span>
                    <span v-else >请将二维码&nbsp;对准读码器</span>
                </div>
            </div>
        </div>
        <transition name="slide-fade">
            <div class="pay_dialog" v-if="show_dialog" @click="close">
                <div class="payteam" @click.stop.prevent="">
                    <img src="../../../assets/close.png" class="close" @click="close"/>
                    <div class="balance">
                        <p>余额：{{balance}}元</p>
                    </div>
                    <img src="../../../assets/logo.png" class="logo"/>
                    <div class="listbox">
                        <ul>
                            <li ontouchstart="" onmouseover="" @click="Recharge(5)">
                                <div class="item">
                                    <div class="item-top cen">5元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <li ontouchstart="" onmouseover="" @click="Recharge(10)">
                                <div class="item">
                                    <div class="item-top cen">10元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <li ontouchstart="" onmouseover="" @click="Recharge(30)">
                                <div class="item">
                                    <div class="item-top cen">30元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <li ontouchstart="" onmouseover="" @click="Recharge(50)">
                                <div class="item">
                                    <div class="item-top cen">50元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <li ontouchstart="" onmouseover="" @click="Recharge(100)">
                                <div class="item">
                                    <div class="item-top cen">100元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <li ontouchstart="" onmouseover="" @click="Recharge(200)">
                                <div class="item">
                                    <div class="item-top cen">200元</div>
                                    <div class="item-bot cen">立即充值</div>
                                </div>
                            </li>
                            <!--<li ontouchstart="" onmouseover="" @click="Recharge(500)">-->
                                <!--<div class="item">-->
                                    <!--<div class="item-top cen">500元</div>-->
                                    <!--<div class="item-bot cen">立即购买</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="tips">
                        <p>客服电话：400-002-8253</p>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="slide-fade">
            <div class="pay_dialog"  @click="close" v-if="payfail">
                <div style="" class="payresult cen">
                    <p class="cen">支付失败</p>
                    <div class="cen result">抱歉，支付失败，请重试</div>
                    <img src="../../../assets/close1.png" class="close" @click="pay_fail" ontouchstart="" onmouseover=""/>
                </div>
            </div>
        </transition>
        <div class="bottom" style="background-color: #ffffff">
            <div class="cou-money">
                券额：{{addup}}元
            </div>
            <img src="../../../assets/coupon@2x.png" @click="golist"/>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    import QRCode from 'qrcodejs2'
    export default {
        name: "index",
        data(){
          return{
              tab_check:0,
              balance:0,
              orderId:"",
              qrError:false,//错误异常
              show_dialog:false,//支付窗口
              loading:false,//网路请求
              payfail:false,//支付失败
              Ispaying:false,
              locationCode:"",
              cellNo:"",
              timer:"",
              addup:0,
              userInfo: { nickname: "", headimgurl:''},
          }
        },
        methods:{
            reload(){
                this.initData();
            },
            close(){
                this.show_dialog = false
            },
            pay(){
                this.show_dialog = true
            },
            pay_fail(){
                this.payfail = false
            },
            golist(){
                this.$router.push({
                    path: `/couponlist`,
                })
            },
            tab_select:function(index){
                this.tab_check = index
                alert(this.locationCode)
                if(this.tab_check == 0){
                    this.$router.replace({
                        path: `/index`
                    })
                }else if(this.tab_check == 2){
                    this.$router.replace({
                        path: `/records`,
                        query:{
                            lc:this.locationCode
                        }
                    })
                }
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 250, // 设置宽度，单位像素
                    height: 250, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                var locationCode = localStorage.getItem("locationCode");
                this.$loading('加载中');
                this.$fetch("/rmbPlay/index2",{locationCode:locationCode}).then((response) =>{
                    console.log("'初始化请求")
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                            self.balance = map.money || 0;
                            var userInfo = map.member || "";
                            self.userInfo.nickname = userInfo.nickname;
                            self.userInfo.headimgurl = userInfo.headimgurl;
                            self.addup = map.addup;
                            self.refreshQr(locationCode,this.cellNo);
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            refreshQr:function(){
                var self = this;
                var locationCode = localStorage.getItem("locationCode");
                this.$fetch('/rmbPlay/qr/user2',{locationCode:locationCode,channel:2,from:8}).then((response) => {
                    console.log(response)
                    if(response.result == "success"){
                        console.log("进来了")
                        var code = response.map.code;
                        var seconds = response.map.seconds || 15;
                        self.balance = response.map.money;
                        self.qrcode.clear();
                        self.qrcode.makeCode(code);

                        if (self.timer){
                            clearTimeout(self.timer);
                        }
                        self.timer = setTimeout(() => self.refreshQr(), seconds * 1000);
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        if (self.timer) {
                            clearTimeout(self.timer);
                        }
                        self.timer = setTimeout(() => self.refreshQr(), 15 * 1000);
                    }
                }).catch(error =>{
                    console.log(error)
                    self.qrError = "当前网络不可用，请检查网络设置";
                    if (self.timer) {
                        clearTimeout(self.timer);
                    }
                    self.timer = setTimeout(() => self.refreshQr(), 15 * 1000);
                })
            },
            Recharge(money){
                var self = this;
                this.show_dialog = false;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(self.locationCode,money), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(self.locationCode,money));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(self.locationCode,money));
                        }
                    }else{
                        self.onBridgeReady(self.locationCode,money)
                    }
                }else{
                    alert("请在微信环境内打开")
                }
            },
            onBridgeReady(locationCode,money){
                var self = this;
                console.log("支付。。。。。。")
                console.log("locationCode===="+locationCode)
                console.log("money===="+money)
                this.$fetch("/rmbPlay/pay/topup2",{money:money,locationCode:locationCode}).then((response) =>{
                    if(response.result == 'success' && response.map.charge){
                        var charge = response.map.charge;
                        WeixinJSBridge.invoke("getBrandWCPayRequest", {
                                "appId": charge.appId, //公众号名称，由商户传⼊入
                                "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                                "nonceStr": charge.nonceStr, //随机串
                                "package": charge.package,
                                "signType": charge.signType,
                                "paySign": charge.paySign
                            },
                            function(res) {
                                console.log("测试支付回------------")
                                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                                    self.orderId = response.map.orderId;
                                    self.paycallback(response.map.orderId);
                                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                                    self.$toast.center("支付取消");
                                }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                                    self.payfail = true
                                    self.$toast.center("支付失败");
                                }
                            })
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result == 'success'){
                        this.$toast.center("支付成功");
                        console.log("支付成功回调")
                        self.initData();
                    }else{
                        self.paycallback(self.orderId)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            }
        },
        components:{
            network
        },
        mounted(){
            var url = window.location.href;/*获取url*/
            this.locationCode = this.$store.getters.getQueryString(url,"lc") || "";
            this.cellNo = this.$store.getters.getQueryString(url,"cellNo") || "";
            localStorage.setItem("locationCode",this.locationCode)
         //   this.initData();
         //   this.qrcode("")
        }
    }
</script>
<style lang="css">
    @import '../../../styles/style.css';
</style>
<style >
    .bg{
        background: url("../../../assets/bg.jpg") center center repeat;
        background-size: cover;
    }
</style>
