<template>
    <div class="container ggk" style="box-sizing: border-box;">
        <div class="arrowbox" style="height: 100%">
            <img src="../../assets/loong_discount.png" class="w100 loong_banner" />
            <template v-if="used">
                <img src="../../assets/joined.png" class="joined" />
            </template>
            <template v-if="showggk">
                <div class="cardbox" >
                    <vueEaser
                            ref="vueEraser"
                            :size="50"
                            :complete-ratio="0.6"
                            :cover-src="coverSrc"
                            :result-src="resultSrc"
                            :result-src1="resultSrc1"
                            :result-title="resultTitle"
                            :result-title1="resultTitle1"
                            :istwo = "istwo"
                            :completeFunction="completeFunction"
                            :progressFunction="progressFunction"
                            class="sccard"
                    ></vueEaser>
                    <div class="task" v-if="Ismask">
                        <button @click="canmask">点我刮卡</button>
                    </div>
                </div>
                <img src="../../assets/rule1.png" v-if="Isfree && Showbtn"  class="rules"/>
                <img src="../../assets/rule2.png" v-if="IsCount && Showbtn"  class="rules"/>
                <img src="../../assets/scan.png"  @click="scanQRCode()" class="scan-btn" v-if="Showbtn && IsCount"/>
                <img src="../../assets/use_now.png" @click="ByUse()" class="scan-btn" v-if="Showbtn && Isfree"/>
            </template>
        </div>
        <div class="animated fadeIn loongdialog" v-show="showqr">
            <div class="mixmiddle">
                <img src="../../assets/free-dialog.png" class="jamb" />
                <div id="qrcode" class="qrcode-game" :style="{width:qrSize+'px',height:qrSize+'px'}"  style="position: absolute;top: 46%;left: 50%;transform: translateX(-50%)">
                </div>
            </div>
            <img  src="../../assets/ggk_close.png"  class="close" @click="closedialog"/>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>
<style lang="css">
    @import '../../styles/kds_animate.css';
</style>
<script>
    import vueEaser from "vue-eraser";
    import wx from 'weixin-js-sdk';
    import QRCode from 'qrcodejs2'
    import network from '@/components/network'
    export default {
        name: "discount",
        data(){
            return{
                Ismask:true,
                loading:false,
                showggk:false,
                istwo:true,
                Isfree:false,
                IsCount:false,
                Showbtn:false,
                used:false,//是否已使用
                Isuse:false,
                showqr:false,
                title:"",
                index:0,
                coverSrc: require('../../assets/loong_mask.png'),
                resultSrc:require('../../assets/white.png'),
                resultSrc1:require('../../assets/white.png'),
                resultTitle:"",
                resultTitle1:"",
                timer:"",
                id:"",
                qrSize:"",
                qrError:"",
                failureReason:"",
                locationCode:""
            }
        },
        components:{
            vueEaser,
            network
        },
        methods:{
            reload(){
                this.initData();
            },
            canmask(){
                this.Ismask = false
            },
            completeFunction (ratio){
                this.Showbtn = true;
            },
            progressFunction (ratio){
                if(ratio>0.5){
                    this.$refs.vueEraser.clear();
                }
            },
            ByUse(){
                this.refreshQr();
                this.showqr = true;
            },
            closedialog(){
                this.showqr = false;
            },
            replace_card(cou){
                if(cou.gameCoin == 0){
                    this.resultSrc = require('../../assets/free.png')
                    this.Isfree = true;
                }else if(cou.gameCoin == 50){
                    this.resultSrc = require('../../assets/50.png')
                    this.IsCount = true;
                }else if(cou.gameCoin == 60){
                    this.resultSrc = require('../../assets/60.png')
                    this.IsCount = true;
                }
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                var pageUrl =(window.location.href).split('#')[0];
                var locationCode = self.locationCode;
                var data= {};
                if(locationCode != undefined || locationCode!=null || locationCode!= ""){
                    data.locationCode = locationCode;
                }
                this.$fetch("/dall/ajax/bgww/loong/coupon?url="+pageUrl,data).then((response) =>{
                    this.$loading.close();
                    var coupon = response.map.coupon || [];
                    self.used = coupon.used || false; /*是否已使用*/
                    if(response.result == 'success'){
                        self.loading = false;
                        if(coupon.used){

                        }else if(coupon.gameCoin == 50 || coupon.gameCoin == 60 || coupon.gameCoin == 0){
                            self.showggk = true;
                            self.id = coupon.id || "";
                            self.replace_card(coupon);
                        }

                        var charge = response.map.wxJsapiSignature || "";
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来
                            appId: charge.appId, // 必填，公众号的唯一标识
                            timestamp: charge.timestamp, // 必填，生成签名的时间戳
                            nonceStr: charge.nonceStr, // 必填，生成签名的随机串
                            signature: charge.signature,// 必填，签名，见附录1
                            jsApiList: [
                                "scanQRCode"
                            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        });
                        wx.ready(function() {
                            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                            // 在这里调用 API
                            console.log("wx.ready");
                            wx.checkJsApi({
                                jsApiList: ['scanQRCode'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                                success: res => {
                                    // 以键值对的形式返回，可用的api值true，不可用为false
                                    if(res.checkResult["scanQRCode"]) {

                                    }
                                    console.log("isSupportScanQRCode = " + self.isSupportScanQRCode)
                                }
                            });

                        });
                        wx.error(function (res) {
                            console.log("配置失败")
                            console.log(res)
                        });
                    }else{
                        self.failureReason = response.failureReason;
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 150, // 设置宽度，单位像素
                    height: 150, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            refreshQr:function(){
                var self = this;
                var id = self.id || "";
                // http://h.xnal.cn/dall/ajax/bgww/loong/coupon/{id}
                this.$fetch('/dall/ajax/bgww/loong/coupon/'+id,{}).then((response) => {
                    if(response.result == "success"){
                        var code = response.map.code;
                        var seconds = response.map.seconds || 15;
                        self.qrcode.clear();
                        self.qrcode.makeCode(code);

                        if (self.timer){
                            clearTimeout(self.timer);
                        }

                        self.timer = setTimeout(() => self.refreshQr(), seconds * 1000);
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        if (self.timer) {
                            clearTimeout(self.timer);
                        }
                        self.timer = setTimeout(() => self.refreshQr(),  2 * 1000);
                    }
                }).catch(error =>{
                    console.log(error)
                    self.qrError = "当前网络不可用，请检查网络设置";
                    if (self.timer) {
                        clearTimeout(self.timer);
                    }
                    self.timer = setTimeout(() => self.refreshQr(), 2 * 1000);
                })
            },
            scanQRCode:function(){
                var self = this;
                wx.scanQRCode({
                    needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success : function(res) {
                        console.log(res)
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        self.begin(result)
                    },
                    fail: res => {
                        console.log("扫码失败，错误信息：" + JSON.stringify(res))
                    },
                });
            },
            begin:function(res){
                this.$loading('启动中...');
                window.location.href = res;
                this.$loading.close();
            }
        },
        mounted(){
            this.qrcode("")
        },
        created(){
            var url = window.location.href;/*获取url*/
            this.locationCode =  this.$store.getters.getQueryString(url,"lc") || "";
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            if(this.locationCode!=""){
                this.initData()
            }else{
                this.$router.replace({
                    path: `/error`,
                    query:{
                        error_mess:"二维码错误请重新扫码"
                    }
                })
            }
            var size="";
            if(wid>hei){
                size = wid*0.42
            }else{
                size = wid*0.42
            }
            this.qrSize = size;
            window.onorientationchange=function(){
                if(window.orientation==90||window.orientation==-90){

                }else{
                    self.$router.go(0);
                }
            }

        }
    }
</script>
<style>
    html{
        height: auto;
        background-color: #F33C41;
    }
    .img-wraper{
        background-color: #ffffff;
        height: 340px!important;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-wraper img{
        width: 100%;
        margin: 0 auto;
    }
    .cardcase-box{
        width: 80%;
        text-align: center;
    }
    .cardcase-box p{
        font-size: 26px;
        color: #8b0a0f;
        margin-top: 10px;
    }
    .cardshow{
        display: none;
    }
    .qrcode-game{
        padding:20px;
    }
    .close{
        width: 10vw;
        margin: 30px auto;
    }
</style>
