<template>
    <div class="container ggk">
        <div class="arrowbox">
            <img src="../../assets/loong_discount.png" class="w100 loong_banner" />
            <img src="../../assets/arrow.png"  class="abs arrowall arrow1"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow2"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow3"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow4"/>
            <img src="../../assets/onlywx.png"  class="onlywx"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "onlywx"
    }
</script>

<style>
    .onlywx{
        width: 60vw;
        margin: 0 auto;
        margin-top: 156px;
    }
</style>
