<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858"
                     title="地址管理"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <div v-if="IsEmpty">
            <img src="../../assets/cd_12.png" style="width: 85%;margin: 0 auto;position: absolute;top:35%;left:50%;transform: translate(-50%,-50%)"/>
        </div>
        <div v-else>
            <div class="address_list">
                <ul>
                    <template v-for="(item,index) in addresslist" >
                        <li :key="index">
                            <div class="address-top">
                                <p class="name">{{item.consignee}}</p>
                                <span class="mobile">{{item.mobile}}</span>
                                <p class="address">{{item.address}}{{item.detailAddress}}</p>
                            </div>
                            <div class="address-bottom">
                                <input type="checkbox" id="tip1" style="display: none"/><label @click="ChangeDefault(item)" for="tip1" class="tip_btn" :class="item.isDefault?'active':''">默认地址</label>
                                <div class="edit" @click="update(item.id)">
                                    <img src="../../assets/cd_14.png"/>
                                    <span class="fun-txt">编辑</span>
                                </div>
                                <div class="remove">
                                    <img src="../../assets/cd_13.png"/>
                                    <span class="fun-txt" @click="dele_dialog(item.id)">删除</span>
                                </div>
                            </div>
                        </li>
                        <li  class="currentline"></li>
                    </template>
                </ul>
            </div>
        </div>
        <button class="exchange_btn bt active" @click="add">添加新地址</button>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import Vue from 'vue'
    import network from '@/components/network'
    import { Dialog } from 'vant';
    Vue.use(Dialog);
    import wx from 'weixin-js-sdk'
    export default {
        name: "admin_address",
        data(){
            return{
                main_Hei:"",
                IsEmpty:false,
                loading:false,
                isDefault:"",
                addresslist:[],
                wxJsapiSignature:[]
            }
        },
        components:{
            network
        },
         methods:{
            get_weixin(){
                wx.ready(function(){
                    wx.openAddress({
                        success: function (res) {
                            var userName = res.userName; // 收货人姓名
                            var postalCode = res.postalCode; // 邮编
                            var provinceName = res.provinceName; // 国标收货地址第一级地址（省）
                            var cityName = res.cityName; // 国标收货地址第二级地址（市）
                            var countryName = res.countryName; // 国标收货地址第三级地址（国家）
                            var detailInfo = res.detailInfo; // 详细收货地址信息
                            var nationalCode = res.nationalCode; // 收货地址国家码
                            var telNumber = res.telNumber; // 收货人手机号码
                        }
                    });
                })
            },
            initData(){
                var self = this;
                this.$loading('加载中');
                this.$fetch("rpc/ajax/lottery/address/list",{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var charge = response.map.wxJsapiSignature || "";
                        var items = response.map.items;
                        console.log("获取地址")
                        self.loading = false;
                        self.addresslist = items;
                        if(charge){
                            wx.config({
                                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来
                                appId: charge.appId, // 必填，公众号的唯一标识
                                timestamp: charge.timestamp, // 必填，生成签名的时间戳
                                nonceStr: charge.nonceStr, // 必填，生成签名的随机串
                                signature: charge.signature,// 必填，签名，见附录1
                                jsApiList: [
                                    "scanQRCode"
                                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                            });
                        }
                        if(response.map.totalPage == 0){
                            self.IsEmpty = true;
                        }else{
                            self.IsEmpty = false;
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
             reload(){
                 this.initData();
             },
            add(){
                this.$router.replace({
                    path: `/add_address`,
                })
            },
            update(id){
                this.$router.replace({
                    path: `/add_address`,
                    query:{
                        type:1,
                        id:id
                    }
                })
            },
             onClickLeft() {
                 this.$router.replace({
                     path: `/bag`
                 })
             },
            ChangeDefault(item){
                /*修改默认地址*/
                var self= this;
                var data = {id:item.id,consignee:item.consignee,mobile:item.mobile,address:item.address,detailAddress:item.detailAddress,isDefault:true};
                this.$loading('请求中...');
                this.$post("/rpc/ajax/lottery/address/update",data).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        self.$toast.center("修改成功");
                        self.initData();
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
             delete_address(id){
                 var self = this;
                 this.$post("/rpc/ajax/lottery/address/delete",{id:id}).then((response) =>{
                     if(response.result == "success"){
                         self.$toast.center("删除成功");
                         self.initData();
                     }else{
                         this.$toast.center(response.failureReason);
                     }
                 }).catch(error=>{
                     this.$toast.center(error);
                 })
             },
            dele_dialog(id){
                var self = this;
                Dialog.confirm({
                    message: '确定删除此条地址吗？'
                }).then(() => {
                    self.delete_address(id);
                }).catch(() => {
                    // on cancel
                    this.$toast.center("取消删除");
                });
            },
        },
        computed:{

        },
        mounted(){
            this.main_Hei = this.$store.getters.SET_HEI;
            this.initData();
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>
    .tip_btn {
        background-image: url(../../assets/cd_9.png);
        background-size: 35px;
        background-repeat: no-repeat;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        padding-left: 54px;
        font-size: 24px;
        color:#666
    }

    .tip_btn.active {
        background-image: url(../../assets/cd_10.png);
    }
</style>
