<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858"
                     title="地址管理"
                     right-text="添加地址"
                     @click-right="onClickRight"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <div class="rel">
            <img src="../../assets/cd_25.png" class="w100"/>
        </div>
            <p class="adres-te"> 选择收货地址</p>
            <div class="adsm">
                <ul>
                    <template v-for="(item,index) in addresslist" >
                        <li :key="index">
                            <input type="checkbox" id="tip1" style="display: none"/><label @click="ChangeAddress(item,index)" for="tip1" class="tip_btn" :class="check_address == index?'active':''"></label>
                            <div class="edit">
                                <img src="../../assets/cd_14.png" @click="update(item.id)"/>
                            </div>
                            <div class="address-top">
                                <p class="address">{{item.address}}{{item.detailAddress}}</p>
                                <p class="name">{{item.consignee}}  <span class="mobile">{{item.mobile}}</span></p>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        <button class="exchange_btn bt active" @click="delivery_dialog">确认发货</button>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import Vue from 'vue'
    import network from '@/components/network'
    import { Dialog } from 'vant';
    Vue.use(Dialog);
    export default {
        name: "has_address",
        data(){
            return{
                check_address:0,
                memberGoodsId:"",
                loading:false,
                addresslist: [],
                addressId:"",
            }
        },
        components:{
            network
        },
        methods:{
            onClickLeft() {
                this.$router.replace({
                    path: `/bag`
                })
            },
            onClickRight(){
                this.$router.replace({
                    path: `/add_address`
                })
            },
            update(id){
                this.$router.replace({
                    path: `/add_address`,
                    query:{
                        type:1,
                        id:id
                    }
                })
            },
            reload(){
                this.initData();
            },
            initData(){
                var self = this;
                this.$loading('加载中');
                this.$fetch("rpc/ajax/lottery/address/list",{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var items = response.map.items;
                        self.loading = false;
                        self.addresslist = items;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            ChangeAddress(item,index){
                console.log(item)
                this.addressId = item.id;
                this.check_address  = index;
            },
            delivery_dialog(){
                var self = this;
                Dialog.confirm({
                    message: '确认选择此条地址领取奖品吗？'
                }).then(() => {
                    var id = "";
                    if(self.addressId){
                        id = self.addressId;
                    }else{
                        var list = this.addresslist;
                        if(list){
                            id =  list[0].id
                        }else{
                            self.$toast.center("地址id不存在");
                        }
                    }
                    self.delivery(id);
                }).catch(() => {
                    // on cancel
                });
            },
            delivery(id){
                var self =this;
                this.$loading('领取中');
                this.$post("/rpc/ajax/loong/fetch",{addressId:id,memberGoodsId:self.memberGoodsId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        self.$toast.center("领取成功");
                        self.$router.replace({
                            path: `/syn_result`,
                            query:{
                                memberGoodsId:self.memberGoodsId
                            }
                        })
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        computed:{

        },
        created(){
            this.memberGoodsId = this.$route.query.memberGoodsId || '';
            this.initData()
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>
    .tip_btn {
        background-image: url(../../assets/cd_9.png);
        background-size: 35px;
        background-repeat: no-repeat;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        padding-left: 54px;
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        color:#666
    }

    .tip_btn.active {
        background-image: url(../../assets/cd_10.png);
    }
</style>
