<template>
    <div class="container friendbag">
        <van-nav-bar style="background-color: #ff5858"
                     title="成就"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <img  src="../../assets/loong_bg_bag.png" class="w100" />
        <div class="friend-infor-container">
            <img  alt="暂无头像" title="头像" :src="userInfo.headimgurl"  class="friend-header"/>
            <p class="w100" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">{{userInfo.nickname}}的成就</p>
        </div>
        <div class="list">
            <template v-if="baglist!=''">
                <ul>
                    <li v-for="(item,index) in baglist" :key="index">
                        <div class="jamb">
                            <div class="xhq">
                                <img :src="item.goodsLightImage" alt="暂无图片"/>
                            </div>
                            <p>{{item.goodsName || ""}}</p>
                        </div>
                    </li>
                </ul>
            </template>
            <template v-else>
                <p class="nomessage">暂无成就</p>
            </template>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "friend_bag",
        data(){
            return{
                loading:false,//网路请求
                memberId:"",
                userInfo: { nickname: "", headimgurl:''},
                baglist:[]
            }
        },
        components:{
            network
        },
        methods:{
            reload(){
                this.initData();
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/community`
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/member/"+self.memberId,{activityId:self.$store.state.activityId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.loading = false;
                        var userInfo = map.member || "";
                        self.userInfo.nickname = userInfo.name;
                        self.userInfo.headimgurl = userInfo.image;
                        self.baglist = map.items || [];
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        created(){
            this.memberId = this.$route.query.memberId || '';
            this.initData()
        }
    }
</script>

<style scoped>

</style>
