.kds_animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.kds_animated.forwards{
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.kds_animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.dur-5ms{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.dur-1s{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.dur-2s{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.dur-3s{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.dur-4s{
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}
.kds_animated.delay-5ms {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.kds_animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.kds_animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.kds_animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.kds_animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
@-webkit-keyframes pintu {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@keyframes pintu {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes  spin {
    0%{-webkit-transform:rotate(0deg);}

    100%{-webkit-transform:rotate(360deg);}
}

@keyframes  spin {
    0%{-webkit-transform:rotate(0deg);}

    100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes Backlight {
    0%{
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);

    }
    50%{
        opacity: 0.6;
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
        transform: scale3d(0.6, 0.6, 0.6);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1, 1, 1);
    }

}

@keyframes Backlight {
    0%{
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50%{
        opacity: 0.6;
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
        transform: scale3d(0.6, 0.6, 0.6);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes addone {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }

}

@keyframes addone {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

.addone {
    -webkit-animation-name: addone;
    animation-name: addone;
}

.Backlight {
    -webkit-animation-name: Backlight;
    animation-name: Backlight;
}

.spin {
    -webkit-animation-name: spin;
    animation-name: spin;
}

.pintu {
    -webkit-animation-name: pintu;
    animation-name: pintu;
}
