//$abs:abs;
@mixin abs {
  position: absolute;
}

@mixin rel {
  position: relative;
}
@mixin maxWidth {
  width: 100%;
}
@mixin White {
  color: white;
}

@mixin cen {
  text-align: center;
}

@mixin inline_block {
  display: inline-block;
}

@mixin middle {
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin middleMax {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

@mixin selcet {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
/*头部*/
.top-container{
  padding: 32px 30px 54px 30px;
  background-color: #ffffff;
  @include rel;
  .Recharge{
    @include abs;
    @include middle;
    top: 64%;
    right:30px;
    min-width:120px;
    padding: 0px 30px;
    height: 68px;
    line-height: 74px;
    border:none;
    color:#333;
    font-size: 28px;
    background: -webkit-linear-gradient(top, #FFD700 , #FFBC00); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, #FFD700, #FFBC00); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, #FFD700, #FFBC00); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, #FFD700 , #FFBC00); /* 标准的语法 */
    border-radius:12px;
    &:active{
      opacity: 0.5;
    }
  }
  /*余额*/

  &:after{
    @include abs;
    content: '';
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;

  }
  .header-img{
    @include  rel;
    width: 192px;
    height: 192px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #ffe3cc;
    img{
      @include  abs;
      @include  middleMax;
      width:40%;
    }
  }
  .shop_infor{
    position: absolute;
    top: 35px;
    padding-left: 220px;
    p:first-child{
      font-size: 32px;
      color: #333;
    }
    .price{
      font-size: 28px;
      padding-top: 5px;
      color: #666;
    }
    .number{
      font-size: 28px;
      padding-top: 42px;
      color: #333;
    }
    .once{
      color:#ffbb00;
      padding-top: 20px;
      font-size: 28px;
    }
  }
}
.btnbox{
  padding: 0px 30px;
  @include selcet;
  @include rel;
  padding-top: 20px;
  .balance{
    @include rel;
    height: 100px;
    margin-bottom: 13px;
    .number{
      @include abs;
      @include middle;
      color: #333;
      left: 0px;
      font-size: 32px;
    }
    .history{
      width: 180px;
      right: 80px;
      @include middle;
      @include abs;
    }
    .list{
      width: 90px;
      right: -20px;
      @include middle;
      @include abs;
    }
  }
  .playbtn{
    width: 75vw;
    margin: 0 auto;
    @include selcet;
    &:active{
      opacity: 0.5;
    }
  }
  .history{
    @include abs;
    width: 155px;
    right: 40px;
    top: 26px;
  }
  .haiji_number{
    color: #999;
    font-size: 30px;
  }
  .all{
    margin-top: 88px;
    color:#666;
    font-size:28px;
  }
}
/*底部栏目*/
.bottom_tab{
  position: fixed;
  background-color: #ffffff;
  border-top:solid 1px rgba(255,227,204,0.5);
  bottom: 0px;
  width: 100%;
  height: 110px;
  .balance{
    @include middle;
    @include abs;
    left: 30px;
    color: #333;
    font-size: 32px;
  }
  .history{
    width: 180px;
    right: 10px;
    @include middle;
    @include abs;
  }
}
/*支付弹窗*/
.pay_dialog{
  position: fixed;
  z-index: 99999999;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  .payresult{
    @include middleMax;
    @include abs;
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
    width: 75%;
    p{
      border-bottom: solid 1px #eee;
      font-size: 35px;
      font-weight: bold;
      padding: 25px 0px;
    }
    .result{
      padding: 35px 0px 30px 0px;
      font-size: 32px;
      color:#666
    }
    img{
      width: 35%;
      margin: 50px auto 30px auto;
      &:active{
        opacity: 0.5;
      }
    }
  }
}
.payteam{
  background-color:#ffffff;
  position: fixed;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  bottom: 0px;
  width:100%;
  padding-top: 20px;
  .logo{
    width: 190px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .balance{
    @include abs;
    top: 50px;
    left: 270px;
    font-size: 28px;
    color: #ff3c44;
    p{
      &:first-child{
        font-size: 32px;
        padding-bottom: 22px;
      }
    }
  }
  .close{
    width: 50px;
    @include abs;
    right: 30px;
    top: 60px;
  }
  .tips{
    color:#f4892f;
    text-align: right;
    font-size: 25px;
    padding: 0px 30px;
    color: #ff3c44;
    opacity: 0.74;
    padding-bottom: 30px;
  }
  .listbox{
    ul{
      display: flex;
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: {
        top: 0px;
        right:15px;
        left: 15px;
        bottom: 20px;
      };
      li{
        @include rel;
        padding: 10px 20px;
        margin-top: 20px;
        box-sizing: border-box;
        .item{
          border:solid 2px #ff3c44;
          background-color: #ffffff;
          border-radius: 15px;
          position: relative;
          .gift{
            color: #ff5858;
            font-size: 20px;
            padding-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .give{
            @include abs;
            text-align: center;
            background-color: #ff3c44;
            color: #ffffff;
            font-size:20px;
            line-height: 1.2;
            padding-top: 15px;
            border-radius: 999px;
            box-sizing: border-box;
            overflow: hidden;
            width: 75px;
            height: 75px;
            right: -25px;
            top: -25px;
          }
          .item-top{
            height: 100px;
            box-sizing: border-box;
            padding-top: 12px;
            font-size: 35px;
            color:#ff3c44;
            font-weight: normal;
          }
          .item-bot{
            width: 100%;
            height:60px;
            line-height: 65px;
            color:#ffffff;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            background-color:#ff3c44;
          }
          .item-bot.error{
            background-color:#EEEEEE;
          }
        }
        .item.error{
          border:solid 2px #EEEEEE;
        }
        width: 33.3%;
        &:active{
          opacity: 0.5;
        }
      }
    }
  }
}
/*顶部导航栏*/
.tabbar{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 9999999;
  background-color: #ffffff;
  border-bottom: solid 2px #eee;
  font-size: 38px;
  .title{
    color:#000;
    @include abs;
    @include middleMax;
    display: inline-block;
    line-height: 80px;
    text-align: center;
  }
  .back{
    @include abs;
    @include middle;
    width: 20px;
    left: 30px;
  }
}
/*支付结果*/
.pay_success{
  padding-top: 80px;
  position: fixed;
  background-color: #ffffff;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index:9999;
  .ok{
    color:#ff3c44;
    font-size: 55px;
    margin-top: 35px;
  }
  .openbox{
    padding: 0px 35px;
    color:#666;
    font-size: 32px;
    line-height: 2;
    .twice{
      padding: 40px 0px;
      border-bottom: solid 2px #EBEBEB;
    }
    .bian{
      padding: 30px 0px;
    }
    a{
      color:#333333;
      padding: 0px 10px;
    }
  }
}
.record_list{
  ul{
    padding: 20px 0px;
    li{
      @include rel;
      padding: 0px 20px;
      height: 110px;
      img{
        @include abs;
        @include middle;
        width: 80px;
      }
      .content{
        height: 110px;
        padding-left: 100px;
        padding-right: 140px;
        .title{
          color:#333;
          font-size: 28px;
          padding-top: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .time{
          color:#c7c7c7;
          font-size: 24px;
          padding-top: 10px;
        }
        .money{
          @include abs;
          @include middle;
          font-size: 30px;
          color: #666;
          right: 20px;
        }
      }
    }
  }
}
/*顶部点位格子*/
.top_cell{
  @include  rel;
  background-color: #ffd436;
  height: 98px;
  display: flex;
  align-items: center;
  padding-left: 140px;

  .logo{
    @include  abs;
    @include middle;
    width: 80px;
    left: 30px;
  }
}
/*刮刮卡入口*/
.scraperbox{
  margin-top: 36px;
  .scraper{
    color: #ffffff;
    text-align: center;
    h3{
      font-size: 56px;
    }
    .count{
      font-size: 32px;
      font-weight: bold;
      color: #feef88;
      display: flex;
      @include abs;
      top:32px;
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
      span{
        padding: 0px 10px;
      }
      img{
        height: 2px;
        width: 64px;
        &:first-child{
          transform: rotate(180deg);
        }
      }
    }
    .go{
      right: 10px;
      @include  abs;
      @include middle;
      img{
        width: 94px;
        height: 94px;
      }
    }
  }
}
/*社区广播*/
  .radio{
    position: fixed;
    background-color: #ffffff;
    top: 120px;
    width: 100%;
    z-index: 999;
    button{
      color: #ffffff;
      @include abs;
      top: 0px;
      border:none;
      width: 112px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      right: 50px;
      background: -webkit-linear-gradient(top, #fd646b , #ff3c44); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Firefox 3.6 - 15 */
      background: linear-gradient(to bottom, #fd646b , #ff3c44 ); /* 标准的语法 */;
      box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
      border-radius: 999px;
    }
    .radio-item{
      background-color: #ff5858;
      box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
      height: 68px;
      border-radius: 45px;
      width: 60vw;
      box-sizing: border-box;
      @include rel;
      padding: 2px;
      img{
        border-radius: 999px;
        @include abs;
        @include middle;
        z-index: -1;
        left: 2px;
        width: 60px;
        height: 60px;
      }
      p{
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        line-height: 68px;
        float: left;
      }
      .name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 120px;
        margin-left: 75px;
      }
    }
  }
/*评论列表*/
.commentslist{
   padding: 0px 30px;
 }
.comment-item{
  margin-top: 18px;
  @include rel;
  .header{
    width: 74px;
    height: 74px;
    border-radius: 999px;
    @include abs;
    z-index: 111;
    top:22px;
    left:3px;
    border:solid 3px #ffffff;
    box-shadow: 0px 0px 10px rgba(255,60,68,0.14);
  }
  .rightbox{
    padding-left: 100px;
    .top_comment{
      @include rel;
      height: 100px;
      .content{
        padding:{
          left: 0px;
          top: 18px;
        }
        h3{
          color: #333333;
          font-size: 30px;
          font-weight: normal;
        }
        p{
          color: #999999;
          font-size: 22px;
          margin-top:5px;
        }
      }
    }
    .middle_comment{
      img{
        float: left;
        width: 192px;
        height: 144px;
        border-radius: 8px;
        margin-left: 10px;
        box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
      }
      margin-top: 22px;
      p{
        font-size:26px;
        text-align: justify;
        color: #666666;
        line-height: 1.5;
      }
      .reply{
        margin: 24px 0px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 18px;
        color: #999999;
      }
    }
    .bottom_comment{

    }
    .lookall{
      color: #999;
      font-size: 22px;
      border-bottom: solid 1px #eeeeee;
      padding-bottom: 44px;
    }

  }
}
/*发表动态*/
.report_box{
  padding: 24px 30px;
  .top_report{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    .close{
      font-size: 26px;
      color: #999999;
    }
    button{
      color: #ffffff;
      border:none;
      width: 112px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      border-radius: 999px;
      &:active{
        opacity: 0.5;
      }
    }
    button.active{
      background: -webkit-linear-gradient(top, #fd646b , #ff3c44); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Firefox 3.6 - 15 */
      background: linear-gradient(to bottom, #fd646b , #ff3c44 ); /* 标准的语法 */;
      box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
    }
  }
  textarea{
    border:none;
    width: 100%;
    height: 500px;
    font-size: 27px;
  }
}
/*发表框*/
.message_add_box{
  background-color: #ffffff;
  position: fixed;
  box-sizing: border-box;
  padding:20px;
  bottom: 0px;
  height: 110px;
  left: 0;
  border-top:solid 1px #f1f1f1;
  width: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  input{
    height:72px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% - 162px) ;
    background-color: #efefef;
  }
  button{
    width: 98px;
    height: 72px;
    cursor: pointer;
    background-color: #ff5858;
    border:none;
    border-radius: 8px;
    margin-left: 24px;
    color: #ffffff;
  }
}
/*龙拼图礼包*/
.loong_debris{
  padding: 30px;
  .loong_list{
    .title{
      font-size: 32px;
      color: #333333;
      margin-top: 40px;
      padding-left: 25px;
      @include rel;
      &:after{
        content: "";
        @include abs;
        top: 55%;
        @include middle;
        height: 30px;
        width: 5px;
        background-color: #ff5858;
        border-radius: 10px;
        left: 0px;
      }
    }
    li{
      @include rel;
      height: 110px;
      margin-top: 32px;
      img{
        @include abs;
        @include middle;
        width: 110px;
        height: 110px;
      }
      .rightbox{
        padding: {
          left: 134px;
          top: 5px;
          right: 200px;
        }
        h3{
          color: #333333;
          font-size: 28px;
          font-weight: normal;
          overflow:hidden ;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p{
          color: #999999;
          font-size: 24px;
          margin-top:18px;
        }
      }
      button{
        color: #ffffff;
        @include abs;
        @include middle;
        border:none;
        width: 160px;
        height: 52px;
        line-height: 52px;
        font-size: 24px;
        right: 0;
        background: -webkit-linear-gradient(top, #fd646b , #ff3c44); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, #fd646b , #ff3c44 ); /* 标准的语法 */;
        box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
        border-radius: 16px;
        &:active{
          opacity: 0.5;
        }
      }
    }
   }
  .exchange{
    text-align: center;
    p{
      margin: {
        top: 32px;
        bottom: 38px;
      };
      font-size: 28px;
      color: #666666;
    }
  }
   .debris{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 16px;
    background-color: #fad7ad;
    .loong{
      @include rel;
      box-sizing: border-box;
      border-radius: 14px;
      border: solid 2px #fad7ad;
      overflow: hidden;
      text-align: center;
      .count{
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
        font-size: 24px;
        box-sizing: border-box;
        text-align: left;
        padding-left: 24px;
        border-top-right-radius: 999px;
        display: inline-block;
        width: 100px;
        height: 38px;
        line-height: 38px;
        @include abs;
        bottom: 56px;
        left: 0px;
      }
      p{
        background-color: #ffffff;
        height: 56px;
        line-height: 56px;
      }
    }
    .sm_loong{
      width: 33.3%;

    }
    .hide_loong{
      width: 50%;
    }
  }

}
/*小碎片*/
.JigsawTitle{
  font-size: 48px;
  margin-top: 30px;
  text-align: center;
}
.Jigsaw-bottom{
  padding: 0px 30px;
  .title{
    font-size: 32px;
    font-weight: normal;
    color: #333333;
    margin: {
      top:40px;
      bottom: 32px;
    };
  }
}
.fragment_team{
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  height: 750px;
  .row{
    display: flex;
    justify-content: center;
    .item{
      width: 50%;
      @include rel;
      height: 264px;
      background-color: transparent;
      box-sizing: border-box;
      .count{
        background-color: rgba(0,0,0,0.5);
        width: 110px;
        height: 68px;
        line-height: 68px;
        color: #ffffff;
        border-radius: 8px;
        z-index: 9;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 25px;
        text-align: center;
      }
      .count_left{
        left: 60%;
      }
      .count_right{
        right: 25%;
      }
      img{
        width:284px;
        height: 284px;
        @include abs
      }
      .top{
        top: -40px;
      }
      .top2{
        top: -120px;
      }
      .bottom{
        bottom: -40px;
      }
      .right{
        right: -52px;
      }
      .left{
        left: -52px;
      }
    }
  }
}

.fragment_team_ggk{
    margin: 0 auto;
    height: 750px;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 230px;
    transform: translateX(-50%);
     h3{
       text-shadow:0px 0px 24px rgba(254,59,51,1);
       color: #fffbf0;
       font-size: 56px;
       text-align: center;
       left: 50%;
       bottom: -15px;
       transform: translateX(-50%);
       width: 100%;
     }
  .close{
    position: absolute;
    width: 70px!important;
    height: 70px!important;
    bottom: -200px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
  }
  .next{
    position: absolute;
    width: 200px!important;
    height: 80px!important;
    bottom: -240px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
  }
  .row{
    display: flex;
    justify-content: center;
    .item{
      width:220px;
      height: 220px;
      @include rel;
      background-color: transparent;
      box-sizing: border-box;
      .count{
        background-color: rgba(0,0,0,0.5);
        width: 110px;
        height: 68px;
        line-height: 68px;
        color: #ffffff;
        border-radius: 8px;
        z-index: 9;
        top: 100%;
        transform: translate(-50%,-50%);
        font-size: 25px;
        z-index: 999;
        text-align: center;
      }
      .count_left{
        left: 60%;
      }
      .count_right{
        right: 25%;
      }
      img{
        width:220px;
        height: 220px;
        @include abs
      }
      .top{
        top:66px;
      }
      .top2{
        top: 0px;
      }
      .bottom{
        bottom: -132px;
      }
      .right{
        right: -44px;
      }
      .left{
        left: -44px;
      }
    }
  }
}
/*兑换按钮*/
.exchange_btn{
  color: #ffffff;
  background: #999999;
  border:none;
  width: 100%;
  height: 90px;
  font-size: 32px;
  line-height: 90px;
  border-radius: 16px;
  &:active{
    opacity: 0.5;
  }
}
.exchange_btn.bt{
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.exchange_btn.active{
  background: -webkit-linear-gradient(top, #fd646b , #ff3c44); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, #fd646b , #ff3c44 ); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, #fd646b , #ff3c44 ); /* 标准的语法 */;
  box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
}
/*拥有的盒子*/
.havebox{
  li{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    img{
      border-radius: 8px;
    }
    p{
      padding:20px 0px;
      font-size: 24px;
      color: #333333;
      text-align: center;
    }
  }
}
/*地址管理*/
.address_list{
  ul{
    li{
      padding: 0px 0px 0px 30px;
      color:#000;
      .address-top{
        border-bottom: solid 1px #EDEDED;
        padding: {
          top: 28px;
          bottom: 18px;
        };
        font-size: 28px;
        color: #333333;
        position: relative;
        .name{

        }
        .mobile{
          position: absolute;
          right:30px;
          top:28px;
          color:#333
        }
        .address{
          margin-top: 24px;
          font-size: 24px;
          color: #666666;
        }
      }
      .address-bottom{
        padding: 24px 0px;
        font-size: 24px;
        display: flex;
        align-items: center;
        position: relative;
        .fun-txt{
          padding-left: 16px;
        }
        .edit{
          right:30px;
          position: absolute;
          display: flex;
          align-items: center;
          color:#999;
          img{
            width: 35px;
            height: 35px;
          }
        }
        .remove{
          right:180px;
          position: absolute;
          display: flex;
          align-items: center;
          color:#999;
          img{
            width: 30px;
            height: 40px;
          }
        }
      }
    }
  }
}
/*添加地址*/
.add_address{
  background-color: #ffffff;
  .arrow{
    width: 30px;
    position: absolute;
    right:30px;
    @include middle;
  }
}

/*中奖*/
.Winning{
  .top-box{
    box-sizing: border-box;
    padding: {
      top: 56px;
      left: 50px;
      right: 50px;
    };
    .lucky-count{
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      font-size: 58px;
      margin-top: 64px;
      bottom: 0px;
     letter-spacing: 5px;
    }
  }
  .bottombox{
    padding: 0px 20px;
    .art-item{
        box-sizing: border-box;
        padding:{
          top: 20px;
          left: 20px;
          right:20px;
          bottom: 0px;
        };
        margin:{
          top: 23px;
          left: auto;
          right: auto;
        };
        text-align: center;
        color: red;
        @include rel;
        .title{
          @include abs;
          font-size: 30px;
          left: 50%;
          top:7.5%;
          transform: translateX(-50%);
        }
         .title.sm{
          font-size: 24px;
          top:8.5%;
         }
        .award{
          @include abs;
          left: 50%;
          top: 33%;
          transform: translateX(-50%);
          width: 35%;
        }
    }
  }
  .luck{
    margin:{
      top: 70px;
      bottom: 20px;
      left: auto;
      right: auto;
    }
  }
}
/*物流*/
.logistics{
  @include rel;
  height: 120px;
  background-color: #ffffff;
  padding: 35px 30px;
  img{
    @include abs;
    width: 120px;
    @include middle;
  }
  .logbox{
    height: 120px;
    padding-left: 140px;
    .name{
      font-size: 30px;
      color: #333333;
    }
    .way{
      margin-top: 15px;
      color: #333333;
    }
    .time{
      color: #999999;
      margin-top: 10px;
      font-size: 20px;
    }
  }
}
/*领货地址*/
/*地址管理*/
.adsm{
  margin-bottom: 150px;
  ul{
    li{
      padding: 0px 0px 0px 110px;
      @include rel;
      color:#000;
      .edit{
        right:30px;
        position: absolute;
        @include middle;
        display: flex;
        z-index: 30;
        align-items: center;
        color:#999;
        img{
          width: 35px;
          height: 35px;
        }
      }
      .address-top{
        border-bottom: solid 1px #EDEDED;
        padding: {
          top: 28px;
          bottom: 18px;
          right:120px;
        };
        font-size: 28px;
        color: #333333;
        position: relative;
        .name{
           margin-top: 10px;
        }
        .mobile{
          color:#333;
          padding-left: 100px;
        }
        .address{
          font-size: 24px;
          color: #666666;
        }
      }
      .address-bottom{
        padding: 24px 0px;
        font-size: 24px;
        display: flex;
        align-items: center;
        position: relative;

      }
    }
  }
}
/*别人背包*/
.friendbag{
  .friend-infor-container{
       @include abs;
       top: 0px;
       text-align: center;
       left: 50%;
       top: 12.5%;
       transform: translateX(-50%);
      .friend-header{
        width: 137px;
        height: 137px;
        border-radius: 999px;
        border: solid 5px white;
        margin: 0 auto;
        box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
      }
      p{
        font-size: 38px;
        color: #000000;
        margin-top: 20px;
      }
  }
  .list{
    padding: 0px 20px;
    margin-top: 100px;
    .nomessage{
      border:dashed 2px #ff5858;
      color: #ff5858;
      width: 95%;
      margin: 0 auto;
      box-sizing: border-box;
      text-align: center;
      margin-top: 150px;
      height: 150px;
      font-size: 30px;
      line-height:150px;
      border-radius: 8px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 33.3%;
        box-sizing: border-box;
        padding: 20px;
        overflow: hidden;
        .jamb{
          border: solid 2px #fad7ad;
          border-radius: 8px;
          text-align: center;
          .xhq{
            height: 200px;
            background-color: #84060D;
            display: flex;
            align-items: center;
            align-items: center;
            img{
              margin: 0 auto;
              width: 100%;

            }
          }
          p{
            height: 56px;
            border-radius: 8px;
            line-height: 56px;
          }
        }
      }
    }
  }
}
/*和成结果*/
.syn{
  .syn-top{
    li{
      padding: 0px 0px 0px 73px;
      border-bottom: solid 1px #EEEEEE;
      @include rel;
      .nice{
        width: 49px;
        height: 49px;
        @include abs;
        @include middle;
        left: 0px;
      }
      .address-top{
        padding: {
          top: 30px;
          bottom: 30px;
          right:0px;
        };
        font-size: 28px;
        color: #333333;
        position: relative;
        .time{
          font-size: 24px;
          margin-top: 20px;
          color: #999999;
        }
        .result{
          font-size: 32px;
          color: #333333;
        }
        .name{
          color: #666666;
          font-size: 28px;
        }
        .mobile{
          color: #666666;
          font-size: 28px;
          @include abs;
          right: 0px;
        }
        .address{
          font-size: 28px;
          margin-top: 14px;
          color: #666666;
        }
      }
      .address-bottom{
        padding: 24px 0px;
        font-size: 24px;
        display: flex;
        align-items: center;
        position: relative;

      }
    }
  }
}
/*领奖成功弹窗*/
.loongdialog{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  .mixmiddle{
    @include rel;
    .jamb{
      width:90%;
      margin: 0 auto;
    }
    .content{
      text-align: center;
      @include abs;
      top: 69%;
      left: 50%;
      color: #fffbf0;
      font-size: 56px;
      transform: translate(-50%,-50%);
      h3{
        text-shadow:0px 0px 24px rgba(254,59,51,1);
      }
      .Prize{
        margin-top:24px;
        width: 238px;
        height: 238px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #84060C;
        border-radius: 8px;
        border:solid 4px #fff8c5;
        text-shadow:0px 0px 32px rgba(254,59,51,1);
      }
      button{
        width: 180px;
        height: 64px;
        line-height: 64px;
        border-radius: 8px;
        background-color: #ffffff;
        color: #ff5858;
        font-size:28px ;
        margin-top: 40px;
        border: solid 1px #ff7800;
        box-shadow:0px 0px 24px rgba(254,59,51,1);
      }
    }
  }
}
/*dcard*/
/*本宫娃娃*/
.card-container{
  position: fixed;
  top: 40px;
  bottom: 0rem;
  width: 100%;
  text-align: center;
  .card-logo{
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .circle{
    width: 80vw;
    height: 80vw;
    border-radius: 9999px;
    margin: 80px auto;
    background-color: rgba(206,55,90,0.8);
    .card-nice{
      color:#FCFF00;
      font-size: 65px;
      display: inline-block;
      margin-top:210px;
    }
    .card-dall{
      color:#FFF;
      font-size: 80px;
      margin-top: 20px;
      .card-bi{
        width: 60px;
        height: 60px;
        display: inline;
      }
    }
  }
  .card-bi{
    width: 60vw;
    margin: 0 auto;
  }
}
/*嗨币充值*/
.head-qr-container{
  display: flex;
  position: relative;
  padding: 0rem 30pz;
  align-items: center;
  height:300px;
  .headLeft{
    width: 35%;
    @include cen;
  }
  .headRight{
    width: 66%
  }
  .logo{
    height:200px;
    display: inline-block;

  }
  .topup-header-box{
    width:350px;
    border:1.5px dashed white;
    border-radius:16px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 20px;
    img{
      width:50px;
    }
    .topup-title{
      color:white;
      font-size: 40px;
    }
    .topup-balance{
      color:yellow;
      font-size:40px;
      margin-top: 10px;
    }
  }
}
/*任务*/
.task-box{
  width: 100%;
  .task{
    padding:0rem;
    border-bottom:solid 1px #FFF;
    .time{
      background-color:#E11F41;
      position:relative;
      height:42px;
      line-height:47px;
      color:#FFFF;
      font-size:22px;
      border-top-left-radius:10px;
      border-top-right-radius:10px;

      .backty{
        height:15px;
        background-color:#EB5F79;
        position:absolute;
        top:3px;
        width:98%;
        left:1%;
        border-radius:999px;

      }
      .starttime{
        position: absolute;
        left: 10px;
        color:#fff;
        z-index: 500;
      }
      .Remaintime{
        position: absolute;
        right: 10px;
        color:#fff;
        z-index: 500;
      }
    }
    .advert{
      height:160px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .progress-box{
    padding:0px;
    .progress-line{
      background-color:#FE5E7A;
      border-bottom-left-radius:0.3rem;
      border-bottom-right-radius:0.3rem;
      position:relative;
      //padding:1rem 1.5rem;
      .progress{
        background-color:#CA2D4A;
        height:45px;
        line-height:45px;
        border-radius:8px;
        width:100%;
        text-align:center;
        position:relative;
        margin-top: 1px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        //box-shadow:0px 0px 12px #71081b;
        span{
          color:#FFF;
          font-size:25px;
          text-shadow:#9c0f28 1px 0 0,#9c0f28 0 1px 0,#9c0f28 -1px 0 0,#9c0f28 0 -1px 0;
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
        }
        .progress-loading{
          background:-webkit-linear-gradient( #fff6b0,#fce749 );
          background:-o-linear-gradient(#fff6b0,#fce749);
          background:-moz-linear-gradient(#fff6b0,#fce749);
          background:linear-gradient(#fff6b0,#fce749);
          border-radius:8px;
          width:200px;
          height:28px;
        }
      }
    }
  }
}
/*我的背包*/
.headcontainer {

}
.mine-num-container{
  display: flex;
  position: absolute;
  left:40px;
  right:40px;
  top:220px;
  height: 120px;
  background-color: #ffffff;
  box-shadow:0px 0px 25px #ffc9c9;
  border-radius: 16px;
  .mine-num{
    width: 50%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mine-font-num{
    font-size: 30px;
    color: #000000;
  }
  .mine-font-type{
    font-size: 25px;
    color: #000000;
  }
}
/*无讯息*/
.no-content{
  display: block;
  padding:60px 0px;
  width: 88%;
  text-align: center;
  margin:{
    top: 0px;;
    left: auto;
    right: auto;
  };
  border:dashed 2px #FF3C44;
  box-sizing: border-box;
  border-radius: 12px;
  span{
    font-size: 35px;
    color:#999;
  }
}
/*我的模块*/
.mine-content-content{
  padding:{
    top: 40px;
    left: 30px;
    right: 30px;
    bottom: 150px;
  }
}
.my-dallbox{
  display: flex;
  flex-wrap: wrap;
  .dall-item{
    border-radius: 0.6rem;
    position: relative;
    box-sizing: border-box;
    width: 33.3%;
    padding: 10px;
    .dall-baby{
      padding: 8px;
      text-align: center;
      border-radius: 8px;
      .dall-item-goods-image{
        border-radius: 8px;
        border:solid  2px #ffb1b4;
        padding: 15px;
        width: 75%;
        margin:{
          top: 0px;
          left: auto;
          right: auto;
          bottom: 16px;
        }
      }
      .consume-goods-name{
        font-size: 24px;
        color:#333333;
      }
      .dall-goods-name{
        font-size:28px;
      }
      .dall-item-text-small{
        display:block;
        font-size: 20px;
        padding: 8px 10px;
        text-align: center;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 8px;
        position: absolute;
        background-color: rgba(0,0,0,0.24);
        color: #ffffff;
        left: 12px;
        top:12px;
      }
    }
  }
}
/*我的卡劵*/
.content-container-item{
  padding: 0rem 30px;
  .container-item{
    height:150px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;

  }
  .left{
    @include White;

    flex:1.5;
    .text1{
      font-size: 40px;
      padding-left: 30px;
      padding-top: 30px;
      width: 100%;
    }
    .text2{
      display: block;
      font-size: 20px;
      width: 100%;
      padding-left: 30px;
    }
  }
  .right{
    @include White;
    @include cen;
    flex:1;
    text-align: center;
    .text1{
      font-size: 30px;
      padding-top: 35px;
    }
    .text2{
      padding-top: 15px;
      font-size: 20px;
    }
    .nouse{
      height: 150px;
      margin: 0 auto;
    }
  }

}
/*首页卡劵弹窗*/
.content-index-dialog{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 99999;
  .more{
      width:25%;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      bottom: 60px
  }
  .close{
    width: 70px;
    height: 70px;
    left:50%;
    margin-top: 20px;
    @include abs;
    transform: translateX(-50%);
  }
}
.content-index-item{
  padding: 0rem 30px;
  .error{
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    text-shadow:0px 0px 24px rgba(215,46,46,1);
  }
  .container-gameCoin{
    margin-top: 64px;
    .jinshan{
      width: 50%;
      margin: 0 auto;
    }
    .haibi{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      font-size: 48px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      text-shadow:0px 0px 24px rgba(215,46,46,1);
      img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
      }
    }
  }
  .container-item{
    height:130px;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;

  }
  .left{
    @include White;

    flex:1.5;
    .text1{
      font-size: 28px;
      padding-left: 32px;
      padding-top: 24px;
      width: 100%;
    }
    .text2{
      display: block;
      font-size: 20px;
      width: 100%;
      padding-left: 32px;
      padding-top: 20px;
      color: rgba(255,255,255,0.92);
    }
  }
  .right{
    @include White;
    @include cen;
    flex:1;
    text-align: center;
    .text1{
      font-size: 26px;
      padding-top: 30px;
    }
    .text2{
      padding-top: 12px;
      font-size: 20px;
    }
    .nouse{
      height: 150px;
      margin: 0 auto;
    }
  }

}
/*新购买支付页面样式*/
.buy-message-infor{
  @include rel;
  width: 90%;
  margin: {
    top: -78px;
    left: auto;;
    right: auto;
  };
  height:300px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 60px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 0px 32px rgba(77,77,77,0.08);
  -webkit-box-shadow:0px 0px 32px rgba(77,77,77,0.08);
  -o-box-shadow: 0px 0px 32px rgba(77,77,77,0.08);
  -moz-box-shadow:0px 0px 32px rgba(77,77,77,0.08);
  .title{
    color:rgba(51,51,51,1) ;
    font-size: 36px;
  }
  .locationCode{
    color:rgba(102,102,102,1) ;
    font-size: 26px;
    margin-top: 15px;
  }
  .machineCode{
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,88,88,1);
    color:#ffffff;
    box-shadow: 0px 0px 28px rgba(255,88,88,0.2);
    font-size: 22px;
    border-radius: 999px;
    @include abs;
    right: 60px;
    top: 60px;
  }
  .cir_machineCode{
    width: 125px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,88,88,1);
    color:#ffffff;
    box-shadow: 0px 0px 28px rgba(255,88,88,0.2);
    font-size: 22px;
    border-radius: 50% / 50%;
    @include abs;
    right: 60px;
    top: 60px;
  }
  .rmb{
    margin-top: 30px;
    color:rgba(255,88,88,1);
    font-size: 48px;
    .sym{
      font-size: 30px;
    }
    .oldsale{
      font-size: 26px;
      color:rgba(198,198,198,1) ;
      padding-left: 24px;
      text-decoration: line-through;
    }
  }
}
/*换币弹窗*/
/*领奖成功弹窗*/
.Transfordialog{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  .mixmiddle{
    @include rel;
    margin-top: 18vh;
    .jamb{
      width:88%;
      margin: 0 auto;
    }
    .content{
      text-align: center;
      @include abs;
      top: 71%;
      left: 50%;
      width: 60%;
      color: #fffbf0;
      font-size: 32px;
      transform: translate(-50%,-50%);
      h3{
        text-shadow:0px 0px 24px rgba(254,59,51,1);
        letter-spacing: 5px;
        line-height: 1.8;
      }
      p{
        margin-top: 20px;
      }
      .Prize{
        margin-top:24px;
        width: 238px;
        height: 238px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #84060C;
        border-radius: 8px;
        border:solid 4px #fff8c5;
        text-shadow:0px 0px 32px rgba(254,59,51,1);
      }
      button{
        width: 180px;
        height: 64px;
        line-height: 64px;
        border-radius: 8px;
        background-color: #ffffff;
        color: #ff5858;
        font-size:28px ;
        margin-top: 40px;
        border: solid 1px #ff7800;
        box-shadow:0px 0px 24px rgba(254,59,51,1);
      }
    }
    .close{
      position: absolute;
      width: 80px;
      height: 80px;
      left: 50%;
      bottom: -140px;
      transform: translateX(-50%);
    }
  }
}
/*兑奖*/
.cash-box{
  @include cen;
  margin-top: 50px;
  width: 100%;
  z-index: 999;
  h3{
    color: #512C00;
    font-size: 45px;
  }
  .cash-tip{
    color: #512C00;
    font-size:32px;
    font-weight:400;
  }
  .has{
    font-size:40px;
    display: inline-block;
    margin: {
      top:48px;
      bottom:27px
    };
  }
}
/*公共价格盒子*/
.prize-box{
  img{
    width: 200px;
    margin:{
      top:45px;
      left: auto;
      right: auto;
      bottom: 17px;
    }
  }
  p{
    color:rgba(81,44,0,1);
    font-weight:400;
  }
  .name{
    font-size:38px;
  }
  .curtime{
    font-size:28px;
    margin-top: 24px;
  }
  .ac-name{
    font-size:28px;
    margin-top:52px;
  }
}
/*拼图*/
.Jigsaw{
  width: 500px;
  @include abs;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  .m-t{
    margin-top: -60px;
  }
  .m-t-xs{
    margin-top: -60px;
  }
  .l-m{
    margin-right: -110px;
  }
  .r-m{
    margin-left: -110px;
  }
  .m-t-sm{
    margin-top: -12px;
  }
  .row{
    display: flex;
    position: relative;
    .count{
      background-color: rgba(0,0,0,0.3);
      width: 80px;
      height: 40px;
      line-height: 40px;
      border-radius: 8px;
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      @include abs;
    }
    .count-t1{
      top: 65px;
    }
    .count-t2{
      top: 85px;
    }
    .count-t3{
      top: 105px;
    }
    .count-l{
      left: 50px;
    }
    .count-m{
      left: 50%;
      transform: translateX(-50%);
    }
    .count-r{
      right: 50px;
    }
    img{
      width:240px;
      height:207px;
    }
  }
}
.Jigsaw-box{
  margin-top: 120px;
  text-align: center;
  h3{
    color: #4B2E0B;
    font-size:38px;
    font-weight:500;
  }
  button{
    font-size:35px;
    font-weight:500;
    border-radius: 8px;
    height: 88px;
    width: 465px;
    line-height:88px;
    margin: {
      top: 32px;
    };
    background-color:#ffffff;
    border: solid 3px #F9A948;
    color:rgba(75,46,11,1);
  }
  p{
    font-size: 28px;
    color: #4B2E0B;
    font-weight:400;
  }
  .curtime{
    margin-top: 37px;
  }
  .ac-name{
    margin-top:52px;
  }
}
.jigsaw-bottom{
  position: fixed;
  width: 100%;
  bottom: 125px;
  height: 88px;
  background-color:#ff5858;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px;
}
.jigsaw-bottom .left{
  color:#ffffff;
  font-size:30px;
  font-weight:400;
}
.jigsaw-bottom .right{
  width: 173px;
  height: 55px;
  line-height: 55px;
  font-size:32px;
  color:#4B2D0A;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
}
