/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    /* 解决IOS默认滑动很卡的情况 */
    -webkit-overflow-scrolling : touch;
}
.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
    resize: none;
    border: none;
}
input:disabled, input[disabled]{
    color: #000;
    -webkit-text-fill-color:#333;
    -webkit-opacity:1;
    opacity: 1;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#c7c7c7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#c7c7c7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c7c7c7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c7c7c7;
}
/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* 图片自适应 */
img {
    /*width: 100%;*/
    /*height: auto;*/
    /*width: auto\9; !* ie8 *!*/
    display: block;
    -ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button,
form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    height: 100%;
    font-family: PingFangSC-Regular, sans-serif;
    /*background-color: #F7F7F7;*/
}
em, i {
    font-style: normal;
}
ul,li{
    list-style-type: none;
}
strong {
    font-weight: normal;
}
table{
    border-collapse:collapse;
    border-spacing:0
}
textarea {
    resize:none; /*禁用了文本的拖拉，尤其在谷歌下*/
}
p {
    word-wrap:break-word; /* 不够的单词自动换行 而不会被截掉 */
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Microsoft YaHei';
}
img {
    border: none;
}
input{
    font-family: 'Microsoft YaHei';
}
/*单行溢出*/
.one-txt-cut{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}
/* 移动端点击a链接出现蓝色背景问题解决 */
a:link,a:active,a:visited,a:hover {
    background: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.overflow {overflow:hidden; }
.h200{
    height: 200px;
}
.w100{
    width: 100%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.w50{
    width: 50%;
}
.w25{
    width: 25%;
}
.w20{
    width: 20%;
}
.w33{
    width: 33.333333%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.db{
    display: block !important;
}
.dn{
    display: none;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.cen{
    text-align: center;
}
.block_cen{
    margin: 0 auto;
}
.tl{
    text-align: left;
}
.c6{
    color: #666!important;
}
.c9{
    color: #999!important;
}
.tthide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 附加 */
#app{
    display: block;
    height: 100%;
    width: 100%;
    background-color:#ffffff;
}
.container{
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .1s ease;
}
.slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}
.netbox{
    position: fixed;
    background-color:#ffffff;
    top: 0px;
    bottom: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 999999999;
}
.loading{
    width: 65%;
    margin: 1rem auto;
    margin-top:200px;
}
.retry-btn {
    width: 25%;
    margin: 1rem auto;
}
.retry-btn:active{
    opacity: 0.5;
}

.currentline{
    height: 20px;
    background-color:#f7f7f7;
}
/*使用者模块*/
.user-container{
    height: 350px;
    position: relative;
    background-image: url("../assets/loong_bg_1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.userinfo-name{
    position: absolute;
    top:90px;
    left:200px;
    color:#ffffff;
    font-size: 32px;
}
.userinfo-avatar {
    width:138px;
    height:138px;
    border-radius: 9999px;
    border:solid 6px #ffffff;
    box-shadow: 0px 0px 14px #ffffff;
    background-color: #ffffff;
    position: absolute;
    top:40px;
    left:30px
}
.btn-buy{
    width: 210px;
    height: 76px;
    border:none;
    color:#ff8737;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 40px;
    right: 30px;
    font-size:34px;
}
.btn-buy:active{
  opacity: .8;
}
.money{
    position: absolute;
    background-size: 56px;
    display: flex;
    text-align: center;
    top:130px;
    right: 30px;
    font-size: 44px;
    color: #ffffff;
}
.money img{
    width: 45px;
    height: 45px;
    padding-left: 10px;
}
.qrbox{
    margin-top:-110px;
    width: 100%;
    position: relative;
}
.qrbox .dls{
    color: #fee786;
    position: absolute;
    top: -42px;
    z-index: 500;
    left: 50%;
    transform: translateX(-50%);
    border:solid 6px #fad7ad;
    background-color:#f83c43 ;
    padding: 0px 32px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 36px;
    font-weight: bold;
}
.qrcode-game{
    margin:0 auto;
    border-radius:16px;
    background-color: #FFF;
    padding:50px 50px 90px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 40px rgba(255,60,68,0.14);
}
.qrcode-game img{
    width: 100%;
    height: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
}
.qrcode-game .tips{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 28px;
    color: #3f220e;
}
.like{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 27px;
    color: #999999;
    background-image: url("../assets/loong_like.png");
    background-size: 35px;
    padding:10px 42px 10px 10px;
    background-repeat: no-repeat;
    background-position: right 3%;
}
.like.active{
    background-image: url("../assets/loong_like_active.png");
    color: #ff5858;
}
.divider{
    background-color: #EEEEEE;
    height: 20px;
}
.Leavebox{
    padding: 0px 30px;
    padding-bottom: 20px;
}
.Leave-amin{
    padding: 10px 30px 30px 30px;
}
.all-cms{
    height: 80px;
    line-height: 80px;
    padding: 0px 30px;
    font-size: 28px;
    border-bottom: solid 1px #EEEEEE;
}
.loong_banner{
    margin: 44px auto 0px auto;
}
.hang_btn{

}
/*刮刮卡*/
.cardbox{
    background-image: url("../assets/loong_bg_ggk.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 40px 45px;
    width: 78vw!important;
    box-sizing: border-box;
    margin: 0 auto;
}
.cardbox .cardname{
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    bottom: 15%;
    color: #8b0a0f;
}
.cardbox .task{
    position: absolute;
    z-index: 9999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardbox .task button{
    border-radius: 16px;
    background-color: #ff5858;
    font-size: 32px;
    color: #ffffff;
    width: 312px;
    height: 72px;
    line-height: 72px;
    border:none;
}
.sccard{
    border:solid 1px #eee;
    border-radius: 8px;
}
.ggk{
    background-image: url("../assets/loong_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ggk .arrowbox{
    box-sizing: border-box;
    position: relative;
    padding: 30px;
    /*height: -moz-calc(100% - 70px);*/
    /*height: -webkit-calc(100% - 70px);*/
    height: calc(100% - 95px);
}
.arrowall{
    position: absolute;
    width: 160px;
}
.arrow1{
    top: 30px;
    left: 30px;
}
.arrow2{
    top: 30px;
    right: 30px;
    transform: rotate(90deg);
}
.arrow3{
    bottom: 30px;
    left: 30px;
    transform: rotate(270deg);
}
.arrow4{
    bottom: 30px;
    right: 30px;
    transform: rotate(180deg);
}
.ggk_box{
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    height: 90px;
    line-height: 90px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 83%;
    margin: 48px auto;
}
.ggk_box .count{
    color: #fff158;
}
.ggk_box .line{
    padding: 0px 20px;
}
.ggk_box .next{
    padding: 0px 20px;
}
.ggk_box .next:active{
    opacity: 0.8;
}
.adres-te{
    padding: 30px;
    color: #333333;
    font-size: 32px;
    border-bottom: solid 1px #EEEEEE;
}
/*qrcode*/
.qr-num{
    color: #ffffff;
    font-weight: 600;
    font-size:45px;
    padding:80px 40px;
    text-align: center;
}
.qr-btn{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
/*呱呱卡盒子*/
.ggkdialog{
    position: fixed;
    width: 15vw;
    top: 46vh;
    right: 10px
}
.ggkdialog .count{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#feef88;
    font-size: 35px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-weight: bold
}
/*我的*/
.headcontainer {
    width: 100%;
    height: 290px;
    background-image: url("../assets/mine_banner.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
}
.mine-userinfo-avatar{

}
.userinfo{
    height: 100%;
    padding-left: 210px;
    color: #ffffff;
    padding-top: 75px;
}
.userinfo .userinfo-nickname{
    font-size: 35px;
}
.userinfo .userinfo-grade{
    font-size: 38px;
}
.mine-num:first-child:after{
    position: absolute;
    content: "";
    border-left: solid 2px #ffd6d7;
    height: 90px;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
}

.mine-content-header{
    height: 100px;
    line-height: 100px;
    margin-top:100px;
    display: flex;
    width: 100%;
}
.mine-content-header-item{
    width: 50%;
    text-align: center;
    font-size: 30px;
}
.mine-content-header-item span{
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
.mine-content-header-item.active span{
    background-color:#FF3C44;
    color: #FFF;
    padding:25px  60px
}
.mine-content-header-item.selected span{
    position: relative;
    padding-left: 1rem;
    color: #FF3C44;
}
.mine-content-header-item.selected span:after{
    content: '';
    position: absolute;
    width: 0.3rem;
    height: 2rem;
    background-color:#FF3C44;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
/*消费记录*/
.mine-consume-item{
    border-radius:16px;
    position: relative;
    display: flex;
    height:95px;
    margin-bottom:30px;
}
.mine-consume-item-content{
    box-sizing: border-box;
    height: 95px;
    line-height: 1.1;
    padding-left: 134px;
}
.mine-consume-item-content .consume-goods-name{
    color:#666666;
    font-size: 28px;
    padding-top: 14px;
}
.mine-consume-item-content span{
    display:block;
    color: #999999;
}
.mine-small{
    font-size:25px;
}

.mine-consume-line{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mine-consume-item-right{
    width: 25%;
    line-height: 90px;
    text-align: right;
    font-size: 30px;
    position: relative;
    border-top-right-radius: 16px;
    border-bottom-right-radius:16px;
    color:#999999;
}
.mine-consume-item-left{
    width: 75%;
    position: relative;
}
.goods-image{
    width: 98px;
    position: absolute;
    border-radius: 8px;
    left: 60px;
    top: 50%;
    box-shadow: 0px 0px 16px rgba(255,88,88,0.16);
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.mine-time{
    padding-top: 24px;
    font-size: 25px;
}
.color-red{
    color: #FF3C44!important;
}
/*我的嗨币*/
.rowbox{
    padding: 0rem 30px;
}
.contentContainer-item{
    border-bottom:solid 1px #F3F3F3;
    position: relative;
    height: 150px;
}
.contentContainer-item-mid{
    padding-left: 145px;
    padding-top: 35px;
}
.contentContainer-item-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0rem;
    font-size: 30px;
    color:#666
}
.contentContainer-item-mid .up{
    font-size: 30px;
    line-height: 40px;
    display: inline-block;
    color:#646464;
}
.contentContainer-item-mid .down{
    padding-top: 10px;
    font-size: 30px;
    color:#646464;
}
.contentContainer-item img{
    position: absolute;
    width: 100px;
    height:100px;
    top:50%;
    left:0px;
    transform: translateY(-50%);
}
/*我的卡卷*/
.pop-coupon{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
}
.pop-containter{
    background-color: #FF3C44;
    width: 80%;
    border-radius: 16px;
    padding:30px;
    box-sizing: border-box;
    margin: 0 auto;
}
.pop-containter-header{
    height: 100px;
    position: relative;
    border-bottom: dashed 2px #ffffff;
    padding-bottom: 20px;
}
.pop-containter-header .left {
    width:80px;
}
.pop-containter-header .right {
    width: 40px;
    height:40px;
    position: absolute;
    right: 0px;
    top: 0rem;
}
.pop-containter-title{
    padding: 30px 0rem 20px 0rem;
    display: flex;
}
.pop-containter-title .left{
    flex:1;
    font-size: 35px;
    color: white;
    padding-right: 0.5rem;
}
.pop-containter-title .right{
    color: #FFF;
    font-size:30px;
}
.pop-containter-content{
    background-color: #ffffff;
    padding:20px;
    text-align: center;
    position: relative;
}
.pop-containter-content .ts{
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 10px;

    transform: translateX(-50%);
}
.coupon-qrcode{
    padding: 20px 20px 50px 20px;
    border-radius: 6px;
    box-sizing: border-box;
}
.coupon-qrcode img{
    margin: 0 auto;
}
.game-button{
    color: #FFF;
    margin:40px auto 0px auto;
    background-color: #FF3C44;
    border-radius: 16px;
    font-size: 32px;
    border: solid 2px #FF3C44;
    height: 90px;
    line-height: 90px;
    width: 60%;
}
.topup-qrcode{
    width: 150px;height:150px;box-shadow: 0px 0px 10px #ffc4c7;padding:10px;border-radius:8px;margin: auto;
}
.topup-tt{

}
.topup-tt p:first-child{
    margin-top: 10px;
}
.topup-tt p:last-child{
    font-size: 38px;
    margin-top: 5px;
}
.center{
    text-align: center;
}
.call {
    color: #999;
    text-align: center;
    font-size: 28px;
}
.scan-btn{
    width: 32vw;
    margin: 50px auto 0px auto;
}
.rules{
    width: 70vw;
    margin: 50px auto 40px auto;
}
.joined{
    width: 60vw;
    margin: 156px auto;
}
/*领奖背景*/
.loong_bg{
    background-image: url("../assets/loong_bg_1.jpg");
    background-repeat: repeat;
    position: absolute;
}
.follow{
    background-image: url("../assets/loong_bg_2.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*挂刮卡挂后效果*/
.puzzle_ani{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}
.puzzle_ani .son{
    position: relative;
    border:solid 1px #ffffff;
}
.puzzle_ani .Halo{
    position: absolute;
    width: 400px!important;
    height: 400px!important;
    z-index: 10;
    transform-origin: center center;
    animation-timing-function:linear;
}
.puzzle_ani .add{
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    z-index: 99;
    animation-fill-mode: forwards;
}
.dzgl{
    font-size: 28px;
    color: #666666;
}
.Transfor{
    padding: 10px 12px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 24px;
    background-color: #FF3C44;
    border:solid 2px #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right:10px;
}
.scan-box{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;z-index: 99999999;
}
.scan-box p{
   font-size: 40px;
    color: #000000;
}
.scan-box img{
    margin: 20px auto;
    width:200px;
    height:200px;
}
.scan-box button{
    width: 180px;
    height: 64px;
    line-height: 64px;
    border-radius: 8px;
    background-color: #ffffff;
    background-color: rgba(254,59,51,1);
    color: #ffffff;
    font-size:28px ;
    margin-top: 40px;
    border: solid 1px #ff7800;
}
.flower{
    background-image: url("../assets/bg-hCard.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
/*玩游戏*/
.playbox{

}
.playbox .top{
    padding: 0px 30px;
    background-image: url("../assets/bg@2x.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 300px;
}
.playbox .top img{
    width: 160px;
    height: 160px;
}
.playbox .top .location{
    padding-left: 8px;
    line-height: 1.6;
    font-size: 40px;
    color: #333333;
}
.playbox .middle {
    padding-top: 94px;
}
.playbox .bottom {
    padding: 0px 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    border-top: solid 1px #eeeeee;
}
.playbox .bottom .cou-money{
    font-size: 32px;
    color: #222222;
}
.playbox .bottom img{
    width: 258px;
    height: 88px;
}
.coupon-bottom{
    background-color: #ffffff;
    height: 120px;
    border-top: solid 1px #eeeeee;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0px;
    font-size: 30px;
}
.coupon-dialog{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999999;
}
.coupon-dialog .dialog-item{
    background-color: #ffffff;
    width: 612px;
    margin:20% auto 0 auto;
    border-radius: 16px;
}
.coupon-dialog .dialog-item .coutop{
    background-color: #ffd900;
    height: 240px;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.coupon-dialog .dialog-item .coutop h3{
    font-size: 38px;
    color: #333333;
}
.coupon-dialog .dialog-item .coutop .shop{
    font-size: 28px;
    margin-top: 8px;
    color: #333333;
}
.coupon-dialog .dialog-item .coutop .shuo{
    font-size: 24px;
    margin-top:30px;
    color: #333333;
}
.coupon-dialog .dialog-item .coutop .je{
    font-size: 38px;
    color: #333333;
    margin-top: 26px;
}
.coupon-dialog .dialog-item .coutop img{
    width: 148px;
    height: 148px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.coupon-dialog .dialog-item .coumiddle{
    box-sizing: border-box;
    padding: 40px;
}
.coupon-dialog .dialog-item .xld{
    color: #333333;
    margin-top: 20px;
    font-size: 26px;
}
.coupon-dialog .dialog-item .coumiddle .card{
    text-align: center;
    font-size: 40px;
}
.coupon-dialog .dialog-item .coumiddle .tips{
    font-size: 26px;
    color: #666666;
    margin-top: 26px;
    text-align: center;
}
.coupon-dialog .dialog-item .coubottom{
    background-color: #ffffff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.coupon-dialog .dialog-item .coubottom  ul{
    display: flex;
    border-top: solid 1px #eeeeee;
}
.coupon-dialog .dialog-item .coubottom  li{
    width:50%;
    text-align: center;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    color: #333333;
}
.coupon-dialog .dialog-item .coubottom  li:first-child{
    border-right: solid 1px #eeeeee;
    color: #999999;
}
.coupon-tab{
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 999;
    background-color: #ffffff;
}
.crt{
    height: 180px;
}
.crt1{
    height: 80px;
}
.coupon-tab ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.coupon-tab .coupon-item{
    font-size: 32px;
    color: #333;
    border-radius:8px;
    width: 172px;
    height: 64px;
    line-height: 64px;
    text-align: center;
}
.coupon-tab .coupon-item.active{
    background-color: #ff5858;
    color:#ffffff;
}
.dh{
    background-color: #ff5858;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    width: 120px;
    height: 60px;
}
.searchtop{
    padding: 30px;
    height: 80px;
    background-color:#ff5858;
}
.searchtop.max{
    height: 15px;
}
.mlxg{
    margin-top: 66px;
    padding: 0px 30px;
    font-size: 32px;
    color: #333333;
}
.search-mess{
    background-color: #ff5858;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    color: #333333;
    padding: 0px 30px;
}
.search-mess img{
    width: 24px;
    height: 32px;
}
.search-mess p{
    color: #ffffff;
}
.search-mess img{
    width: 24px;
    height: 32px;
}
.address-list{
    padding: 0px 30px;
}
.address-list li{
    padding: 20px 0px 20px 150px;
    margin-top: 15px;
    position: relative;
}
.address-list li:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 150px;
    right: 0px;
    height: 1px;
    border-bottom: solid 1px #eeeeee;
}
.address-list .name{
    font-size: 30px;
    color: #333333;
    font-weight: 550;
}
.address-list img{
    width: 107px;
    height: 107px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.address-list .time{
    font-size: 22px;
    margin-top: 20px;
    color: #949494;
}
.address-list .address{
    font-size: 26px;
    margin-top: 10px;
    color: #999999;
}
.qrcode-game-small{
    margin:0 auto;
    border-radius:16px;
    width: 70vw;
    height: 70vw;
    padding: 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border:solid 5px #ff5858;
    margin: 30px auto;
}
.qrcode-game-small img{
    width: 100%!important;
    height: 100%!important;
    border-radius:16px;
}
.wave{
    margin: 0 auto;
    margin-top: 150px;
    width: 70%;
}
/*样式复写*/
.van-tabbar-item{
    font-size: 20px!important;
}
.van-tabbar-item__icon img{
    height: 60px!important;
}
.van-tabbar{
    zoom: 1.35;
    padding-bottom: 4px!important;
}
.van-pull-refresh{
    overflow: inherit!important;
}
.van-hairline--bottom::after{
    border-bottom-width: 0px!important;
}
.van-nav-bar__title{
    color: #ffffff!important;
}
.van-icon-arrow-left:before{
    color: #ffffff!important;
}
.van-nav-bar__text{
    color: #ffffff!important;
}
.van-nav-bar__left{
    color: #333333;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
 /*iphoneX css部分*/
    .van-tabbar{
        zoom: 1.35;
        padding-bottom: 20px!important;
    }
}
