.Minetabbar{
  width:100%;
  height:140px;
  position:fixed;
  bottom:0;
  border-top:1px #eee solid;
  display:flex;
  justify-content:space-around;
  background-color: #ffffff;
  align-items:center;
  z-index:110;
  text-align:center;
}
.MineBar-item{
  width: 33.3%;
  color:#565656;
  font-size: 25px;
  text-align: center;
}
.MineBar-item .logo{
  width:150px;
  margin: 0 auto;
}
.MineBar-item .game{
  width:50px;
  margin: 0 auto;
}
.MineBar-item .mine{
  width:60px;
  margin: 0 auto;
  margin-top: 15px;
}
.MineBar-item .tab-selected{
  color: #3f220e;
}
.tabtt{
  padding-top:5px;
}
