<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858;position: fixed;top: 0px;width: 100%;"
                     title="商场地址"
                     left-arrow
                     @click-left="onClickLeft"></van-nav-bar>
        <div class="crt1"></div>
        <div class="searchtop max">
            <van-search placeholder="请输入搜索关键词" v-model="value" @search="onSearch"/>
        </div>
        <div class="mlxg">选择商场地址</div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list
                    v-model="loading"
                    :finished="finished"
                    :error.sync="error"
                    error-text="请求失败，点击重新加载"
                    :finished-text="Isempty ? '':'没有更多了'"
                    @load="onLoad"
            >
                <ul class="address-list" v-if="list.length>0">
                    <li v-for="(item,index) in list"  @click="choose(item.id)">
                        <h3 class="name">{{item.name}}</h3>
                        <p class="address">{{item.address}}</p>
                    </li>
                </ul>
                <img src="../../../assets/empty.png" class="wave" v-if="Isempty"/>
            </van-list>
        </van-pull-refresh>
    </div>
</template>

<script>
    export default {
        name: "shoplist",
        data() {
            return {
                list: [],
                loading: false,
                finished: false,
                error:false,
                isLoading: false,
                coupondialog:false,
                Isempty:false,
                couponItem:"",
                qrSize:"",
                value:"",
                pageNo:0,
                page:10,
                locationCode:"20010"
            };
        },
        methods: {
            closecoupon(){
                this.coupondialog = false;
            },
            onSearch(){
                this.onRefresh()
            },
            showcoupon(item){
                this.coupondialog = true;
                this.couponItem = item;
            },
            onClickLeft() {
                this.$router.back(-1)
            },
            choose(id){
                var self = this;
                this.$fetch("/ajax/vou/mall/choose",{chooseId:id}).then((response) =>{
                    console.log("'初始化请求")
                    this.coupondialog = false
                    if(response.result == 'success'){
                        self.loading = false;
                        this.$toast.center("商店选择成功");
                        this.$router.back(-1)
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '
                // + this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            getPageData(pageNo,pageSize){
                var self = this;
                this.$loading('请求中...');
                var value = this.value || "";
                this.$fetch("ajax/vou/mall/list",{search:value,pageNo:pageNo,pageSize:pageSize}).then((response) =>{
                    this.$loading.close();
                    this.loading = false;
                    this.isLoading = false;
                    if(response.result === "success" && response.map){
                        var data = response.map.items || "";
                        if(data.length<pageSize){
                            this.finished = true;
                        }
                        var newlist  = data;
                        var oldlist  = this.list;
                        if(oldlist.length == 0){
                            self.list = newlist;
                        }else{
                            var all = (self.list).concat(newlist)
                            self.list = all;
                        }
                        console.log(self.list)
                    }else{
                        this.finished = true;
                        this.Isempty = true;
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast(error);
                })
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 185, // 设置宽度，单位像素
                    height: 185, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            onRefresh() {
                this.list = [];
                this.getPageData(1,10);
            },
            onLoad() {
                // 异步更新数据
                this.pageNo++;
                this.getPageData(this.pageNo,10);
                this.loading = false;
            },
        },
        mounted(){
            // this.locationCode = this.$store.getters.getQueryString(url,"lc");
        }
    }
</script>

<style>
    .van-cell{
        line-height: 60px!important;
    }
    .van-search{
        padding: 0px!important;
    }
    .van-search__content{
        background-color: #ffffff!important;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
</style>
