<template>
    <div class="container cen">
        <img src="../../../assets/used.png" style="width: 60vw;margin:1.5rem auto 0rem auto"/>
        <p style="color: #4B2E0B;font-size: 25px">活动已结束</p>
    </div>
</template>

<script>
    export default {
        name: "Jigsaw",
        data(){
            return{

            }
        },
        components:{

        },
        methods:{
        },
        created(){
        }
    }
</script>
