<template>
    <div class="container cen">
        <img src="../../../assets/used.png" style="width: 60vw;margin:1.5rem auto 0rem auto"/>
        <p style="color: #4B2E0B;font-size: 25px">{{error}}</p>
    </div>
</template>

<script>
    export default {
        name: "Jigsaw",
        data(){
            return{
                error:""
            }
        },
        components:{

        },
        methods:{

        },
        created(){
            this.error = this.$route.query.error || "";
        }
    }
</script>
