<template>
    <div class="container qrcode">
        <img src="../../assets/bg-qrCode.png" class="w100 db"/>
        <div  v-show="gained" class="qr-num">
            <div>恭喜获得</div>
            <div>{{balnace}}嗨币</div>
        </div>
        <div v-show="!gained" class="qr-num">
            {{Prompting}}
        </div>
        <img src='../../assets/qr-btn-game.png' class='qr-btn block' @click='goindex' />
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "qrcode",
        data(){
            return{
                loading:false,//网路请求
                fromV:"",
                gained: false,
                balnace:0,
                Prompting:"本宫娃娃"
            }
        },
        components:{
            network
        },
        methods:{
            goindex:function(){
                this.$router.replace({
                    path: `/index`
                })
            },
            reload(){
                this.initData();
            },
            initData:function(){
                var self = this;
                var from = self.fromV;
                this.$loading('加载中');
                this.$loading.close();
                this.$fetch('/dall/ajax/qr/page',{from:from}).then((response) => {
                    if(response.result == "success"){
                        self.qrCode = response.map.qrCode
                        self.loading = false
                        self. balnace = response.map.qrCode.money
                        self.gain();
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.retry =  true
                })
            },
            gain:function(){
                var self = this;
                this.$fetch('/dall/ajax/qr/gift',{from: self.fromV, _from: 1,channel:2}).then((response) => {
                    if(response.result == "success"){
                        self.gained = true;
                    }else {
                        self.retry =  true
                    }
                    if (response.result == 'failure'){
                        var failureReason = response.failureReason;
                        self.Prompting = failureReason;
                    }
                }).catch(error=>{
                    self.retry = true
                })
            }
        },
        mounted(){
            var url = window.location.href;
            if (url !== undefined) {
                this.$store.getters.handleUrl(url)
            }
            this.fromV = localStorage.getItem("fromV");
            console.log("this.fromV==========")
            console.log(this.fromV)
            this.initData();
        }
    }
</script>

<style >
    .qrcode{
        position: fixed;
        background-image: url("../../assets/qr-back.png");
        width: 100%;
        top: 0px;
        bottom:0px;
    }
</style>
