<template>
    <div class="container playbox">
        <div class="top">
            <img src="../../../assets/icon@2x.png"/>
            <div class="location">
                <p>{{locationCode}}号机 <span>{{cellNo}}格子</span></p>
                <p>{{amount}} 元 / 次</p>
            </div>
        </div>
        <template v-if="state == 2 || state == 1">
            <div  class="cen btnbox middle">
                <template v-if="playsock">
                    <img  src="../../../assets/anniu@2x.png"  class="playbtn" ontouchstart="" onmouseover=""  @click="playgame"/>
                </template>
                <template v-else>
                    <img  src="../../../assets/anniu@2x1.png"  class="playbtn" />
                </template>
                <p class="haiji_number" v-if="money">余额：{{money}}元</p>
            </div>
        </template>
        <template v-else-if="state == 0">
            <img src="../../../assets/st2.png" style="width: 70%;margin: 1rem auto"/>
        </template>
        <template v-else>

        </template>
        <div class="bottom">
            <div class="cou-money">
                劵额：{{addup}}元
            </div>
             <img src="../../../assets/coupon@2x.png" @click="golist"/>
        </div>
        <!--<network  :loading="loading"  @reload="reload"></network>-->
    </div>
</template>
<script>
    import network from '@/components/network'
    import pay_success from '@/components/pay_success'
    export default {
        name: "play",
        data(){
            return{
                show_dialog:false,
                cellNo:"",
                locationCode:"",
                CouponCoin:"",
                money:"",
                amount:"",
                loading:false,
                Ispaying:false,
                state:2,
                playsock:true
            }
        },
        components:{
            network,
            pay_success
        },
        methods:{
            reload(){
                this.initData(this.boxGridId,this.cellNo);
            },
            close(){
                this.show_dialog = false
            },
            golist(){
                this.$router.push({
                    path: `/couponlist?lc=${this.locationCode}&cellNo=${this.cellNo}`,
                })
            },
            playgame(){
                var self = this;
                if(this.playsock){
                    this.playsock = false;
                }
                setTimeout(function(){
                    self.playsock = true;
                },3000)
                var locationCode = self.locationCode || "";
                var cellNo = self.cellNo || "";
                this.$loading('游戏启动中...');
                this.$fetch("/rmbPlay/pay/game",{cellNo:cellNo,locationCode:locationCode}).then((response) =>{
                    if(response.result == 'success'){
                        if(response.map && response.map!=undefined){

                        }else{
                            this.$toast.center("游戏已开始");
                            self.initData(this.boxGridId,this.cellNo);
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                    this.$loading.close();
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    console.log(error)
                    this.$toast.center(error);
                })
            },
            initData(GridId,cellNo){
                var self = this;
                this.$fetch("/rmbPlay/info3/"+GridId+"/" + cellNo,{}).then((response) =>{
                    console.log("'初始化请求")
                    if(response.result == 'success'){
                        self.loading = false;
                        self.money = response.map.money || 0 ;
                        self.amount = response.map.amount || 0 ;
                        self.addup = response.map.addup || 0 ;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$toast.center(error);
                })
            }
        },
        created(){
            var url = window.location.href;/*获取url*/
            //demo     boxGridId=FIrxSk5BW2Ug&cellNo=13
            this.locationCode = this.$store.getters.getQueryString(url,"lc");
            this.cellNo = this.$store.getters.getQueryString(url,"cellNo");
            this.initData(this.locationCode,this.cellNo);
        }
    }
</script>
<style lang="css">
    @import '../../../styles/style.css';
</style>


