<template>
    <div class="container">
        <div class="coupon-tab" style="top: 0rem;padding-top: 0px">
            <div class="search-mess">
                <p  style="display: flex;align-items: center" @click="activityList()"><img src="../../assets/dw@2x.png"/><span style="padding-left: 0.2rem">{{activityName}}</span> <van-icon name="arrow" /></p>
            </div>
            <ul>
                <li class="coupon-item" :class="index === 1 ? 'active':''" @click="changetype(1)">未使用</li>
                <li class="coupon-item" :class="index === 2 ? 'active':''" @click="changetype(2)">已使用</li>
                <li class="coupon-item" :class="index === 3 ? 'active':''" @click="changetype(3)">已失效</li>
            </ul>
        </div>
        <div class="h200"></div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list
                    v-model="loading"
                    :finished="finished"
                    :error.sync="error"
                    error-text="请求失败，点击重新加载"
                    :finished-text="Isempty ? '':'没有更多了'"
                    @load="onLoad"
            >
                <div  class="content-container-item" v-if="items!==''">
                    <template v-if="index === 1">
                        <div class="container-item coupon1" v-for="(item,index) in items" :key="index"   @click="useCoupon(item)">
                            <div class="left">
                                <p class="text1">{{item.couponName}}</p>
                                <p class="text2">{{activityName}}</p>
                            </div>
                            <div class="right">
                                <p class="text1">有效期至</p>
                                <p class="text2">{{getdate(item.endChangeDate)}}</p>
                            </div>
                        </div>
                    </template>
                    <template v-if="index === 2">
                        <div class="container-item coupon2" v-for="(item,index) in items" :key="index" @click="oldCoupon(item)">
                            <div class="left" style="flex-grow:1.5;color: #474747">
                                <p class="text1" >{{item.couponName}}</p>
                                <p class="text2">{{activityName}}</p>
                            </div>
                            <div class="right" >
                                <img src="../../assets/icon-coupon-used.png" class="nouse"/>
                            </div>
                        </div>
                    </template>
                    <template v-if="index === 3">
                        <div class="container-item coupon2" v-for="(item,index) in items" :key="index">
                            <div class="left" style="color: #474747">
                                <p class="text1">{{item.couponName}}</p>
                                <p class="text2">{{activityName}}</p>
                            </div>
                            <div class="right" style="color: #474747">
                                <p class="text1">有效期至</p>
                                <p class="text2">{{ getdate(item.endChangeDate)}}</p>
                            </div>
                        </div>
                    </template>
                </div>
                <img src="../../assets/empty.png" class="wave" v-if="Isempty"/>
            </van-list>
        </van-pull-refresh>
        <div class="jigsaw-bottom">
            <div class="left">已获得拼图  {{hasCount}} / {{allCount}}</div>
            <div class="right" @click="lookmore()">查看</div>
        </div>
        <van-tabbar v-model="active" active-color="#ff5858" safe-area-inset-bottom="true"  @change="onChange">
            <van-tabbar-item >
                <span>首页</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon0.active : icon0.normal"
                >
            </van-tabbar-item>
            <template v-if="show_tab">
                <van-tabbar-item >
                    <span>活动</span>
                    <img
                            slot="icon"
                            slot-scope="props"
                            :src="props.active ? icon3.active : icon3.normal"
                    >
                </van-tabbar-item>
            </template>
            <van-tabbar-item >
                <span>九龙拼图</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon1.active : icon1.normal"
                >
            </van-tabbar-item>
            <van-tabbar-item >
                <span>我的</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon2.active : icon2.normal"
                >
            </van-tabbar-item>
        </van-tabbar>
        <!--<network  :loading="loading"  @reload="reload"></network>-->
    </div>
</template>
<style>
    .coupon1{
        background-image: url("../../assets/bg-coupon.png");
    }
    .coupon2{
        background-image: url("../../assets/bg-coupon-no.png");
    }
</style>
<script>
    export default {
        name: "coupon",
        data() {
            return {
                items: [],
                loading: false,
                finished: false,
                error:false,
                tab_check:1,
                allCount:0,
                hasCount:0,
                isLoading: false,
                show_tab:false,/*是否显示活动*/
                activityName:"",
                Isempty:false,/*是否为空*/
                pageNo:0,
                pageSize:10,
                show: false,
                reson:"",
                index:1,
                active:1,
                icon0: {
                    normal: require('../../assets/loong_index.png'),
                    active: require('../../assets/loong_index_active.png')
                },
                icon1: {
                    normal: require('../../assets/loong_bag.png'),
                    active: require('../../assets/loong_bag_active.png')
                },
                icon2: {
                    normal: require('../../assets/loong_team.png'),
                    active: require('../../assets/loong_team_active.png')
                },
                icon3: {
                    normal: require('../../assets/icon-card.png'),
                    active: require('../../assets/icon-card-active.png')
                },
            }
        },
        components:{

        },
        methods:{
            onChange:function(active){
                var tab = this.show_tab;
                this.$store.getters.change_tab(tab,active);
            },
            reload:function(){
                this.$refs.my_scroller.onRefresh();
            },
            getdate(date){
                return this.$store.getters.currentTime(date)
            },
            useCoupon(item){
                this.$router.replace({
                    path: `/cash`,
                    query: {
                        activityId:item.id
                    }
                })
            },
            oldCoupon(item){
                this.$router.replace({
                    path: `/receive`,
                    query: {
                        activityId:item.id
                    }
                })
            },
            lookmore(){
                this.$router.push({
                    path: `/eggJigsaw`,
                    query:{
                        activityId:this.activityId
                    }
                })
            },
            activityList(){
                this.$router.replace({
                    path: `/activity`
                })
            },
            onRefresh() {
                var index = this.index;
                this.items = [];
                this.getPageData(index,1,this.pageSize,'new');
            },
            onLoad() {
                // 异步更新数据
                this.pageNo++;
                var index = this.index;
                this.getPageData(index,this.pageNo,this.pageSize,'more');
            },
            changetype(type){
                this.index = type;
                this.items = [];
                this.onRefresh();
            },
            getPageData(index,pageNo,pageSize){
                var self = this;
                this.$loading('请求中...');
                this.$fetch("ajax/twist/coupon",{index:index,activityId:this.activityId,pageNo:pageNo,pageSize:pageSize}).then((response) =>{
                    this.$loading.close();
                    this.loading = false;
                    this.isLoading = false;
                    if(response.result === "success" && response.map){
                        var data = response.map.items || "";
                        var activity = response.map.activity || "";
                        self.activityName = activity.name || "";
                        self.allCount = response.map.allCount;
                        self.hasCount = response.map.hasCount;
                        if(!data){
                            this.finished = true;
                            this.Isempty = true;
                            return ;
                        }
                        if(data == "" || data.length<pageSize){
                            this.finished = true;
                        }
                        self.noactivity = false;
                        self.Isempty = false;

                        var newlist  = data;
                        var oldlist  = this.items;
                        if(oldlist.length == 0){
                            self.items = newlist;
                        }else{
                            var all = (self.items).concat(newlist)
                            self.items = all;
                        }
                    }else{
                        this.finished = true;
                        this.$router.replace({
                            path: `/activity`
                        })
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast(error);
                })
            }
        },
        mounted(){
            this.activityId = localStorage.getItem("activityId");
        },
        created(){
            this.show_tab = this.$store.getters.show_tab;
        }
    }
</script>


