<template>
    <div class="container" style="position: fixed;top: 0px;bottom: 0px;left: 0px;right: 0px;-webkit-overflow-scrolling: touch;overflow: auto">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" style="height:100%;"  v-show="HaveCookie">
            <div class="user-container">
                <img class="userinfo-avatar" alt="暂无头像" title="头像" :src="userInfo.headimgurl"/>
                <span class="userinfo-name">{{userInfo.nickname}}</span>
                <img src="../../assets/loong_btn_pay.png"  class="btn-buy" @click="pay" ontouchstart="" onmouseover=""/>
                <span class="money" style="align-items: center"><span  class="Transfor" v-if="generalGameCoin!=''" @click="openTransfor">找回嗨币</span>{{balance}}<img src="../../assets/bi.png" /></span>
            </div>
            <div class="qrbox">
                <div  class="dls" v-if="dls!='' && !canBuy">{{dls}}</div>
                <div id="qrcode" class="qrcode-game" :style="{width:qrSize+'px',height:qrSize+'px'}">
                    <div class="tips">
                        <span v-if="qrError" style='color: #ff4a4a;'>{{qrError}}</span>
                        <span v-else >请将二维码&nbsp;对准读码器</span>
                    </div>
                </div>
                <!--<div class="rel block_cen w90 scraperbox" @click="go_card"  v-if="cardCount>0">-->
                    <!--<img src="../../assets/loong_card_mouth.png" class=" w100" />-->
                    <!--<div class="w100 scraper">-->
                    <!--<span class="count">-->
                        <!--<img src="../../assets/loong_wing.png" />-->
                        <!--<span>已获得 {{cardCount}} 张</span>-->
                        <!--<img src="../../assets/loong_wing.png" />-->
                    <!--</span>-->
                        <!--<span class="abs go">-->
                        <!--<img  src="../../assets/loong_go.png" class=" animated tada infinite no_award"/>-->
                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="animated pulse infinite ggkdialog" @click="go_card" v-if="cardCount>0">
                <img  src="../../assets/ggk.png" class="w100" />
                <div class="count">{{cardCount}}<span class="zhang">张</span></div>
            </div>
            <div class="swiper-index">
                <swiper :options="swiperOption"   ref="mySwiper">
                    <!-- 这部分放你要渲染的那些内容 -->
                    <swiper-slide v-for="(item,index) in taskitem" :key="index">
                        <div class="task-box" @click="goweb(item.id_,item.url_)">
                            <div class="task">
                                <div class="time">
                                    <span class="starttime">收集任务:{{item.beginTime_}}-{{item.endTime_}}</span>
                                    <span class="Remaintime">剩余时间:{{item.Days_remain}}</span>
                                    <div class="backty"></div>
                                </div>
                                <div class="advert">
                                    <img :src="item.image_"/>
                                </div>
                            </div>
                            <div class="progress-box">
                                <div class="progress-line">
                                    <div class="progress">
                                        <span class="info">{{item.hasNum_}}/{{item.totalNum_}}</span>
                                        <div class="progress-loading" :style="{width:item.ratio}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
        </van-pull-refresh>
        <div class="content-index-dialog"  v-if="showCoupon">
            <div class="rel">
                <img  src="../../assets/loong_kj.png" class="w100"/>
                <div class="content-index-item abs" style="left: 50%;transform: translateX(-50%);width: 62%;top:45%;padding-top: 5px">
                    <div class="container-item coupon1" v-if="coupon">
                        <div class="left">
                            <p class="text1">{{coupon.coupon.name}}</p>
                            <p class="text2">每张券限使用一次</p>
                        </div>
                        <div class="right">
                            <p class="text1">有效期至</p>
                            <!--format(coupon.showEndDate,'yyyy-MM-dd')-->
                            <p class="text2">{{format(coupon.endDate,'yyyy-MM-dd')}}</p>
                        </div>
                    </div>
                    <div style="" class="container-gameCoin" v-if="gameCoin">
                        <img src="../../assets/40.png" class="jinshan"  v-if="gameCoin<=288"/>
                        <img src="../../assets/41.png" class="jinshan" v-else-if="288<gameCoin && gameCoin<=888" />
                        <img src="../../assets/42.png" class="jinshan" v-else/>
                        <div class="haibi">{{gameCoin}}&nbsp;&nbsp;<img src="../../assets/loong_hai.png" /></div>
                    </div>
                </div>
                <img  src="../../assets/kj.png" class="more" @click="lookCoupon" v-if="coupon"/>
                <img  src="../../assets/ggk_close.png" class="close" @click="closeCoupon" />
            </div>
        </div>
        <div class="animated fadeIn Transfordialog" v-if="Transfor_dialog">
            <div class="mixmiddle">
                <img src="../../assets/change.png" class="jamb" />
                <div class="content">
                    <h3>将剩余的{{generalGameCoin}}嗨币转换为{{officeName}}的专属币</h3>
                    <p>·专属币不可转换为嗨币·</p>
                    <button @click="Transfor">确定</button>
                </div>
                <img  src="../../assets/ggk_close.png" class="close" @click="closeTransfor" />
            </div>
        </div>
        <div class="content-index-dialog"  v-if="IsError">
            <div class="rel" style="margin-top: 30%">
                <img  src="../../assets/sorry.png" class="w90" style="margin: 0 auto"/>
                <div class="content-index-item abs" style="left: 50%;transform: translateX(-50%);width: 62%;top:45%;padding-top: 15px">
                    <p class="error">{{ErrorMessage}}</p>
                </div>
                <img  src="../../assets/kj.png" class="more" @click="lookCoupon" v-if="coupon"/>
                <img  src="../../assets/ggk_close.png" class="close" @click="closeCoupon" />
            </div>
        </div>
        <van-tabbar v-model="active" active-color="#ff5858" safe-area-inset-bottom="true"  @change="onChange">
            <van-tabbar-item >
                <span>首页</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon0.active : icon0.normal"
                >
            </van-tabbar-item>
            <template v-if="show_tab">
                <van-tabbar-item >
                    <span>活动</span>
                    <img
                            slot="icon"
                            slot-scope="props"
                            :src="props.active ? icon3.active : icon3.normal"
                    >
                </van-tabbar-item>
            </template>
            <van-tabbar-item >
                <span>九龙拼图</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon1.active : icon1.normal"
                >
            </van-tabbar-item>
            <van-tabbar-item >
                <span>我的</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon2.active : icon2.normal"
                >
            </van-tabbar-item>
        </van-tabbar>
        <div class="scan-box " v-if="!HaveCookie">
            <div style="text-align: center">
                <img src="../../assets/logo.png"/>
                <p class="w100">请扫描设备二维码开始游戏</p>
                <button @click="initData">扫一扫</button>
            </div>
        </div>
        <topup :showpop="show_dialog" @close="close" @Recharge="Recharge" :items="items" :balance="balance"></topup>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import wx from 'weixin-js-sdk';
    import Vue from 'vue'
    import { PullRefresh } from 'vant';
    import network from '@/components/network'
    import topup from '@/components/topup'
    import 'swiper/dist/css/swiper.css'//这里注意具体看使用的版本是否需要引入样式，以及具体位置。
    import { swiper, swiperSlide } from 'vue-awesome-swiper'
    import QRCode from 'qrcodejs2'
    Vue.use(PullRefresh);
    export default {
        name: "index",
        data(){
            return{
                balance:0,
                cardCount:0,
                gameCoin:0,
                show_tab:false,/*是否显示活动*/
                bargainCode:"",
                generalGameCoin:"",
                canBuy:"",
                countdown:"",
                isBargin:"",
                locationCode:"",
                orderId:"",
                card:"",
                qrUrl:"",/*任务页面路径*/
                qrError:false,//错误异常
                isLoading: false,
                show_dialog:false,//支付窗口
                Transfor_dialog:false,
                showCoupon:false,
                officeName:"",
                IsError:false,
                HaveCookie:true,
                dls:"",
                ErrorMessage:"",
                coupon:"",
                loading:false,//网路请求
                timer:"",
                qrSize:"",
                userInfo: { nickname: "", headimgurl:''},
                items:[],
                active:0,
                icon0: {
                    normal: require('../../assets/loong_index.png'),
                    active: require('../../assets/loong_index_active.png')
                },
                icon1: {
                    normal: require('../../assets/loong_bag.png'),
                    active: require('../../assets/loong_bag_active.png')
                },
                icon2: {
                    normal: require('../../assets/loong_team.png'),
                    active: require('../../assets/loong_team_active.png')
                },
                icon3: {
                    normal: require('../../assets/icon-card.png'),
                    active: require('../../assets/icon-card-active.png')
                },
                taskitem:[],
                swiperOption: {
                    observer:true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents:true,//修改swiper的父元素时，自动初始化swiper
                    direction: 'horizontal',
                    spaceBetween : 10,
                    slidesPerView : 1.12,
                    centeredSlides : true
                },
            }
        },
        methods:{
            format(time,format){
                var t = new Date(time);
                var tf = function(i){return (i < 10 ? '0' : '') + i};
                var over =  format.replace(/yyyy|MM|dd|HH|mm|ss/g, function(a){
                    switch(a){
                        case 'yyyy':
                            return tf(t.getFullYear());
                            break;
                        case 'MM':
                            return tf(t.getMonth() + 1);
                            break;
                        case 'mm':
                            return tf(t.getMinutes());
                            break;
                        case 'dd':
                            return tf(t.getDate());
                            break;
                        case 'HH':
                            return tf(t.getHours());
                            break;
                        case 'ss':
                            return tf(t.getSeconds());
                            break;
                    }
                })
                return over;
            },
            closeCoupon(){
              this.showCoupon = false;
              this.IsError = false;
            },
            onRefresh() {
                setTimeout(() => {
                    this.$toast('刷新成功');
                    this.initData();
                    this.isLoading = false;
                }, 500);
            },
            go_card:function(){
                this.$router.replace({
                    path: `/scratch_card`
                })
            },
            lookCoupon(){
                this.$router.replace({
                    path: `/mine/coupon`
                })
            },
            onChange:function(active){
                var tab = this.show_tab;
                this.$store.getters.change_tab(tab,active);
            },
            reload(){
                this.initData();
            },
            close(){
                this.show_dialog = false
            },
            closeTransfor(){
                this.Transfor_dialog = false
            },
            openTransfor(){
                this.Transfor_dialog = true
            },
            getCookie:function(objName){
                var arrStr = document.cookie.split("; ");
                for (var i = 0; i < arrStr.length; i++) {
                    var temp = arrStr[i].split("=");
                    if (temp[0] == objName){
                        return decodeURI(temp[1]);
                    }
                }
            },
            Transfor(){
                var self = this;
                /*首页初始化数据*/
                var locationCode = localStorage.getItem("locationCode");
                this.$loading('加载中');
                this.$fetch("/dall/ajax/mine/swap/balance",{locationCode:locationCode,gameCoin:this.generalGameCoin}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        self.initData();
                        this.Transfor_dialog = false;
                        this.$toast.center("找回成功");
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            kds(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/consume/add",{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){

                    }else{

                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            getCoupon:function(){
                var self = this;
                if(this.card == ""){
                    return ;
                }
                this.$loading('加载中');
                this.$fetch('/haiji/ajax/scratch/card',{cardId:self.card,channel:1, from:1}).then((response) => {
                    this.$loading.close();
                    if(response.result == "success"){
                        self.showCoupon = true;
                        self.coupon  = response.map.coupon || "";
                        self.gameCoin = response.map.gameCoin || "";
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        self.IsError  = true;
                        self.ErrorMessage = response.failureReason;
                        // this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                })
            },
            goweb:function(id,url){
                var locationCode = localStorage.getItem("locationCode");
                var memberId = this.getCookie("memberId");//本地存储的sessionId
                var key = this.getCookie("key");//本地存储的sessionId
                window.location.href = url+"?id=" + id + "&memberId=" + memberId + "&key=" + key + "&locationCode=" + locationCode + "&h5=" + true
                //  window.location.href="http://192.168.0.79:8020/dall-mission/index.html?h5="+true
                // this.$router.push({
                //   path: `/index/webview`,
                //   query: {
                //     id:id,
                //     url:url
                //   }
                // })
            },
            pay(){
                this.show_dialog = true;//显示充值弹窗
                var self = this;
                if(self.items!=""){
                    return ;
                }
                /*获取充值方案*/
                this.$loading('加载中');
                var locationCode =  localStorage.getItem("locationCode");
                ///rpc/ajax/loong/topup/items
                this.$fetch("/rpc/ajax/loong/topup/items",{locationCode:locationCode}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var items = response.map.items;
                        var attr = self.$store.getters.handleTopupItems(items);
                        var balance = response.map.gameCoin;
                        self.items = attr;
                        self.balance = balance;
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            pay_fail(){
                this.payfail = false
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width: 220, // 设置宽度，单位像素
                    height: 220, // 设置高度，单位像素
                    text: text // 二维码内容
                })
            },
            scanQRCode:function(){
                var self = this;
                wx.scanQRCode({
                    needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success : function(res) {
                        console.log(res)
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    },
                    fail: res => {
                        console.log("扫码失败，错误信息：" + JSON.stringify(res))
                    },
                });
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                // /dall/ajax/game
                var locationCode =  localStorage.getItem("locationCode");
                this.$fetch("/rpc/ajax/loong/game",{locationCode:locationCode, url:(window.location.href).split('#')[0]}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.balance = map.gameCoin || 0;
                        self.loading = false;
                        self.HaveCookie = true;
                        var userInfo = map.member || "";
                        self.generalGameCoin = map.generalGameCoin || 0;
                        self.officeName = map.officeName || "";
                        if(self.officeName!=""){
                            document.title = self.officeName
                        }
                        self.userInfo.nickname = userInfo.name;
                        self.userInfo.headimgurl = userInfo.image;
                        self.isVip = map.isVip;
                        self.qrUrl = map.qrUrl;

                        if (self.isBargin && self.bargainCode) {
                            self.setBargin();
                        } else{
                            self.refreshQr();//刷新二维码
                        }
                        self.gift();
                        self.task();
                        self.getCountTime();
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        if(response.map.wxJsapiSignature){
                            self.HaveCookie = false;
                            var charge = response.map.wxJsapiSignature || "";
                            wx.config({
                                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来
                                appId: charge.appId, // 必填，公众号的唯一标识
                                timestamp: charge.timestamp, // 必填，生成签名的时间戳
                                nonceStr: charge.nonceStr, // 必填，生成签名的随机串
                                signature: charge.signature,// 必填，签名，见附录1
                                jsApiList: [
                                    "scanQRCode"
                                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                            });
                            wx.ready(function() {
                                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                                // 在这里调用 API
                                wx.checkJsApi({
                                    jsApiList: ['scanQRCode'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                                    success: res => {
                                        // 以键值对的形式返回，可用的api值true，不可用为false
                                        if(res.checkResult["scanQRCode"]) {
                                            self.scanQRCode();
                                        }
                                        console.log("isSupportScanQRCode = " + self.isSupportScanQRCode)
                                    }
                                });

                            });
                            wx.error(function (res) {
                                console.log("配置失败")
                                console.log(res)
                            });
                        }else{
                            this.$toast.center(response.failureReason);
                        }
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            gift:function(){
                var self = this;
                var missionId = localStorage.getItem("missionId");
                localStorage.removeItem("missionId");
                if (!missionId) {
                    return;
                }
                this.$fetch('/dall/ajax/gift',{missionId: missionId}).then((response) => {
                    if(response.result == "success"){
                        self.currentCoupon = response.map.coupon;
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            getCardCount(){
                var self = this;
                this.$fetch('/rpc/ajax/loong/card/count',{}).then((response) => {
                    if(response.result == "success"){
                        self.cardCount = response.map.cardCount || 0;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            refreshQr:function(){
                var self = this;
                var channel = this.$store.state.channel;
                var bargainCode = localStorage.getItem("bargainCode") || "";
                var locationCode = localStorage.getItem("locationCode") || "";
                this.$fetch('/rpc/ajax/loong/qr/user',{channel:channel, from:1,activityId:self.$store.state.activityId,locationCode:locationCode}).then((response) => {
                    if(response.result == "success"){
                        var code = response.map.code;
                        if (bargainCode) {
                            code = code + "#" + bargainCode;
                        }else {
                            localStorage.removeItem("bargainCode");
                            localStorage.removeItem("barginEndTime");
                        }

                        var seconds = response.map.seconds || 15;
                        self.balance = response.map.gameCoin;
                        self.getCardCount();
                        self.qrcode.clear();
                        self.qrcode.makeCode(code);

                        if (self.timer){
                            clearTimeout(self.timer);
                        }
                        self.timer = setTimeout(() => self.refreshQr(), seconds * 1000);
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        if (self.timer) {
                            clearTimeout(self.timer);
                        }
                        self.timer = setTimeout(() => self.refreshQr(), 15 * 1000);
                    }
                }).catch(error =>{
                    console.log(error)
                    self.qrError = "当前网络不可用，请检查网络设置";
                    if (self.timer) {
                        clearTimeout(self.timer);
                    }
                    self.timer = setTimeout(() => self.refreshQr(), 15 * 1000);
                })
            },
            Recharge(id,money){
                var self = this;
                this.show_dialog = false;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(id,money), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(id,money));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(id,money));
                        }
                    }else{
                        self.onBridgeReady(id,money)
                    }
                }else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    var locationCode = localStorage.getItem("locationCode");
                    this.$fetch('/haiji/ajax/pay/a_topup',{topupItemId:id,operator:"doll",locationCode:locationCode}).then((response) => {
                        if(response.result == 'success'){
                            if(response.map){
                                var tradNo= response.map.tradNo;
                                var orderId = response.map.orderId;
                                ap.tradePay({
                                    tradeNO:tradNo
                                }, function(res){
                                    if(res.resultCode === 9000){
                                        self.paycallback(orderId);
                                    }else if(res.resultCode === 6001){
                                        self.$toast.center("支付取消");
                                    }else if(res.resultCode === 4000){
                                        self.$toast.center("订单支付失败");
                                    }
                                });
                            }else{
                                this.$toast.center("充值成功");
                            }
                        }
                    }).catch(err=>{
                        console.log("支付宝支付异常结果")
                        console.log(err);
                    })
                }else{
                    alert("请在微信环境内打开")
                }
            },
            onBridgeReady(id,money){
                var self = this;
                this.$fetch("/haiji/ajax/pay/w_topup",{topupItemId:id,operator:"doll"}).then((response) =>{
                    if(response.result == 'success'){
                        var charge = (response.map && response.map.charge) || "";
                        if(charge!= ""){
                            WeixinJSBridge.invoke("getBrandWCPayRequest",{
                                    "appId": charge.appId, //公众号名称，由商户传⼊入
                                    "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                                    "nonceStr": charge.nonceStr, //随机串
                                    "package": charge.package,
                                    "signType": charge.signType,
                                    "paySign": charge.paySign
                                },
                                function(res) {
                                    if(res.err_msg === "get_brand_wcpay_request:ok" ){
                                        self.orderId = response.map.orderId;
                                        self.paycallback(response.map.orderId);
                                    }else if(res.err_msg === "get_brand_wcpay_request:cancel"){
                                        self.$toast.center("支付取消");
                                    }else if(res.err_msg === "get_brand_wcpay_request:fail"){
                                        //  self.payfail = true
                                        self.$toast.center("支付失败");
                                    }
                            })
                        }else{
                            this.$toast.center("充值成功");
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result === 'success'){
                        this.$toast.center("支付成功");
                        self.initData();
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        self.paycallback(self.orderId)
                        self.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            getMoth(time){
                var unixTimestamp = new Date(time*1000);
                //var commonTime = unixTimestamp.toLocaleString();
                var m = unixTimestamp.getMonth() + 1;
                var d = unixTimestamp.getDate();
                return m+"."+d;
            },
            getDay(time){
                var date1 = new Date();  //开始时间
                var date2 = new Date(time*1000);    //结束时间

                var date3 = date2.getTime() - date1.getTime()  //时间差的毫秒数

                //计算出相差天数
                var days = Math.floor(date3 / (24 * 3600 * 1000))

                //计算出小时数

                var leave1 = date3 % (24 * 3600 * 1000)    //计算天数后剩余的毫秒数
                var hours = Math.floor(leave1 / (3600 * 1000))
                //计算相差分钟数
                var leave2 = leave1 % (3600 * 1000)        //计算小时数后剩余的毫秒数
                var minutes = Math.floor(leave2 / (60 * 1000))
                //计算相差秒数
                var leave3 = leave2 % (60 * 1000)      //计算分钟数后剩余的毫秒数
                var seconds = Math.round(leave3 / 1000)
                return days + "天 " + hours + "小时";
                console.log(" 相差 " + days + "天 " + hours + "小时 " + minutes + " 分钟" + seconds + " 秒")
            },
            task:function(){
                var self = this;
                var locationCode = localStorage.getItem("locationCode");
                this.$fetch('/rpc/ajax/mission/list',{locationCode:locationCode,pageSize:6}).then((response) => {
                    if(response.result == "success"){
                        var oj ={};
                        var array=[];
                        if (!response.map.items || response.map.items ===''){
                            self.taskitem =[];
                            return;
                        }
                        var items = response.map.items;
                        for (var a in items){
                            var oj = {};
                            oj['beginTime_'] = self.getMoth(items[a].beginTime_);
                            oj['endTime_'] = self.getMoth(items[a].endTime_);
                            oj["id_"] = items[a].id_;
                            oj["url_"] = items[a].url_;
                            oj["hasNum_"] = items[a].hasNum_;
                            oj["totalNum_"] = items[a].totalNum_;
                            oj["image_"] = items[a].image_;
                            var all = items[a].totalNum_;
                            var old = items[a].hasNum_;
                            var ratio = (old * 100 / all)+"%";
                            oj["ratio"] = ratio;
                            oj["Days_remain"] = self.getDay(items[a].endTime_);
                            array.push(oj);
                        }
                        self.taskitem = array;
                    }else if(response.noLogin){
                        self.$store.getters.noLogin()
                    }else{
                        this.$toast.center("网络异常");
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            addzero(num){
                var c = ""
                if(num>=10){
                    c = num
                }else{
                    c = "0"+num
                }
                return c
            },
            getDay: function (time) {
                var date2 = new Date(time);    //结束时间

                var date3 = date2 //时间差的毫秒数

                //计算出相差天数
                var days = Math.floor(date3 / (24 * 3600 * 1000))

                //计算出小时数

                var leave1 = date3 % (24 * 3600 * 1000)    //计算天数后剩余的毫秒数
                var hours = Math.floor(leave1 / (3600 * 1000))
                //计算相差分钟数
                var leave2 = leave1 % (3600 * 1000)        //计算小时数后剩余的毫秒数
                var minutes = Math.floor(leave2 / (60 * 1000))
                //计算相差秒数
                var leave3 = leave2 % (60 * 1000)      //计算分钟数后剩余的毫秒数
                var seconds = Math.round(leave3 / 1000)
                console.log(" 相差 " +  + " 秒")
                return  this.addzero(hours) + ":" + this.addzero(minutes) + ":" + this.addzero(seconds);
            },
            getCountTime(){
                var self = this;
                /*首页初始化数据*/
                var id = localStorage.getItem("timeId") || "";
                 if(id){
                    this.$fetch("/dall/ajax/bargain/info",{id:id}).then((response) =>{
                        this.$loading.close();
                        if(response.result == 'success'){
                            var map = response.map;
                            var createtime =  map.now;
                            var endtime =  map.endDate;
                            self.canBuy = map.canBuy;
                            var count  = endtime - createtime;
                            this.countdown = setInterval(function(){
                                count = count - 1000;
                                if(count <= 0){
                                    self.dls = "";
                                    clearInterval(self.countdown)
                                    localStorage.removeItem("timeId");
                                    localStorage.removeItem("bargainCode")
                                }else{
                                    self.dls =  self.getDay(count)
                                }
                            },1000)
                        }else{
                            localStorage.removeItem("timeId");
                            this.$toast.center(response.failureReason);
                        }
                    }).catch(error=>{
                        self.loading = true;
                        this.$toast.center(error);
                    })
                 }
            }
        },
        components:{
            network,
            topup,
            swiper,
            swiperSlide
        },
        mounted(){
            var wid = window.document.body.clientWidth;
            var hei = window.document.body.clientHeight;
            var size="";
            if(wid>hei){
                size = wid*0.55
            }else{
                size = wid*0.55
            }
            this.qrSize = size;
            this.getCoupon()
            this.qrcode("")
        },
        created(){
            var url = window.location.href;/*获取url*/
            this.locationCode = this.$store.getters.getQueryString(url,"lc") || '';
            this.card = this.$store.getters.getQueryString(url,"card") || '';
            if(this.locationCode){
                localStorage.setItem("locationCode",this.locationCode)
            }
            this.show_tab = this.$store.getters.show_tab;
            this.initData();
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style>
    .swiper-index{
        margin-top: 20px;
        width: 100%;
        position: relative;
    }
    .zhang{
        font-size: 30px!important;
        line-height: 0.7;
    }
    .coupon1{
        background-image: url("../../assets/bg-coupon.png");
    }
</style>
