<template>
    <div class="container" style="background-color:#EEEEEE;height: 100%;top: 0;">
        <van-nav-bar style="background-color: #ff5858"
                     title="地址管理"
                     right-text=""
                     left-arrow
                     @click-left="onClickLeft"
        />
        <van-popup v-model="show" position="bottom" :overlay="true">
            <van-area :area-list="areaList"  @confirm="confirm" @cancel="cancel"/>
        </van-popup>
        <div class="add_address">
            <van-cell-group>
                <van-field
                        v-model="name"
                        label="收件人"
                        placeholder="请输入收件人姓名"></van-field>

                <van-field
                        v-model="mobile"
                        label="手机号码"
                        placeholder="请输入您手机号" @blur="Isphone"></van-field>
                <div class="rel"  @click="showDialog">
                    <van-field
                            v-model="city"
                            label="所在地区"
                            placeholder="请选择所在地区"
                            readonly></van-field>
                    <img src="../../assets/more.png" class="arrow"/>
                </div>
                <van-field
                        v-model="detail"
                        label="详细地址"
                        type="textarea"
                        placeholder="请输入您的详细地址"
                        rows="5"
                        autosize></van-field>
            </van-cell-group>
        </div>
        <button class="exchange_btn bt active" @click="edit">保存</button>
    </div>
</template>

<script>
    import AreaList from '../../utils/area';
    export default {
        name: "add_address",
        data(){
            return{
                show:false,
                areaList:AreaList,
                loading:false,
                mobile:"",
                name:"",
                city:"",
                detail:"",
                isDefault:true,
                IsNews:0,
            }
        },
        methods:{
            onClickLeft(){
                this.$router.replace({
                    path: `/admin_address`,
                })
            },
            initData(id){
                var self = this;
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/lottery/address/"+id,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        var address = response.map.address;
                            self.mobile = address.mobile || "";
                            self.city = address.address || "";
                            self.detail = address.detailAddress || "";
                            self.name = address.consignee || "";
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            edit(){
                var self = this;
                if(self.name == ""){
                    this.$toast.center("姓名不能为空");
                    return ;
                }else if(self.mobile == ""){
                    this.$toast.center("电话号码不能为空");
                    return ;
                }else if(self.city == ""){
                    this.$toast.center("请选择城市");
                    return ;
                }
                var data = {id:self.IsNews,consignee:self.name,mobile:self.mobile,address:self.city,detailAddress:self.detail,isDefault:self.isDefault};
                this.$post("/rpc/ajax/lottery/address/update",data).then((response) =>{
                    if(response.result == "success"){
                        self.$toast.center("新增地址成功");
                        self.$router.replace({
                            path: `/admin_address`
                        })
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            confirm(data){
               var arr = [];
               for(let a of data){
                   arr.push(a.name);
               }
                this.city = arr.join(",")
                this.show = false
            },
            showDialog(){
                this.show = true
            },
            cancel(){
                this.show = false
            },
            /**
             * @return {boolean}
             */
            Isphone: function () {

                if (this.mobile.length === 0) {
                    this.$toast('请输入手机号码！');
                    return false;
                }

                // var myreg = /^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
                if(!(/^1[34578]\d{9}$/.test(this.mobile))){
                    this.$toast("手机号码有误，请重填");
                    return false;
                }
                return true;
            },
        },
        computed:{

        },
        created(){
            var type = this.$route.query.type || "";
            var id = this.$route.query.id || "";
            this.IsEmpty = this.$route.query.IsEmpty;
            if(type == 1){
                this.IsNews = id;
                this.initData(id)
            }
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>
    .van-cell:not(:last-child)::after{
        border-bottom:none;
    }
</style>
