<template>
    <div class="container" style="background-color:#EEEEEE;height: 100%">
        <van-nav-bar style="background-color: #ff5858"
                     title="地址管理"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <div class="rel">
            <img src="../../assets/cd_16.png" class="w100"/>
        </div>
        <van-popup v-model="show" position="bottom" :overlay="true">
            <van-area :area-list="areaList"  @confirm="confirm" @cancel="cancel"/>
        </van-popup>
        <div class="add_address">
            <van-cell-group>
                <van-field
                        v-model="name"
                        label="收件人"
                        placeholder="请输入收件人姓名"></van-field>

                <van-field
                        v-model="mobile"
                        label="手机号码"
                        placeholder="请输入您手机号"></van-field>
                <div class="rel"  @click="showDialog">
                    <van-field
                            v-model="city"
                            label="所在地区"
                            placeholder="请选择所在地区"
                            readonly></van-field>
                    <img src="../../assets/more.png" class="arrow"/>
                </div>
                <van-field
                        v-model="detail"
                        label="详细地址"
                        type="textarea"
                        placeholder="请输入您的详细地址"
                        rows="5"
                        autosize></van-field>
            </van-cell-group>
        </div>
        <button class="exchange_btn bt active" @click="get_prizes">提交</button>
    </div>
</template>

<script>
    import AreaList from '../../utils/area';
    export default {
        name: "once_address",
        data(){
            return{
                show:false,
                areaList:AreaList,
                mobile:"",
                name:"",
                city:"",
                detail:"",
                memberGoodsId:"",
            }
        },
        methods:{
            onClickRight(){
                this.edit();
            },
            onClickLeft(){
                this.$router.replace({
                    path: `/bag`
                })
            },
            get_prizes(){
                var self = this;
                if(self.name == ""){
                    this.$toast.center("姓名不能为空");
                    return ;
                }else if(self.mobile == ""){
                    this.$toast.center("电话号码不能为空");
                    return ;
                }else if(self.city == ""){
                    this.$toast.center("请选择城市");
                    return ;
                }
                var data = {consignee:self.name,mobile:self.mobile,address:self.city,detailAddress:self.detail,memberGoodsId:self.memberGoodsId};
                this.$loading('领取中');
                this.$post("/rpc/ajax/loong/fetch",data).then((response) =>{
                    this.$loading.close();
                    if(response.result == "success"){
                        self.$toast.center("领取成功");
                        self.$router.replace({
                            path: `/syn_result`,
                            query:{
                                memberGoodsId:self.memberGoodsId
                            }
                        })
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            confirm(data){
                var arr = [];
                for(let a of data){
                    arr.push(a.name);
                }
                this.city = arr.join(",")
                this.show = false
            },
            showDialog(){
                this.show = true
            },
            cancel(){
                this.show = false
            },
            Isphone(){
                if(this.mobile.length==0)
                {
                    this.$toast('请输入手机号码！');
                    document.form1.mobile.focus();
                    return false;
                }
                if(this.mobile.length!=11)
                {
                    this.$toast('请输入有效的手机号码！');
                    document.form1.mobile.focus();
                    return false;
                }

                var myreg = /^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
                if(myreg.test(this.mobile))
                {
                    this.$toast('请输入有效的手机号码');
                    return false;
                }
            }
        },
        computed:{

        },
        created(){
            this.memberGoodsId = this.$route.query.memberGoodsId || "";
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style scoped>
    .van-cell:not(:last-child)::after{
        border-bottom:none;
    }
</style>
