<template>
  <div class="container">
    <van-nav-bar style="background-color: #ff5858"
                 title="视频"
                 left-arrow
                 @click-left="onClickLeft"></van-nav-bar>
    <div class="video-box">
      <video :src="mysrc" autoplay style="width: 100%;" controls></video>
    </div>
  </div>
</template>

<script>

  export default {
    name: "dcard",
    data(){
      return {
        mysrc:"",
        loading: false,
        currentVideoUrl: null,
        title: "视频"
      }
    },
    methods:{
        onClickLeft:function(){
            this.$router.replace({
                path: `/mine`
            })
        },
      share:function(){
        // wx.onMenuShareAppMessage({
        //   title: '', // 分享标题
        //   desc: '', // 分享描述
        //   link: '', // 分享链接
        //   imgUrl: '', // 分享图标
        //   type: '', // 分享类型,music、video或link，不填默认为link
        //   dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        //   success: function () {
        //     // 用户确认分享后执行的回调函数
        //   },
        //   cancel: function () {
        //     // 用户取消分享后执行的回调函数
        //   }
        // });
      },
      initData:function(){
        var self = this;
        this.$fetch('/haiji/ajax/scratch/card',{cardId:self.card}).then((response) => {
          if(response.result == "success"){
            self.gameCoin = response.map.gameCoin
            self.gained = true
            self.loading = false
          }else if(response.noLogin){
            window.location.href=this.$store.state.app.grant;
          }else{
            self.gained = false
            self.loading = false
          }
        }).catch(error=>{
          self.retry = true
        })
      },
    },
    created(){
      var url = this.$route.query.videoUrl;
      this.mysrc = url;
    }
  }
</script>
<style>
  .flower{
    background-image: url("../../assets/bg-hCard.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
</style>
