<template>
    <div class="container ggk" style="box-sizing: border-box;">
        <van-nav-bar style="background-color: #ff5858"
                     title="拼图刮刮卡"
                     left-arrow
                     right-text="九龙拼图"
                     @click-right="onClickRight"
                     @click-left="onClickLeft"
        />
        <div class="arrowbox">
            <img src="../../assets/loong_ggk.png" class="w100 loong_banner" />
            <img src="../../assets/arrow.png"  class="abs arrowall arrow1"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow2"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow3"/>
            <img src="../../assets/arrow.png"  class="abs arrowall arrow4"/>
            <div class="cardbox" v-if="isok">
                <vueEaser
                        ref="vueEraser"
                        :size="50"
                        :complete-ratio="0.6"
                        :cover-src="coverSrc"
                        :result-src="resultSrc"
                        :result-src1="resultSrc1"
                        :result-title="resultTitle"
                        :result-title1="resultTitle1"
                        :istwo = "istwo"
                        :completeFunction="completeFunction"
                        :progressFunction="progressFunction"
                        class="sccard"
                ></vueEaser>
                <!--<span class="abs cardname">{{goodsName}}</span>-->
                <div class="task" v-if="Ismask">
                    <button @click="canmask">点我刮卡</button>
                </div>
            </div>
            <div class="ggk_box" v-if="cardnum>0">
                还有<span class="count">{{cardnum}}</span>次刮卡机会<span class="line">|</span><span class="next" @click="reset">刮下一张</span>
            </div>
            <div class="puzzle_ani kds_animated dur-1s fadeIn" v-if="ani_dialog">
                <div class="son">
                    <img  src="../../assets/loong_ggk_bg.png" style="width: 100%;position: absolute;top: 0px;" />
                    <div  class="fragment_team_ggk" v-if="allPieces!=''" id="fragment" :key="index">
                        <lazy-component>
                            <div class="row" >
                                <div class="item">
                                    <img  v-lazy="allPieces[0]['count']>0?allPieces[0].lightImage:allPieces[0].image" class="right bottom" :class="inId(allPieces[0].id) && allPieces[0].count>0 && Showlight ? 'kds_animated dur-3s  infinite':''" :style="{'z-index':inId(allPieces[0].id) ? '999':''}">
                                    <img :src="allPieces[0].lightImage"  style="z-index:999" v-if="inId(allPieces[0].id) && Showlight && allPieces[0].count == 0"  class="kds_animated dur-3s right bottom xld glight"  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[0].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add  forwards addone dur-2s delay-1s"  style="left:50%;top:90%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo"  style="left:-35%;top:10%;" :class="inId(allPieces[0].id) && Halo ? 'spin infinite dur-4s':''" v-if="inId(allPieces[0].id) && Halo"/>
                                </div>
                                <div class="item">
                                    <img  v-lazy="allPieces[1].count>0?allPieces[1].lightImage:allPieces[1].image" class="left bottom xld" :class="inId(allPieces[1].id) && allPieces[1].count>0 && Showlight ? 'kds_animated dur-3s  infinite':''" :style="{'z-index':inId(allPieces[1].id) ? '999':''}">
                                    <img  :src="allPieces[1].lightImage"  style="z-index:999" v-if=" prizeArray.includes(allPieces[1].id) && Showlight && allPieces[1].count == 0"  class="kds_animated dur-3s left bottom xld glight"  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[1].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add  forwards addone dur-2s delay-1s"  style="right:50%;top:90%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo"  style="right:-30%;top:10%;" :class="inId(allPieces[1].id) && Halo ? 'spin infinite dur-4s':''" v-if=" inId(allPieces[1].id) && Halo" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="item">
                                    <img  v-lazy="allPieces[2].count>0?allPieces[2].lightImage:allPieces[2].image" class="right top xld" :class="inId(allPieces[2].id) && allPieces[2].count>0 && Showlight ? 'kds_animated dur-3s  infinite':''" :style="{'z-index':inId(allPieces[2].id) ? '999':''}">
                                    <img :src="allPieces[2].lightImage"  style="z-index:999" v-if="inId(allPieces[2].id) && Showlight && allPieces[2].count == 0"  class="kds_animated dur-3s right top xld  glight"  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[2].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add  forwards addone dur-2s delay-1s"  style="left:50%;top:70%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo"  style="left:-30%;top:-5%;" :class="inId(allPieces[2].id) && Halo ? 'spin infinite dur-4s':''" v-if=" inId(allPieces[2].id) && Halo"/>
                                </div>
                                <div class="item">
                                    <img  v-lazy="allPieces[3].count>0?allPieces[3].lightImage:allPieces[3].image" class="left top xld" :class="inId(allPieces[3].id) && allPieces[3].count>0 && Showlight ? 'kds_animated dur-3s  infinite':''" :style="{'z-index':inId(allPieces[3].id) ? '999':''}">
                                    <img :src="allPieces[3].lightImage"  style="z-index:999" v-if="inId(allPieces[3].id) && Showlight && allPieces[3].count == 0"  class="kds_animated dur-3s left top xld  glight"  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[3].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add forwards addone dur-2s delay-1s"  style="right:50%;top:70%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo"  style="right:-30%;top:-5%;" :class="inId(allPieces[3].id) && Halo ? 'spin infinite dur-4s':''" v-if="inId(allPieces[3].id) && Halo"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item">
                                    <img  v-lazy="allPieces[4].count>0?allPieces[4].lightImage:allPieces[4].image" class="right top2 xld"  :class="inId(allPieces[4].id) && allPieces[4].count>0 && Showlight? 'kds_animated dur-3s  infinite':''"  :style="{'z-index':inId(allPieces[4].id) ? '999':''}">
                                    <img :src="allPieces[4].lightImage"  style="z-index:999" v-if="inId(allPieces[4].id) && Showlight && allPieces[4].count == 0"  class="kds_animated dur-3s right top2 xld  glight "  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[4].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add  forwards addone dur-2s delay-1s"  style="left:50%;top:50%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo"  style="left:-30%;top:-40%;" :class="inId(allPieces[4].id) && Halo ? 'spin infinite dur-4s':''" v-if="inId(allPieces[4].id) && Halo"/>
                                </div>
                                <div class="item">
                                    <img v-lazy="allPieces[5].count>0 ? allPieces[5].lightImage:allPieces[5].image" class="left top2 xld" :class="inId(allPieces[5].id) && allPieces[5].count>0 && Showlight ? 'kds_animated dur-3s  infinite':''"  :style="{'z-index':inId(allPieces[5].id) ? '999':''}">
                                    <img :src="allPieces[5].lightImage"  style="z-index:999" v-if="inId(allPieces[5].id) && Showlight && allPieces[5].count == 0"  class="kds_animated dur-3s left top2 xld  glight "  :class="aniflag ? ' infinite':'pintu'"/>
                                    <template v-if="inId(allPieces[5].id)">
                                        <img  src="../../assets/addone.png" class="kds_animated add forwards addone dur-2s delay-1s"  style="right:50%;top:50%;z-index: 999;opacity: 0" />
                                    </template>
                                    <img  src="../../assets/eff.png" class="kds_animated  Halo  " style="left:-50%;top:-40%;" :class="inId(allPieces[5].id) && Halo ? 'spin infinite dur-4s':''" v-if="inId(allPieces[5].id) && Halo" />
                                </div>
                            </div>
                        </lazy-component>
                        <h3 class="abs title">{{title}}</h3>
                        <template v-if="!istwo && twoover">
                            <img  src="../../assets/next.png"  class="next" @click="next"/>
                        </template>
                        <template v-else>
                            <img  src="../../assets/ggk_close.png"  class="close" @click="closedialog"/>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!--<network  :loading="loading"  @reload="reload"></network>-->
    </div>
</template>
<style lang="css">
    @import '../../styles/kds_animate.css';
</style>
<style>

</style>
<script>
    import vueEaser from "vue-eraser";
    import network from '@/components/network'
    export default {
        name: "scratch_card",
        data(){
            return{
                Ismask:true,
                Cannext:false,
                loading:false,
                aniflag:false,
                ani_dialog:false,//刮刮卡中奖效果
                Showlight:false,
                twoover:true,
                Halo:false,
                isok:false,
                title:"",
                memberGoodsId:"",
                cardId:"",
                goodsName:"",
                index:0,
                cardnum:0,
                items:[],
                coverSrc: require('../../assets/loong_mask.png'),
                resultSrc:require('../../assets/loong_go.png'),
                resultSrc1:require('../../assets/loong_go.png'),
                istwo:true,
                resultTitle:"--",
                resultTitle1:"--",
                allPieces:[],//当前显示刮刮卡中奖效果
                prizeArray:[],
                CouponsList:[],//总数量
                delayed1:"",
                delayed2:"",
            }
        },
        components:{
            vueEaser,
            network
        },
        methods:{
            inId(id){
                return this.prizeArray.includes(id)
            },
            onClickLeft(){
                this.$router.replace({
                    path: `/index`
                })
            },
            reload(){
                this.initData();
            },
            onClickRight(){
                this.$router.replace({
                    path: `/bag`
                })
            },
            Stateclear(){
                this.Showlight = false;
                this.aniflag = false;
                this.Halo = false;
            },
            next(){
                var self = this;
                this.Stateclear()
                if(this.istwo == false){//两张情况下
                    this.allPieces = this.CouponsList[1].allPieces;
                    this.title = this.CouponsList[1].couponName
                    this.twoover = false;
                    self.delayed1 = setTimeout(function(){
                        self.Showlight = true;
                    },2000)

                    self.delayed1 = setTimeout(function () {
                        self.Halo = true
                        self.aniflag = true;
                    },3000)
                }
            },
            closedialog(){
                clearTimeout(this.delayed1);
                clearTimeout(this.delayed2);
                this.ani_dialog =false
                this.twoover = true;
                this.Stateclear()
                this.allPieces = [];
                this.prizeArray = []
            },
            canmask(){
                this.Ismask = false
            },
            completeFunction (ratio){
                this.scratchover()
            },
            progressFunction (ratio){
                if(ratio>0.5){
                    this.$refs.vueEraser.clear();
                }
            },
            reset (){
                if(this.Cannext && this.cardnum >0){
                    this.$refs.vueEraser.reset();
                    this.index++;
                    this.cardnum --;
                    if(this.cardnum<0){
                        this.cardnum = 0;
                    }
                    this.replace_card(this.items,this.index)
                    this.Cannext = false;
                }else if(this.cardnum == 0){
                    this.$toast.center("已经是最后一张了");
                }else{
                    this.$toast.center("请先刮完当前卡片");
                }
            },
            replace_card(arr,index){
                if(index>arr.length){
                    this.$toast.center("已经是最后一张了");
                }else{

                    this.index = index;
                    this.cardId = arr[index].cardId;
                    var cardlist  = arr[index].list;
                    if(cardlist.length == 1){/*刮刮卡只有1张的*/
                        console.log("刮刮卡只有一张")

                        this.resultSrc = cardlist[0].goodsImage;
                        this.resultTitle = cardlist[0].goodsName;
                        this.prizeArray.push(cardlist[0].couponId)
                        this.istwo = true;
                    }else if(cardlist.length == 2){/*刮刮卡只有2张的*/

                        this.prizeArray.push(cardlist[0].couponId)//添加奖品数组
                        this.prizeArray.push(cardlist[1].couponId)//添加奖品数组

                        this.istwo = false;
                        this.resultTitle = cardlist[0].goodsName;
                        this.resultSrc = cardlist[0].goodsImage;
                        this.resultTitle1 = cardlist[1].goodsName;
                        this.resultSrc1 = cardlist[1].goodsImage;
                    }
                }
            },
            scratchover(){//刮完一张的回调
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/card/open",{cardId:self.cardId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        self.Cannext = true;
                        self.ani_dialog = true;//显示刮刮卡刮奖窗口
                        console.log("开始打开窗口")
                        console.log("这时候halo应该是false的----------"+this.Halo)
                        var array = [];
                        var arr = [];
                        var CouponsList = response.map.items; //总刮刮卡模块数量
                            for(let c = 0;c<CouponsList.length;c++){
                                for(let b = 0;b<CouponsList[c].allPieces.length;b++){
                                        var json = {};
                                        for(let a = 0;a<CouponsList[c].memberPieces.length;a++){

                                            if(CouponsList[c].memberPieces[a].couponId == CouponsList[c].allPieces[b].id){
                                                json['count']= CouponsList[c].memberPieces[a].count;
                                                json['once'] = false;
                                            }else{
                                                json['once'] = true;
                                            }
                                        }

                                        if(json['count']){

                                        }else{
                                            json['count']= 0;
                                        }
                                        json.id= CouponsList[c].allPieces[b].id;
                                        json.image= CouponsList[c].allPieces[b].image;
                                        json.lightImage= CouponsList[c].allPieces[b].lightImage;
                                        array.push(json);
                                }
                                var ason = {};
                                     ason.allPieces = array;
                                     array = [];
                                     ason.couponName = CouponsList[c].couponName || "";
                                     arr.push(ason);

                             }
                                self.CouponsList = arr;
                                var allPieces = arr[0].allPieces;
                                self.allPieces = allPieces;
                                self.title = CouponsList[0].couponName
                                var arrId = [];
                                console.log("self.allPieces????????????????????????????????????????")
                                console.log(self.allPieces)

                                for(let p=0;p<allPieces.length;p++){
                                    arrId.push(allPieces[p].id)
                                }
                                console.log("arrId")
                                console.log(arrId)
                                console.log("self.cardlist")
                                console.log(self.prizeArray)
                                if(self.prizeArray.length == 2){
                                    if(arrId.includes(self.prizeArray[0])  && arrId.includes(self.prizeArray[1])){
                                        self.twoover = false;
                                    }
                                }

                                self.delayed1 = setTimeout(function(){
                                    self.Showlight = true;
                                },2000)

                                self.delayed2 = setTimeout(function () {
                                    console.log("延时显示倍光学效果-----")
                                    self.Halo = true
                                    self.aniflag = true;
                                },3000)
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/card/list",{activityId:self.$store.state.activityId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.items = map.items || [];
                        self.loading = false;
                        self.isok = true;
                        self.index = 0;
                        self.cardnum = map.count-1;
                        self.replace_card(self.items,self.index);
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        mounted(){
            var self = this;
            window.onorientationchange=function(){
                if(window.orientation==90||window.orientation==-90){

                }else{
                    self.$router.go(0);
                }
            }

            self.$nextTick(function () {
                self.initData()
            })
        }
    }
</script>
<style>
    .img-wraper{
        background-color: #ffffff;
        height: 340px!important;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-wraper img{
        width: 200px!important;
        height: 200px!important;
        margin: 0 auto;
    }
    .cardcase-box{
        width: 50%;
        text-align: center;
    }
    .cardcase-box p{
        font-size: 26px;
        color: #8b0a0f;
        margin-top: 10px;
    }
    .cardshow{
        display: none;
    }
</style>
