<template>
    <div class="container" style="background: #ffffff">
        <!--<div class="tabbar">-->
            <!--<span class="title">消费记录</span>-->
            <!--<img  src="../../assets/back.png"  class="back" @click="back"/>-->
        <!--</div>-->
        <div class="record_list">
            <scroller  class="sctop"
                      :on-refresh="refresh"
                      :on-infinite="infinite"
                      :noDataText="noDataText" ref="my_scroller">
                    <div class="list" v-if="goodslist!='' && !isEmpty">
                        <ul>
                            <li v-for="(item,index) in goodslist" :key="index">
                                <img src="../../assets/HAI.png"/>
                                <div class="content">
                                    <p class="title" v-if="item.article">{{item.article.name}}</p>
                                    <p class="title" v-else>嗨机</p>
                                    <p class="time">{{item.showTime}}</p>
                                    <span class="money">{{item.money/100}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-else-if="isEmpty">
                        <img src="../../assets/empty.png" class="wave"/>
                    </div>
            </scroller>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
        <tab-bar @tab_select="tab_select" :tab_check="tab_check"></tab-bar>
    </div>
</template>
<script>
    import Vue from 'vue'
    import VueScroller from 'vue-scroller'
    import network from '@/components/network'
    import TabBar from '@/components/tabbar'
    Vue.use(VueScroller)
    export default {
        name: "records",
        data(){
            return{
                goodslist:[],
                noDataText:"",
                pageNo: 0,
                pageSize: 10,
                isEmpty:true,
                loading:false,
                tab_check:2
            }
        },
        created(){
          //  this.initData()
        },
        components:{
            network,
            TabBar
        },
        methods:{
            tab_select:function(index){
                this.tab_check = index
                if(this.tab_check == 0){
                    this.$router.replace({
                        path: `/index`
                    })
                }else if(this.tab_check == 2){
                    this.$router.replace({
                        path: `/records`
                    })
                }
            },
            back(){
                this.$router.back(-1)
            },
            reload(){
                this.$refs.my_scroller.onRefresh();
            },
            infinite(done){
                //加载更多
                var self = this;
                this.pageNo++    //每当向上滑动的时候就让页数加
                console.log(this.pageNo)
               self.initData(this.pageNo,this.pageSize,done)
            },
            refresh(done){
                //第一页
               this.pageNo = 0
               this.initData(1,this.pageSize,done)
            },
            initData(pageNo, pageSize,dn){
                var self = this;
                this.$loading('加载中');
                this.$fetch('/rmbPlay/order/list',{pageNo: pageNo,pageSize: pageSize}).then((response) =>{
                    this.$loading.close();
                    self.loading = false;
                    if (response.result == 'success') {
                            var list  =  response.map.items;
                            var all = response.map.totalPage;
                            var over = list.length < pageSize;

                            if (pageNo === 1) { //判断是否是第一页
                                self.goodslist = list   //如果是想下滑动，刷新数据 就让items等于最新数据
                            } else {
                                self.goodslist  = self.goodslist.concat(list) //否则就把数据拼接
                            }

                            if(all == 0){
                                self.isEmpty = true;
                            }else{
                                self.isEmpty = false;
                            }
                            if(all == 0){
                                self.noDataText = "";
                                dn(true);
                                return;
                            } else if(over){
                                self.noDataText = "-就这么多哦-"
                                dn(true);
                                return;
                            }else{
                                if (dn) dn()
                            }
                        }else{
                            dn(true)
                            self.$toast.center(response.failureReason);
                        }
                }).catch(error=>{
                    dn(true)
                    self.loading = true;
                    this.$loading.close();
                    self.$toast.center(error);
                })
            },
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style lang="scss">
    @import '../../styles/simple'; //导入外部scss文件
</style>
<style>
    .sctop{
        bottom: 140px!important;
    }
</style>
