<template>
        <div>
            <div  v-for="(item,index) in commentslist" :key="index">
                <div class="comments">
                    <div class="comment-item" >
                        <img :src="item.memberImage" class="header" @click="friendBag(item,index)"/>
                        <div class="rightbox">
                            <div class="top_comment">
                                <div class="content">
                                    <h3>{{item.memberName}}</h3>
                                    <p>{{getMoth(item.createDate)}}</p>
                                    <span class="like" :class="item.thumbup?'active':''"  @click="I_like(item,index)">{{item.thumpupCount || 0}}</span>
                                </div>
                            </div>
                            <div class="middle_comment">
                                <p  @click="lookmore(item,index)">{{item.content}}</p>
                                <div class="reply" v-if="item.replyList" @click="lookmore(item,index)">
                                    <ul>
                                        <template v-for="(item1,index) in item.replyList" >
                                            <li :key="index"  v-if="index<3">{{item1.memberName}}：{{item1.content}}</li>
                                        </template>
                                    </ul>
                                </div>
                                <!--<div>-->
                                <!--<img src="../assets/shop.png" @click="getImg()" /><img src="../assets/shop.png" />-->
                                <!--<div class="clearfix"> </div>-->
                                <!--</div>-->
                            </div>
                            <p class="lookall" v-if="item.replyList" @click="lookmore(item,index)">查看全部评论 （{{item.replyCount}}）</p>
                            <p class="lookall" v-if="!item.replyList"  ></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "comments",
        props:{
            commentslist:{
                type:Array
            }
        },
        data(){
            return{
                Is_like:false
            }
        },
        methods:{
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            friendBag(item,index){
                this.$emit("friendBag",item,index)
            },
            Reply(item,index){
                this.$emit("Reply",item,index)
            },
            lookmore(item,index){
                this.$emit("lookmore",item,index)
            },
            I_like(item,index){
                this.$emit("I_like",item,index)
            }
        }
    }
</script>

<style scoped>

</style>
