<template>
  <!--v-if="loading"-->
  <div class="netbox"  v-if="loading">
      <img src="../assets/st1.png" class='loading'/>
      <img src="../assets/sx.png" class='retry-btn no_select' @click="reload"   ontouchstart="" onmouseover=""/>
  </div>
</template>
<style lang="css">
  @import '../styles/style.css';
</style>
<script>
    export default {
        name: "network",
        props:{
          loading:{
            type:Boolean
          },
          retry:{
            type:Boolean
          }
        },
        methods:{
          reload(){
            this.$emit("reload",false)
          }
        }
    }
</script>

<style scoped>

</style>
