<template>
    <div class="pay_success" v-if="pay_ressult">
        <img  src="../assets/success.png"  style="width:25%;margin: 0 auto"/>
        <p class="ok cen">支付成功</p>
        <div class="cen openbox">
            <div class="twice">
                <p>请打开{{cellNo}}号格子，取走口红，如有问题</p>
                <p>请联系<a href="tel:400-002-8253">400-002-8253</a></p>
            </div>
            <p class="cen bian">嗨机编号：{{locationCode}}</p>
        </div>
    </div>
</template>
<style lang="css">
    @import '../styles/style.css';
</style>
<script>
    export default {
        name: "pay_success",
        props:{
            cellNo:"",
            locationCode:{
                type:String
            },
            pay_ressult:{
                type:Boolean
            }
        },
        methods:{

        }
    }
</script>
<style lang="css">
    @import '../styles/style.css';
</style>
