<template>
    <div class="Minetabbar">
        <div class="MineBar-item" @click="tab_select(0)">
            <!--<img  class="game" src="../assets/icon-game-select.png"  v-if="tab_check == 0"/>-->
            <!--<img  class="game" src="../assets/icon-game.png" v-else/>-->
            <div  class="tabtt" :class="tab_check == 0 ?'tab-selected':''">游戏</div>
        </div>
        <div class="MineBar-item">
            <img src="../assets/logo.png" class="logo"/>
        </div>
        <div class="MineBar-item"  @click="tab_select(2)">
            <!--<img   class="mine" src="../assets/icon-mine-select.png" v-if="tab_check == 2"/>-->
            <!--<img   class="mine" src="../assets/icon-mine.png"  v-else/>-->
            <div   class="tabtt" :class="tab_check == 2 ?'tab-selected':''">我的</div>
        </div>
    </div>
</template>
<style lang="css">
    @import '../styles/tabbar.css';
</style>
<script>
    export default {
        name: "tabbar",
        props:{
            tab_check:{
                type: Number
            }
        },
        methods:{
            tab_select(index){
                this.$emit("tab_select",index)
            }
        }
    }
</script>

<style scoped>

</style>
