<template>
  <transition name="slide-fade">
    <div class="pay_dialog" v-if="showpop" @click="close" >
      <div class="payteam" @click.stop.prevent="">
        <img src="../assets/loong_close.png" class="close" @click="close"/>
        <div class="balance" style="display: none">
          <p>我的嗨币</p>
          <p>{{balance}}</p>
        </div>
        <img src="../assets/topup-image2.png" class="logo"/>
        <div class="listbox">
          <ul>
            <li ontouchstart="" onmouseover="" @click="Recharge(item.id,item.money)" v-for="(item,index) in items" :key="index">
              <div class="item">
                <div class="item-top cen">
                  {{item.money}}元
                  <p class="gift" v-if="item.couponStr!=''">{{item.couponStr}}</p>
                </div>
                <div class="give" v-if="item.gift.coin">+{{item.gift.coin}}<br>嗨币</div>
                <div class="item-bot cen">{{item.gameCoin}}嗨币</div>
                <!--<div class="item-bot cen">立即充值</div>-->
              </div>
            </li>
          </ul>
        </div>
        <div class="tips">
          <p>客服电话：400-002-8253</p>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
    export default {
        name: "topup",
        props:{
          showpop:{
            type:Boolean
          },
          items:{
            type:Array
          },
          balance:{

          }
        },
        methods:{
          StopHide(){//阻止冒泡

          },
          close(){
            this.$emit("close",false)
          },
           Recharge(id,money){
            this.$emit("Recharge",id,money)
          }
        }
    }
</script>
<style scoped>
  .hidden{
    display: none;
  }
</style>

