<template>
    <div class="container" >
        <div class="cen buyback">
            <img  :src="goods.image" class="rmb_shop"/>
        </div>
        <div class="buy-message-infor">
            <p class="title">{{goods.name}}</p>
            <p class="locationCode">编号：{{locationCode}}号机</p>
            <p class="rmb rel" v-if="canBuy">
                <span class="sym">¥</span>{{purchaseMoney}}
                <span class="oldsale">
                    <span class="sym">¥</span>{{salePrice}}
                </span>
                <span v-if="couponName!=''" style="right:0;bottom:0;font-size:0.3rem;color: #cccccc;" class="abs">已使用{{couponName}}</span>
            </p>
            <div class="machineCode">{{cellNo}}</div>
        </div>
        <div style="height: 70px"></div>
        <div class="bottom_team" v-if="canBuy">
            <div  style="width: 80%" class="cen" v-if="balance!=''">
                <span class="yue" >可用余额：{{balance}}元</span>
            </div>
            <div style="width:100%">
                <button @click="buy" :disabled="dis" class="pay_btn" :style="{backgroundColor:dis? '#eeeeee':'#ff5858'}"><span v-if="rmbSalePrice!=topupMoney">{{topupMoney}}元</span>立即支付</button>
            </div>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
        <transition name="slide-fade">
            <div class="pay_dialog"  @click="close" v-if="payfail">
                <div style="" class="payresult cen">
                    <p class="cen">支付失败</p>
                    <div class="cen result">抱歉，支付失败，请重试</div>
                    <img src="../../assets/close1.png" class="close" @click="pay_fail" ontouchstart="" onmouseover=""/>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "buy",
        data(){
            return{
                goods:{image:require('../../assets/empty.jpg'),name:""},
                loading:false,//网路请求
                payfail:false,
                locationCode:"",
                locationGridId:"",
                couponName:"121212",
                goodsNo:"",
                cellNo:"",
                dis:false,
                money:"",
                boxGridId:"",
                cellNoStr:"",
                salePrice:"",
                balance:"",
                rmbSalePrice:0,
                purchaseMoney:0,
                topupMoney:0,
                orderId:"",
                canBuy:true,
                user_buy:false
            }
        },
        methods:{
            reload(){
                this.initData();
            },
            pay_fail(){
                this.payfail = false
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                // http://f.xnal.cn/rmbPlay/info
                var boxGridId = self.boxGridId;
                var cellNoStr = self.cellNoStr;
                var user_buy = self.user_buy;
                console.log("boxGridId------"+boxGridId)
                console.log("cellNoStr------"+cellNoStr)
                // http://f.xnal.cn/rmbPlay/info/FIrxSk5BW2Ug/13
                this.$loading('加载中');
                this.$fetch("/rmbPlay/info/"+boxGridId+"/"+cellNoStr,{buy:user_buy}).then((response) =>{
                    console.log("'初始化请求")
                    console.log(response)
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.canBuy = map.canBuy;
                        self.goods.image = map.goods.image || "";
                        self.goodsNo = map.goods.goodsNo || "";
                        self.balance = map.balance || "";
                        self.loading = false//网路请求
                        self.goods.name = map.goods.name || "";
                        self.couponName = map.couponName ||"";
                        self.locationCode = map.locationCode || "";
                        self.cellNo = map.cellNo || "";
                        self.locationGridId = map.locationGridId || "";
                        self.salePrice = map.salePrice || "";
                        self.rmbSalePrice = map.rmbSalePrice || 0;
                        self.purchaseMoney = map.purchaseMoney || 0;
                        self.topupMoney = map.topupMoney || 0;
                    }else{
                        var noGoods  = response.map.noGoods;
                        if(noGoods){//无商品跳走
                            self.$router.replace({
                                path: `/nogoods`
                            })
                        }else{
                            self.$router.replace({
                                path: `/error`,
                                query:{
                                    error_mess:response.failureReason
                                }
                            })
                            this.$toast.center(response.failureReason);
                        }
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            buy(){
                // http://f.xnal.cn/rmbPlay/pay/buy?locationGridId=xx&goodsNo=xx&cellNo=1
                var self = this;
                var locationGridId = self.locationGridId;
                var goodsNo = self.goodsNo;
                var cellNo = self.cellNo;
                var user_buy = self.user_buy;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rmbPlay/pay/buy",{locationGridId:locationGridId,goodsNo:goodsNo,cellNo:cellNo,buy:user_buy}).then((response) =>{
                    console.log("'初始化请求")
                    this.$loading.close();
                    if(response.result == 'success'){
                        if(response.map){
                            var charge = response.map.charge || "";
                            var orderId = response.map.orderId  || "";
                            var tradNo = response.map.tradNo  || "";
                            self.orderId = orderId;
                            self.Recharge(charge,orderId,tradNo)
                        }else{
                            self.$router.replace({
                                path: `/pay_success`,
                                query: {
                                    cellNo:self.cellNo,
                                    locationCode:self.locationCode
                                }
                            })
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            Recharge(charge,orderId,tradNo){
                var self = this;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(charge,orderId), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(charge,orderId));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(charge,orderId));
                        }
                    }else{
                        self.onBridgeReady(charge,orderId)
                    }
                }else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    console.log("支付宝环境")
                    ap.tradePay({
                        tradeNO:tradNo
                    }, function(res){
                        console.log("支付成功的结果")
                        if(res.resultCode == 9000){
                            self.paycallback(orderId);
                        }else if(res.resultCode == 6001){
                            this.$toast.center("支付取消");
                        }else if(res.resultCode == 4000){
                            this.$toast.center("订单支付失败");
                        }
                    });
                }else{
                    alert("请在微信环境内打开")
                }
            },
            onBridgeReady(charge,orderId){
                var self = this;
                WeixinJSBridge.invoke("getBrandWCPayRequest", {
                        "appId": charge.appId, //公众号名称，由商户传⼊入
                        "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                        "nonceStr": charge.nonceStr, //随机串
                        "package": charge.package,
                        "signType": charge.signType,
                        "paySign": charge.paySign
                    },
                    function(res) {
                        console.log("测试支付回------------")
                        if(res.err_msg == "get_brand_wcpay_request:ok" ){
                            self.paycallback(orderId);
                        }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            this.$toast.center("支付取消");
                        }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                            this.payfail = true
                            this.$toast.center("支付失败");
                        }
                        self.Ispaying = false;
                    })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result == 'success'){
                        this.$toast.center("支付成功");
                        console.log("支付成功回调")
                        self.$router.replace({
                            path: `/pay_success`,
                            query: {
                                cellNo:self.cellNo,
                                locationCode:self.locationCode
                            }
                        })
                    }else{
                        self.paycallback(self.orderId)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            settime(time) {
                let that = this
                let interval = window.setInterval(function() {
                    that.interval = interval;
                    if ((time--) <= 1) {
                        that.dis = true;
                        clearInterval(interval);
                    }
                }, 1000);
            }
        },
        components:{
            network
        },
        mounted(){
            var url = window.location.href;/*获取url*/
            this.boxGridId =  this.$store.getters.getQueryString(url,"boxGridId");
            this.cellNoStr =  this.$store.getters.getQueryString(url,"cellNo");
            this.user_buy = this.$store.getters.getQueryString(url,"buy");
            this.settime(60);
            this.initData()
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style >
    .pay_btn{
        height:120px;
        line-height: 120px;
        background-color:#ff5858;
        color:#ffffff;
        font-size:32px;
        width: 100%;
        border:none;
    }
    .rmb_shop{
        width:80%;
        margin:0px auto 0px auto;
    }
    .buyback{
        background-image: url('../../assets/buy.jpg');
        background-size: 100% 100%;
        height:64vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .yue{
        font-size: 30px;
    }
    .bottom_team{
        display: flex;align-items: center;width: 100%;position:fixed;bottom: 0px;border-top:solid 1px #eeeeee
    }
    @media only screen and (width: 375px) and (height: 690px){
        .bottom_team {
            display: flex;align-items: center;width: 100%;position:fixed;bottom: 60px;border-top:solid 1px #eeeeee
        }
    }
</style>
