<template>
    <div class="container" >
        <div class="cen buyback">
            <img  src="../../assets/limited.png"  style="width:64%;margin-top: -50px"/>
        </div>
        <div class="buy-message-infor">
            <p class="title">{{goods.name}}</p>
            <p class="locationCode">结束时间：{{endtime}}</p>
            <p class="rmb" v-if="canBuy">
                <span class="sym">¥</span>{{price}}
            </p>
            <div class="cir_machineCode">{{effectiveTime}}分钟</div>
        </div>
        <div style="height: 70px"></div>
        <div class="bottom_team" v-if="canBuy">
            <div style="width:100%">
                <button @click="buy" :disabled="dis" class="pay_btn" :style="{backgroundColor:dis? '#eeeeee':'#ff5858'}"><span>{{price}}元</span>立即支付</button>
            </div>
        </div>
        <div class="error_mess" v-else>
            {{error_mess}}
        </div>
        <network  :loading="loading"  @reload="reload"></network>
        <transition name="slide-fade">
            <div class="pay_dialog"  @click="close" v-if="payfail">
                <div style="" class="payresult cen">
                    <p class="cen">支付失败</p>
                    <div class="cen result">抱歉，支付失败，请重试</div>
                    <img src="../../assets/close1.png" class="close" @click="pay_fail" ontouchstart="" onmouseover=""/>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "buy",
        data(){
            return{
                goods:{image:require('../../assets/empty.jpg'),name:""},
                loading:false,//网路请求
                payfail:false,
                locationGridId:"",
                createtime:"",
                endtime:"",
                goodsNo:"",
                cellNo:"",
                dis:false,
                price:"",
                id:"",
                salePrice:"",
                orderId:"",
                canBuy:true,
                error_mess:"",
                effectiveTime:"",
            }
        },
        methods:{
            reload(){
                this.initData();
            },
            pay_fail(){
                this.payfail = false
            },
            format(time,format){
                var t = new Date(time);
                var tf = function(i){return (i < 10 ? '0' : '') + i};
                var over =  format.replace(/yyyy|MM|dd|HH|mm|ss/g, function(a){
                    switch(a){
                        case 'yyyy':
                            return tf(t.getFullYear());
                            break;
                        case 'MM':
                            return tf(t.getMonth() + 1);
                            break;
                        case 'mm':
                            return tf(t.getMinutes());
                            break;
                        case 'dd':
                            return tf(t.getDate());
                            break;
                        case 'HH':
                            return tf(t.getHours());
                            break;
                        case 'ss':
                            return tf(t.getSeconds());
                            break;
                    }
                })
                return over;
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                var id = self.id;
                this.$loading('加载中');
                this.$fetch("/dall/ajax/bargain/info",{id:id}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map.bargain;
                        self.canBuy = response.map.canBuy;
                        self.balance = map.balance || "";
                        self.loading = false//网路请求
                        self.goods.name = map.name || "";
                        self.price = map.price || "";
                        self.effectiveTime = map.effectiveTime || 60;
                        self.createtime =  map.beginDate;
                        self.endtime =   map.endDate.substring(0,10);
                        localStorage.setItem("bargainCode",map.code);
                        localStorage.setItem("timeId",id);
                    }else{
                        self.canBuy = false;
                        if(response.map){
                            var map = response.map.bargain;
                            self.balance = map.balance || "";
                            self.loading = false//网路请求
                            self.goods.name = map.name || "";
                            self.price = map.price || "";
                            self.effectiveTime = map.effectiveTime || 60;
                            self.createtime =  map.beginDate;
                            self.endtime =   map.endDate.substring(0,10);
                            self.error_mess = response.failureReason
                        }else{
                            self.$router.replace({
                                path: `/error`,
                                query: {
                                    card:response.failureReason
                                }
                            })
                        }
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            buy(){
                http://h.xnal.cn/dall/ajax/bargain/buy?id=zsadvaouaahbed
                var self = this;
                var id = self.id;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/dall/ajax/bargain/buy",{id:id}).then((response) =>{
                    console.log("'初始化请求")
                    this.$loading.close();
                    if(response.result == 'success'){
                        if(response.map){
                            var charge = response.map.charge || "";
                            var orderId = response.map.orderId  || "";
                            var tradNo = response.map.tradNo  || "";
                            self.orderId = orderId;
                            self.Recharge(charge,orderId,tradNo)
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    self.loading = true;
                    this.$toast.center(error);
                })
            },
            Recharge(charge,orderId,tradNo){
                var self = this;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(charge,orderId), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(charge,orderId));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(charge,orderId));
                        }
                    }else{
                        self.onBridgeReady(charge,orderId)
                    }
                }else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    console.log("支付宝环境")
                    ap.tradePay({
                        tradeNO:tradNo
                    }, function(res){
                        console.log("支付成功的结果")
                        if(res.resultCode == 9000){
                            self.paycallback(orderId);
                        }else if(res.resultCode == 6001){
                            this.$toast.center("支付取消");
                        }else if(res.resultCode == 4000){
                            this.$toast.center("订单支付失败");
                        }
                    });
                }else{
                    alert("请在微信环境内打开")
                }
            },
            onBridgeReady(charge,orderId){
                var self = this;
                WeixinJSBridge.invoke("getBrandWCPayRequest", {
                        "appId": charge.appId, //公众号名称，由商户传⼊入
                        "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                        "nonceStr": charge.nonceStr, //随机串
                        "package": charge.package,
                        "signType": charge.signType,
                        "paySign": charge.paySign
                    },
                    function(res) {
                        console.log("测试支付回------------")
                        if(res.err_msg == "get_brand_wcpay_request:ok" ){
                            self.paycallback(orderId);
                        }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            this.$toast.center("支付取消");
                        }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                            this.payfail = true
                            this.$toast.center("支付失败");
                        }
                        self.Ispaying = false;
                    })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result == 'success'){
                        this.$toast.center("支付成功");
                        self.$router.replace({
                            path: `/index`,
                            query: {
                                id:self.id,
                                effectiveTime:self.effectiveTime
                            }
                        })
                    }else{
                        self.paycallback(self.orderId)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            settime(time) {
                let that = this
                let interval = window.setInterval(function() {
                    that.interval = interval;
                    if ((time--) <= 1) {
                        that.dis = true;
                        clearInterval(interval);
                    }
                }, 1000);
            }
        },
        components:{
            network
        },
        mounted(){
            var url = window.location.href;/*获取url*/
            this.id = this.$store.getters.getQueryString(url,"id");
            this.settime(60);
            this.initData()
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>
<style >
    .pay_btn{
        height:120px;
        line-height: 120px;
        background-color:#ff5858;
        color:#ffffff;
        font-size:32px;
        width: 100%;
        border:none;
    }
    .error_mess{
        height:120px;
        line-height: 120px;
        background-color:#EEEEEE;
        text-align: center;
        color:#000000;
        font-size:32px;
        width: 100%;
        border:none;
    }
    .buyback{
        background-image: url('../../assets/buy.jpg');
        background-size: 100% 100%;
        height:64vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .yue{
        font-size: 30px;
    }
    .bottom_team{
        display: flex;align-items: center;width: 100%;position:fixed;bottom: 0px;border-top:solid 1px #eeeeee
    }
    @media only screen and (width: 375px) and (height: 690px){
        .bottom_team {
            display: flex;align-items: center;width: 100%;position:fixed;bottom: 60px;border-top:solid 1px #eeeeee
        }
    }
</style>
