<template>
    <div class="container">
        <div style="position: fixed;width: 100%;top: 0px;z-index: 999">
            <van-nav-bar style="background-color: #ff5858"
                         title="我的嗨币"
                         left-arrow
                         @click-left="onClickLeft"
            />
            <div class="head-coin-container">
                <div class="coin-info" style="left:30px">
                    <div class="coin-title">我的嗨币:</div>
                    <div class='coin-num' >{{balance}} 嗨币</div>
                </div>
                <div @click="pay" class="buy-btn middle"><span>充值</span></div>
            </div>
        </div>
        <scroller  class="scrolltop"
                  :on-refresh="refresh"
                  :on-infinite="infinite"
                  :noDataText="noDataText" ref="my_scroller" style="top:180px">
            <div class="rowbox" v-if="topups!=''">
                <template v-for="(item,index) in topups">
                    <div  class="contentContainer-item" :key="index" >
                        <img src="../../../assets/bi-red.png"/>
                        <div class="contentContainer-item-mid" >
                            <span class='up' v-if="item.type == 1">嗨币充值</span>
                            <span class='up' v-else>赠送</span>
                            <!--<span class='up' v-else-if="typeArray2.indexOf(item.type)!= -1">赠送</span>-->
                            <!--<span class='up' v-else-if="typeArray3.indexOf(item.type)!= -1">退款</span>-->
                            <!--<span class='up' v-else>消费</span>-->
                            <div class='down'>{{ format(item.createDate,'yyyy-MM-dd HH:mm:ss')}}</div>
                            <div>
                                <span class='contentContainer-item-right' v-if="item.gameCoin > 0">+{{item.gameCoin}}嗨币</span>
                                <span class='contentContainer-item-right' v-else>{{item.gameCoin}}嗨币</span>
                                <!--<span class='contentContainer-item-right' v-if="item.gameCoin >= 0">+{{item.gameCoin || 0}}币</span>-->
                                <!--<span class='contentContainer-item-right' v-else>{{item.gameCoin || 0 }}币</span>-->
                                <!--<span class='contentContainer-item-right'>{{item.money/100 || 0 }}元</span>-->
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <div class="mine-content-content" v-else >
                <div class="no-content center">
                    <span>暂无记录~</span>
                </div>
            </div>
        </scroller>
        <topup :showpop="show_dialog" @close="close" @Recharge="Recharge" :items="items" :balance="balance"></topup>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueScroller from 'vue-scroller'
    import network from '@/components/network'
    import topup from '@/components/topup'
    Vue.use(VueScroller)
    export default {
        name: "coin",
        data(){
            return{
                balance: 0,
                loading: false,
                items: [],
                topups: [],
                member: [],
                typeArray1:[1,31],//充值
                typeArray2:[3,5,6,15,19,16,27,34],//赠送
                typeArray3:[4,9,13,14,33,38,39,40],//退款
                typeArray4:[30,31,32,33,34,35,36,37,38,39,40,41,42],//消费
                typeArray5:[3,5,6,15,19,16,27,34,1,31],//消费
                pageNo: 0,
                pageSize: 10,
                over: false,
                show_dialog:false,//支付窗口
                noDataText:"",
            }
        },
        components:{
            network,
            topup
        },
        mounted(){

        },
        methods:{
            reload(){
                this.$refs.my_scroller.onRefresh();
            },
            close(){
                this.show_dialog = false
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/mine`
                })
            },
            infinite(done){
                //加载更多
                var self = this;
                this.pageNo++    //每当向上滑动的时候就让页数加
                self.initData(this.pageNo,this.pageSize,done)
            },
            refresh(done){
                //第一页
                this.pageNo = 0
                this.initData(1,this.pageSize,done)
            },
            format(time,format){
                var t = new Date(time);
                var tf = function(i){return (i < 10 ? '0' : '') + i};
                var over =  format.replace(/yyyy|MM|dd|HH|mm|ss/g, function(a){
                    switch(a){
                        case 'yyyy':
                            return tf(t.getFullYear());
                            break;
                        case 'MM':
                            return tf(t.getMonth() + 1);
                            break;
                        case 'mm':
                            return tf(t.getMinutes());
                            break;
                        case 'dd':
                            return tf(t.getDate());
                            break;
                        case 'HH':
                            return tf(t.getHours());
                            break;
                        case 'ss':
                            return tf(t.getSeconds());
                            break;
                    }
                })
                return over;
            },
             initData(pageNo, pageSize,dn){
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine/topup',{pageNo: pageNo,pageSize: pageSize}).then((response) =>{
                    this.$loading.close();
                    self.loading = false;
                    if (response.result == 'success' && response.map) {
                        var list  =  response.map.topups;
                        var all = response.map.totalPage;
                        self.balance = response.map.gameCoin;
                        var over = list.length < pageSize;

                        if (pageNo === 1) { //判断是否是第一页
                            self.topups = list   //如果是想下滑动，刷新数据 就让items等于最新数据
                        } else {
                            if(list!=''){
                                self.topups  = self.topups.concat(list) //否则就把数据拼接
                            }
                        }

                        if(all == 0 || list == ""){
                            self.noDataText = "";
                            dn(true);
                            return;
                        } else if(over){
                            self.noDataText = "-就这么多哦-"
                            dn(true);
                            return;
                        }else{
                            if (dn) dn()
                        }
                    }else{
                        dn(true)
                        self.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    dn(true)
                    self.loading = true;
                    this.$loading.close();
                    self.$toast.center(error);
                })
            },
            pay(){
                this.show_dialog = true;//显示充值弹窗
                var self = this;
                /*获取充值方案*/
                if(self.items!=""){
                    return ;
                }
                this.$loading('加载中');
                var locationCode =  localStorage.getItem("locationCode");
                this.$fetch("/rpc/ajax/loong/topup/items",{locationCode:locationCode}).then((response) =>{
                    this.$loading.close();
                    if(response.result === 'success'){
                        var items = response.map.items;
                        var attr = self.$store.getters.handleTopupItems(items);
                        var balance = response.map.money;
                        self.items = attr;
                        self.balance = balance;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            Recharge(id,money){
                var self = this;
                this.show_dialog = false;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(id,money), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(id,money));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(id,money));
                        }
                    }else{
                        self.onBridgeReady(id,money)
                    }
                }else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    var locationCode = localStorage.getItem("locationCode");
                    this.$fetch('/haiji/ajax/pay/a_topup',{topupItemId:id,operator:"doll",locationCode:locationCode}).then((response) => {
                        if(response.result == 'success'){
                            if(response.map){
                                var tradNo= response.map.tradNo;
                                var orderId = response.map.orderId;
                                ap.tradePay({
                                    tradeNO:tradNo
                                }, function(res){
                                    if(res.resultCode == 9000){
                                        self.paycallback(orderId);
                                    }else if(res.resultCode == 6001){
                                        this.$toast.center("支付取消");
                                    }else if(res.resultCode == 4000){
                                        this.$toast.center("订单支付失败");
                                    }
                                });
                            }else{
                                this.$toast.center("充值成功");
                            }
                        }
                    }).catch(err=>{
                        console.log("支付宝支付异常结果")
                        console.log(err);
                    })
                }else{
                    alert("请在微信环境内打开")
                }
            },
            onBridgeReady(id,money){
                var self = this;
                this.$fetch("/haiji/ajax/pay/w_topup",{topupItemId:id,operator:"doll"}).then((response) =>{
                    if(response.result == 'success' && response.map.charge){
                        var charge = (response.map && response.map.charge) || "";
                        if(charge!= ""){
                            WeixinJSBridge.invoke("getBrandWCPayRequest", {
                                    "appId": charge.appId, //公众号名称，由商户传⼊入
                                    "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                                    "nonceStr": charge.nonceStr, //随机串
                                    "package": charge.package,
                                    "signType": charge.signType,
                                    "paySign": charge.paySign
                                },
                                function(res) {
                                    if(res.err_msg == "get_brand_wcpay_request:ok" ){
                                        self.orderId = response.map.orderId;
                                        self.paycallback(response.map.orderId);
                                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                                        self.$toast.center("支付取消");
                                    }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                                        self.payfail = true
                                        self.$toast.center("支付失败");
                                    }
                                })
                        }else{
                            this.$toast.center("充值成功");
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result == 'success'){
                        this.$toast.center("支付成功");
                        console.log("支付成功回调")
                        self.initData();
                    }else{
                        self.paycallback(self.orderId)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
        }
    }
</script>

<style>
    .coin-info{
        font-size: 35px;
        color: #ffffff;
    }
    .coin-info .coin-title{

    }
    .coin-info .coin-num{

    }
    .buy-btn{
        width: 120px;
        height: 60px;
        line-height: 60px;
        border-radius: 6px;
        background-color: #ffffff;
        color: #FF3C44;
        position: absolute;
        text-align: center;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
    }
    .head-coin-container {
        width: 100%;
        height:200px;
        padding-top: 50px;
        padding-left: 30px;
        box-sizing: border-box;
        background-image: url("../../../assets/mine_banner.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .scrolltop{
        top: 300px!important;
    }
</style>
