<template>
  <div class="container iframe_scroll">
    <van-nav-bar style="background-color: #ff5858"
                 title="任务"
                 left-arrow
                 @click-left="onClickLeft"
    />
    <iframe  id="show-iframe"  :src="iframe_url" :style="{height:iframe_hei+'px'}"></iframe>
  </div>
</template>

<script>
    export default {
        name: "webview",
        data() {
          return{
              iframe_url:"",
              title:"本宫娃娃任务",
              iframe_hei:600
          }
        },
        methods:{
           onClickLeft:function(){
               this.$router.replace({
                   path: `/index`
               })
          },
          getCookie:function(objName){
            var arrStr = document.cookie.split("; ");
            for (var i = 0; i < arrStr.length; i++) {
              var temp = arrStr[i].split("=");
              if (temp[0] == objName){
                return decodeURI(temp[1]);
              }
            }
          }
        },
        mounted(){
          var hei = window.screen.height;
          this.iframe_hei = hei;
          var id = this.$route.query.id;
          var url = this.$route.query.url;

          var locationCode = localStorage.getItem("locationCode");
          var memberId = this.getCookie("memberId");//本地存储的sessionId
          var key = this.getCookie("key");//本地存储的sessionId
          console.log("memberId+++++++++++"+memberId)
          console.log("key++++++++++++++++"+key)
          this.iframe_url = url+"?id=" + id + "&memberId=" + memberId + "&key=" + key + "&locationCode=" + locationCode
          //this.iframe_url ="https://h.xnal.cn/h5/mission/index.html"+"?id=1&memberId=dafp6i3hwwewmk&key=61dbf69a91f62e696f2fbd14d2b3afa1&locationCode=23228"
        }
    }
</script>
<style>
  iframe{
    width: 100%;
    border: none;
  }
</style>
