<template>
    <div class="container pay_success">
        <img  src="../../assets/success.png"  style="width:25%;margin: 0 auto"/>
        <p class="ok cen">支付成功</p>
        <div class="cen openbox">
            <div class="twice">
                <p>请从{{cellNo}}格子取货，如有问题</p>
                <p>请联系<a href="tel:400-002-8253">400-002-8253</a></p>
            </div>
            <p class="cen bian">嗨机编号{{locationCode}}</p>
        </div>
    </div>
</template>
<script>
    export default {
        name: "pay_success",
        data(){
            return{
                cellNo:"",
                locationCode:""
            }
        },
        methods:{

        },
        created(){
            this.cellNo = this.$route.query.cellNo || "";
            this.locationCode = this.$route.query.locationCode || "";
        }
    }
</script>
<style lang="css">
    @import '../../styles/style.css';
</style>

