<template>
    <div class="container obj">
        <van-nav-bar style="background-color: #ff5858;"
                     left-arrow
                     @click-left="onClickLeft"
                     title="查看拼图"></van-nav-bar>
        <img src="../../../assets/bai.png" class="w100"/>
        <div class="Jigsaw" v-if="CouponsList!=''">
                <div class="row">
                    <img :src="geturL(CouponsList[0])" class="l-m"/>
                    <img :src="geturL(CouponsList[1])"/>
                    <img :src="geturL(CouponsList[2])" class="r-m"/>
                    <div class="count count-l count-t1">{{CouponsList[0]['count'] || 0}}</div>
                    <div class="count count-m count-t1">{{CouponsList[1]['count'] || 0}}</div>
                    <div class="count count-r count-t1">{{CouponsList[2]['count'] || 0}}</div>
                </div>
                <div class="row m-t">
                    <img :src="geturL(CouponsList[3])" class="l-m"/>
                    <img :src="geturL(CouponsList[4])" class="m-t-sm"/>
                    <img :src="geturL(CouponsList[5])" class="r-m"/>
                    <div class="count count-l count-t2">{{CouponsList[3]['count'] || 0}}</div>
                    <div class="count count-m count-t2">{{CouponsList[4]['count'] || 0}}</div>
                    <div class="count count-r count-t2">{{CouponsList[5]['count'] || 0}}</div>
                </div>
                <div class="row m-t-xs">
                    <img :src="geturL(CouponsList[6])" class="l-m"/>
                    <img :src="geturL(CouponsList[7])"/>
                    <img :src="geturL(CouponsList[8])" class="r-m"/>
                    <div class="count count-l count-t3">{{CouponsList[6]['count'] || 0}}</div>
                    <div class="count count-m count-t3">{{CouponsList[7]['count'] || 0}}</div>
                    <div class="count count-r count-t3">{{CouponsList[8]['count'] || 0}}</div>
                </div>
        </div>
        <div class="Jigsaw-box">
            <h3>活动截止时间：{{getdate(activity.endDate)}}</h3>
            <button @click="compound">立即兑换</button>
            <p class="curtime">规则：集齐9张拼图兑换大奖</p>
            <p class="ac-name">{{activity.name}}</p>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import Vue from 'vue'
    import { Dialog } from 'vant';
    Vue.use(Dialog);
    import network from '@/components/network'
    // options 为可选参数，无则不传
    export default {
        name: "Jigsaw",
        data(){
            return{
                loading:false,//网路请求
                dis:false,
                IsPrize:false,
                couponId:"",
                activityId:"",
                activity:"",
                shopname:"",
                dialogInfor:{
                    goodsName:"",
                    goodsImage:""
                },
                CouponsList:[],
                goodsList:[]
            }
        },
        components:{
            network
        },
        methods:{
            getdate(date){
                return this.$store.getters.currentTime(date)
            },
            geturL(item){
                if(item!= undefined){
                    if(item['count']>0){
                        return item.lightImage;
                    }else{
                        return item.image;
                    }
                }else{
                    return "";
                }
            },
            reload(){
                this.initData();
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/coupon`
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/ajax/twist/pieces/"+self.activityId ,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        var allCoupons = map.allPieces || '';
                        var myPieces = map.hasPieces || '';
                        self.loading = false;
                        self.activity = map.activity;
                        var array = [];
                        for(let i = 0;i<allCoupons.length;i++){//判断已有的何总数量
                            var json = {};
                            for(let v=0;v<myPieces.length;v++){
                                if(myPieces[v].couponId == allCoupons[i].id){
                                    json['count']= myPieces[v].count;
                                    break;
                                }else{
                                    json['count']= 0;
                                }
                            }
                            json.id= allCoupons[i].id;
                            json.image= allCoupons[i].image;
                            json.lightImage= allCoupons[i].lightImage;
                            array.push(json);
                        }
                            console.log(array)
                            self.CouponsList = array
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            compound(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('合成中...');
                this.$fetch("/ajax/twist/pieces/mixture/"+this.activityId ,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            }
        },
        created(){
            this.activityId = this.$route.query.activityId;
            this.initData()
        }
    }
</script>

<style>
    .van-nav-bar .van-icon{
        color: #ffffff!important;
    }
</style>
