<template>
    <div class="container">
        <div class="head-qr-container">
            <div class="headLeft">
                <img  src="../../assets/topup-image3.png" class="logo"/>
            </div>
            <div class="headRight">
                <div class="topup-header-box">
                    <div class="topup-title">
                        账户余额：
                    </div>
                    <div class="topup-balance">
                        {{balance}}嗨币
                    </div>
                </div>
            </div>
        </div>
        <div class="payteam" @click.stop.prevent="" style="position: relative">
            <div class="listbox">
                <ul>
                    <li ontouchstart="" onmouseover="" @click="Recharge(item.id,item.money)" v-for="(item,index) in items" :key="index">
                        <div class="item">
                            <div class="item-top cen">
                                {{item.money}}元
                                <p class="gift" v-if="item.couponStr!=''">{{item.couponStr}}</p>
                            </div>
                            <div class="give" v-if="item.gift.coin">+{{item.gift.coin}}<br>嗨币</div>
                            <div class="item-bot cen">{{item.gameCoin}}嗨币</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div   v-if="isWeixin" class="center">
                 <img src="../../assets/1550662218.png" class="topup-qrcode"/>
                <div  class="topup-tt">
                    <p>长按二维码关注</p>
                    <p>开始游戏</p>
                </div>
            </div>
            <div class="center" v-else>
                <button class="game-button" @click="goindex()">开始游戏</button>
            </div>
        </div>
        <div class="call">
            <p>客服电话：400-002-8253</p>
        </div>
        <transition name="slide-fade">
            <div class="pay_dialog"  @click="pay_fail" v-if="payfail">
                <div style="" class="payresult cen">
                    <p class="cen">支付失败</p>
                    <div class="cen result">抱歉，支付失败，请重试</div>
                    <img src="../../assets/close1.png" class="close" @click="pay_fail" ontouchstart="" onmouseover=""/>
                </div>
            </div>
        </transition>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "topup",
        data(){
            return{
                locationCode:"",
                payfail:false,
                loading:false,
                isWeixin:false,
                balance:0,
                gift:{},
                items:[],
            }
        },
        components:{
            network
        },
        methods:{
            goindex:function(){
                this.$router.push({
                    path: `/index`
                })
            },
            pay_fail(){
                this.payfail = false
            },
            reload(){
                this.initData();
            },
            initData(){
                this.show_dialog = true;//显示充值弹窗
                var self = this;
                /*获取充值方案*/
                this.$loading('加载中');
                var locationCode =  localStorage.getItem("locationCode");
                this.$fetch("/rpc/ajax/loong/topup/items",{locationCode:locationCode}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var items = response.map.items;
                        self.loading = false;
                        var attr = self.$store.getters.handleTopupItems(items);
                        var balance = response.map.gameCoin;
                        self.items = attr;
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            Recharge(id,money){
                var self = this;
                this.show_dialog = false;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {/*是微信浏览器*/
                    if (typeof WeixinJSBridge == "undefined"){
                        if( document.addEventListener ){
                            document.addEventListener('WeixinJSBridgeReady', self.onBridgeReady(id,money), false);
                        }else if (document.attachEvent){
                            document.attachEvent('WeixinJSBridgeReady',  self.onBridgeReady(id,money));
                            document.attachEvent('onWeixinJSBridgeReady',  self.onBridgeReady(id,money));
                        }
                    }else{
                        self.onBridgeReady(id,money)
                    }
                }else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    console.log("支付宝环境")
                    var locationCode = localStorage.getItem("locationCode");
                    this.$fetch('/haiji/ajax/pay/a_topup',{topupItemId:id,operator:"doll",locationCode:locationCode}).then((response) => {
                        if(response.result == 'success' && response.map){
                            var tradNo= response.map.tradNo;
                            var orderId = response.map.orderId;
                            ap.tradePay({
                                tradeNO:tradNo
                            }, function(res){
                                console.log("支付成功的结果")
                                if(res.resultCode == 9000){
                                    self.paycallback(orderId);
                                }else if(res.resultCode == 6001){
                                    this.$toast.center("支付取消");
                                }else if(res.resultCode == 4000){
                                    this.$toast.center("订单支付失败");
                                }
                            });
                        }
                    }).catch(err=>{
                        console.log("支付宝支付异常结果")
                        console.log(err);
                    })
                }else{
                    alert("请在微信环境内打开")
                }

            },
            onBridgeReady(id,money){
                var self = this;
                console.log("支付。。。。。。")
                console.log("id===="+id)
                console.log("money===="+money)
                this.$fetch("/haiji/ajax/pay/w_topup",{topupItemId:id,operator:"doll"}).then((response) =>{
                    if(response.result == 'success' && response.map.charge){
                        var charge = response.map.charge;
                        WeixinJSBridge.invoke("getBrandWCPayRequest", {
                                "appId": charge.appId, //公众号名称，由商户传⼊入
                                "timeStamp": charge.timeStamp, //时间戳 这⾥里随意使⽤用了⼀一个值
                                "nonceStr": charge.nonceStr, //随机串
                                "package": charge.package,
                                "signType": charge.signType,
                                "paySign": charge.paySign
                            },
                            function(res) {
                                console.log("测试支付回------------")
                                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                                    self.orderId = response.map.orderId;
                                    self.paycallback(response.map.orderId);
                                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                                    self.$toast.center("支付取消");
                                }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                                    self.payfail = true
                                    self.$toast.center("支付失败");
                                }
                            })
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
            paycallback(orderId){
                var self = this;
                this.$fetch("/haiji/ajax/pay/return/weixin/"+ orderId,{}).then((response) =>{
                    if(response.result == 'success'){
                        this.$toast.center("支付成功");
                        console.log("支付成功回调")
                        self.initData();
                    }else{
                        self.paycallback(self.orderId)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
        },
        mounted(){
            var url = window.location.href;/*获取url*/
            this.locationCode = this.$store.getters.getQueryString(url,"lc") || '';
            if(/MicroMessenger/.test(window.navigator.userAgent)){
                this.isWeixin = true;
            }else if(/AlipayClient/.test(window.navigator.userAgent)){
                this.isWeixin = false;
            }
            if(this.locationCode){
                localStorage.setItem("locationCode",this.locationCode)
            }
            this.initData()
        }
    }
</script>

<style>
    .head-qr-container{
        background-image: url("../../assets/mine_banner.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

</style>
