<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858"
                title="九龙拼图"
                right-text="论坛"
                @click-right="onClickRight"
        />
        <div class="loong_debris">
            <lazy-component>
                <ul class="debris">
                    <template  v-for="(item,index) in memberCoupons" >
                        <li :key="index" v-if="index != allCoupons.length-1 && index !=allCoupons.length-2" class="sm_loong loong" @click="Jigsaw(item.couponId,allCoupons[index].name)">
                            <template v-if="item.count">
                                <img  v-lazy="allCoupons[index].lightImage" class="w100">
                            </template>
                            <template v-else>
                                <img  v-lazy="allCoupons[index].image" class="w100">
                            </template>
                            <span class="count">{{item.havePieces || 0}} / {{item.allPieces || 6}}</span>
                            <p>{{allCoupons[index].name}} <span v-if="item.count">x{{item.count || ''}}</span></p>
                        </li>
                    </template>
                    <template  v-for="(item,index) in memberCoupons">
                        <li :key="index" v-if="index == allCoupons.length-1 || index ==allCoupons.length-2" class="hide_loong loong" @click="Jigsaw(item.couponId,allCoupons[index].name)">
                            <template v-if="item.count">
                                <img  v-lazy="allCoupons[index].lightImage" class="w100">
                            </template>
                            <template v-else>
                                <img  v-lazy="allCoupons[index].image" class="w100">
                            </template>
                            <span class="count">{{item.havePieces || 0}} / {{item.allPieces || 6}}</span>
                            <p>{{allCoupons[index].name}}<span v-if="item.count">x{{item.count || ''}}</span></p>
                        </li>
                    </template>
                </ul>
            </lazy-component>
            <div class="exchange">
                <p>已集齐：{{haveCount}}/{{memberCoupons.length}}</p>
                <button class="exchange_btn" :class="dis?'':'active'"  :disabled="dis" @click="compound">兑换全套公仔</button>
            </div>
            <div class="loong_list" >
                <p class="title">已兑换<span style="float: right" @click="goaddress" class="dzgl">地址管理</span></p>
                <ul v-if="goodsList!=''">
                    <li v-for="(item,index) in goodsList" :key="index" v-if="item.status == 1 || item.status == 2">
                        <img :src="item.goodsImage" />
                        <div class="rightbox">
                            <h3>九龙至尊全套公仔</h3>
                            <p>{{ getMoth(item.createDate)}}</p>
                        </div>
                        <button @click="Logistic(item.status,item.id)">{{item.status == 1? "领取":"查看物流"}}</button>
                    </li>
                </ul>
                <div class="mine-content-content" v-else style="padding-left: 0px;padding-right: 0px">
                    <div class="no-content center" style="width: 100%">
                        <span>快去搜集拼图吧~</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:100px"></div>
        <van-tabbar v-model="active" active-color="#ff5858" safe-area-inset-bottom="true"  @change="onChange">
            <van-tabbar-item >
                <span>首页</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon0.active : icon0.normal"
                >
            </van-tabbar-item>
            <van-tabbar-item  >
                <span>九龙拼图</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon1.active : icon1.normal"
                >
            </van-tabbar-item>
            <van-tabbar-item >
                <span>我的</span>
                <img
                        slot="icon"
                        slot-scope="props"
                        :src="props.active ? icon2.active : icon2.normal"
                >
            </van-tabbar-item>
        </van-tabbar>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "bag",
        data(){
            return{
                CanChange:false,
                loading:false,//网路请求
                Emptyaddress:false,//地址是否为空
                goodsList:[],
                haveCount:0,
                dis:false,
                allCoupons:[],
                memberCoupons:[],
                active:1,
                icon0: {
                    normal: require('../../assets/loong_index.png'),
                    active: require('../../assets/loong_index_active.png')
                },
                icon1: {
                    normal: require('../../assets/loong_bag.png'),
                    active: require('../../assets/loong_bag_active.png')
                },
                icon2: {
                    normal: require('../../assets/loong_team.png'),
                    active: require('../../assets/loong_team_active.png')
                },
            }
        },
        components:{
            network
        },
        methods:{
            reload(){
                this.initData();
            },
            onClickRight:function(){
                this.$router.replace({
                    path: `/community`
                })
            },
            goaddress:function(){
                this.$router.replace({
                    path: `/admin_address`
                })
            },
            Jigsaw:function(couponId,name){
                this.$router.replace({
                    path: `/Jigsaw`,
                    query:{
                        couponId:couponId,
                        name:name
                    }
                })
            },
            onChange:function(active){
                if(active == 0){
                    this.$router.replace({
                        path: `/index`
                    })
                }else if(active == 1){
                    this.$router.replace({
                        path: `/bag`
                    })
                } else if(active == 2){
                    this.$router.replace({
                        path: `/mine`
                    })
                }
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            go_address(memberGoodsId){
                if(this.Emptyaddress){//地址栏目为空第一次进入
                    this.$router.push({
                        path: `/once_address`,
                        query:{
                            memberGoodsId:memberGoodsId
                        }
                    })
                }else{
                    this.$router.push({
                        path: `/has_address`,
                        query:{
                            memberGoodsId:memberGoodsId
                        }
                    })
                }
            },
            Logistic(status,id){
                if(status == 1){//领取
                    this.go_address(id);
                }else if(status == 2){//查看物流
                    this.$router.push({
                        path: `/logistics`,
                        query:{
                            memberGoodsId:id
                        }
                    })
                }
            },
            compound(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('合成中...');
                this.$fetch("/rpc/ajax/loong/pieces/mixture",{activityId:self.$store.state.activityId,couponId:0}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        this.$toast.center("合成成功");
                        self.initData()
                        self.go_address(map.id)
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/mine",{activityId:self.$store.state.activityId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                        self.allCoupons = map.allCoupons || '';
                        self.goodsList = map.goodsList || '';
                        self.loading = false;
                        var memberCoupons = map.memberCoupons || '';
                        self.memberCoupons = memberCoupons;
                        for(let i = 0;i<memberCoupons.length;i++){//判断已有的何总数量
                            if(memberCoupons[i].count){
                                self.haveCount++;
                            }else{
                                self.dis = true;
                            }
                        }
                        self.hava_address();
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            hava_address(){
                var self = this;
                this.$fetch("rpc/ajax/lottery/address/list",{}).then((response) =>{
                    if(response.result == 'success'){
                        if(response.map.totalPage == 0){
                            self.Emptyaddress = true;
                            console.log("地址栏空的")
                        }else{
                            self.Emptyaddress = false;
                            console.log("地址栏有地址")
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$toast.center(error);
                })
            },
        },
        mounted(){
            this.initData()
        }
    }
</script>

<style >
    .van-nav-bar__text{
        color: #ffffff!important;
        font-size: 28px!important;
    }
    .van-nav-bar__title{
        color: #ffffff!important;
    }
    .dzgl{
        font-size: 28px;
        color: #666666;
    }
</style>
