<template>
    <div class="container flower">
        <div class="card-container">
            <img src="../../assets/logo.png" class="card-logo"/>
            <div class="circle">
                <span class="card-nice">恭喜你获得</span>
                <p class="card-dall">
                    <span>{{gameCoin}}嗨币</span>
                </p>
            </div>
            <img src="../../assets/btn-game.png" class="card-bi" @click="home"/>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "dcard",
        data(){
            return{
                loading: false,
                balance: 0,
                gained: true,
                title:"嗨机",
                card:""
            }
        },
        components:{
            network
        },
        methods:{
            reload:function(){
                this.initData()
            },
            home:function(){
                this.$router.replace({
                    path: `/index`
                })
            },
            initData:function(){
                var self = this;
                this.$loading('加载中');
                this.$fetch('/haiji/ajax/scratch/card',{cardId:self.card,channel:1, from:1}).then((response) => {
                    this.$loading.close();
                    if(response.result == "success"){
                        self.balance = response.map.gameCoin
                        self.loading = false
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                })
            },
        },
        created(){
            var url = window.location.href;
            if (url !== undefined) {
                this.$store.getters.handleUrl(url)
            }
            this.card = localStorage.getItem("card");
            if (this.card!="") {
                this.initData();
            }
        }
    }
</script>

<style >

</style>
