<template>
    <div class="container">
        <van-nav-bar style="background-color: #Ff5858;"
                     left-arrow
                     @click-left="onClickLeft"
                     title="选择活动"></van-nav-bar>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list
                    v-model="loading"
                    :finished="finished"
                    :error.sync="error"
                    error-text="请求失败，点击重新加载"
                    :finished-text="Isempty ? '':'没有更多了'"
                    @load="onLoad"
            >
            <ul class="address-list" v-if="items.length>0">
                <li v-for="(item,index) in items" :key="index"  @click="choose(item.id)">
                    <img :src="item.image"/>
                    <h3 class="name">{{item.name}}</h3>
                    <p class="time">{{getdate(item.beginDate)}} - {{ getdate(item.endDate)}}</p>
                </li>
            </ul>
            <img src="../../../assets/empty.png" class="wave" v-if="Isempty"/>
            </van-list>
        </van-pull-refresh>
    </div>
</template>

<script>
    export default {
        name: "shoplist",
        data() {
            return {
                items: [],
                loading: false,
                finished: false,
                error:false,
                isLoading: false,
                coupondialog:false,
                Isempty:false,
                qrSize:"",
                value:"",
                pageNo:0,
                page:10,
            };
        },
        methods: {
            getdate(date){
                return this.$store.getters.currentTime(date)
            },
            choose(id){
                this.$store.commit("SET_AC",id)
                this.$router.replace({
                    path: `/coupon`,
                    query:{
                        activityId:id
                    }
                })
            },
            getPageData(pageNo,pageSize){
                var self = this;
                this.$loading('请求中...');
                this.$fetch("ajax/twist/activity/list",{pageNo:pageNo,pageSize:pageSize}).then((response) =>{
                    this.$loading.close();
                    this.loading = false;
                    this.isLoading = false;
                    if(response.result === "success" && response.map){
                        this.Isempty = false;
                        var data = response.map.items || "";
                        if(data.length<pageSize){
                            this.finished = true;
                        }
                        var newlist  = data;
                        var oldlist  = this.items;
                        if(oldlist.length == 0){
                            self.items = newlist;
                        }else{
                            var all = (self.items).concat(newlist)
                            self.items = all;
                        }
                        console.log(self.items)
                    }else{
                        this.finished = true;
                        this.Isempty = true;
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast(error);
                })
            },
            onRefresh() {
                this.items = [];
                this.getPageData(1,10);
            },
            onLoad() {
                // 异步更新数据
                this.pageNo++;
                this.getPageData(this.pageNo,10);
                this.loading = false;
            },
            onClickLeft(){
                this.$router.replace({
                    path: `/coupon`
                })
            },
        },
        mounted(){
            // this.locationCode = this.$store.getters.getQueryString(url,"lc");
        }
    }
</script>
