<template>
    <div class="container">
        <van-nav-bar style="background-color: #ff5858"
                     title="评论详情"
                     left-arrow
                     @click-left="onClickLeft"
        />
        <div class="Leave-amin">
            <div class="comment-item">
                <img :src="topic.memberImage" class="header" alt="暂无"/>
                <div class="rightbox">
                    <div class="top_comment">
                        <div class="content">
                            <h3>{{topic.memberName || '佚名'}}</h3>
                            <p>{{getMoth(topic.createDate)}}</p>
                            <span class="like" :class="topic.thumbup?'active':''" @click="Synlike(1,topic.id,topic.thumbup,topic.thumpupCount)">{{topic.thumpupCount || 0}}</span>
                        </div>
                    </div>
                    <div class="middle_comment">
                        <p @click="Reply()">{{topic.content}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <p class="all-cms">全部评论<span style="color: #999999">（{{items.length || 0 }}）</span></p>
        <div class="Leavebox" v-if="items!=''">
            <div class="comment-item" v-for="(item,index) in items" :key="index">
                <img :src="item.memberImage" class="header" alt="暂无"/>
                <div class="rightbox">
                    <div class="top_comment">
                        <div class="content">
                            <h3>{{item.memberName || '佚名'}}</h3>
                            <p>{{getMoth(item.createDate)}}</p>
                            <span class="like" :class="item.thumbup?'active':''" @click="Synlike(2,item.id,item.thumbup,item.thumbupCount,index)">{{item.thumbupCount  || 0}}</span>
                        </div>
                    </div>
                    <div class="middle_comment">
                        <p>{{item.content}}</p>
                    </div>
                    <p class="lookall"></p>
                </div>
            </div>
        </div>
        <div class="message_add_box">
            <input  type="text" placeholder="请输入评论" v-model="comments"/>
            <button type="danger" @click="Replyajax">发送</button>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "Topicdetail",
        data(){
            return{
                TopicId:"",
                loading:false,
                topic:{},
                items:[],
                comments:"",
            }
        },
        components:{
            network
        },
        methods:{
            onClickLeft(){
                this.$router.replace({
                    path: `/community`,
                })
            },
            reload(){
                this.initData();
            },
            Replyajax(){
                var self = this;
                var content  = (self.comments).replace(/^\s+|\s+$/g,"");
                if(content!=''){
                    this.$loading('上传中...');
                    this.$fetch("/rpc/ajax/forum/addReply",{topicId:self.TopicId,content:content}).then((response) =>{
                        this.$loading.close();
                        if(response.result == 'success' && response.map){
                            this.$toast.center("评论成功");
                            self.comments ="";
                            this.initData()
                            window.scroll(0, 0);
                            // var map = response.map;
                            // var reply =  map.reply || [];
                            // self.items.push(reply);
                        }else{
                            this.$toast.center(response.failureReason);
                        }
                    }).catch(error=>{
                        self.loading = true;
                        this.$loading.close();
                        this.$toast.center(error);
                    })
                }
            },
            Synlike(type,id,thumbUp,count = 0,index){
                // type 1 是文章  2 是评论
                var self = this;
                this.$loading('加载中');
                console.log("初始点赞数目")
                this.$fetch("/rpc/ajax/forum/thumbUp",{objectId:id,objectType:type,thumbUp:thumbUp}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        if(type == 1){
                            self.$set(self.topic,`thumbup`,!thumbUp)
                            if(thumbUp){
                                count--;
                                if(count<0){
                                    count = 0;
                                }
                                this.$set(self.topic,`thumpupCount`,count)
                                this.$toast.center("取消点赞");
                            }else{
                                count++;
                                this.$set(self.topic,`thumpupCount`,count)
                                this.$toast.center("点赞成功");
                            }
                        }else if(type == 2){
                            self.$set(self.items[index],`thumbup`,!thumbUp)
                            if(thumbUp){
                                count--;
                                if(count<0){
                                    count = 0;
                                }
                                this.$set(self.items[index],`thumbupCount`,count)
                                this.$toast.center("取消点赞");
                            }else{
                                count++;
                                this.$set(self.items[index],`thumbupCount`,count)
                                this.$toast.center("点赞成功");
                            }
                        }
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    console.log(error)
                    this.$toast.center(error);
                })
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/forum/topic/"+self.TopicId,{}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                        var map = response.map;
                            self.loading = false;
                            self.topic = map.topic || "";
                            self.items = map.items || "";
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
        },
        created(){
            this.TopicId = this.$route.query.TopicId || '';
            this.initData()
        }
    }
</script>

<style>
    .Leave-amin{
        margin-bottom: 20px;
    }
    .Leavebox{
        margin-bottom: 100px;
    }
</style>
