<template>
  <div id="app">
    <!-- 路由匹配到的组件将显示在这里 -->
    <router-view></router-view>
  </div>
</template>
<!--<script>-->
    <!--export default {-->
        <!--name: "app",-->
        <!--provide(){-->
          <!--return{-->
              <!--kds:this.kds-->
          <!--}-->
        <!--},-->
        <!--data(){-->
            <!--return {-->
                <!--isRouterAlive:true-->
            <!--}-->
        <!--},-->
        <!--methods:{-->
            <!--kds(){-->
              <!--alert("今晚打老虎")-->
                <!--this.isRouterAlive = false;-->
                <!--this.$nextTick(function(){-->
                    <!--this.isRouterAlive = true-->
                <!--})-->
            <!--},-->
            <!--reload(){-->
                <!--this.isRouterAlive = false;-->
                <!--this.$nextTick(function(){-->
                    <!--this.isRouterAlive = true-->
                <!--})-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->
<style>
#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>

