<template>
    <div class="container">
        <div style="position: fixed;width: 100%;top: 0px;z-index: 999">
            <van-nav-bar style="background-color: #ff5858"
                         title="我的卡劵"
                         left-arrow
                         @click-left="onClickLeft"
            />
            <div class="mine-content-header xiugai">
                <div class="mine-content-header-item"  :class="showIndex == 1 ? 'active':''" @click="changeIndex(1)">
                    <span>可使用</span>
                </div>
                <div class="mine-content-header-item"  :class="showIndex == 2 ? 'active':''" @click="changeIndex(2)">
                    <span>已使用</span>
                </div>
                <div class="mine-content-header-item"  :class="showIndex == 3 ? 'active':''" @click="changeIndex(3)">
                    <span>已失效</span>
                </div>
            </div>
        </div>
        <scroller class="scrolltop1"
                  :on-refresh="refresh"
                  :on-infinite="infinite"
                  :noDataText="noDataText" ref="my_scroller">
            <div  class="content-container-item" v-if="items!=''">
                <div class="container-item coupon1" v-for="item in items"  v-if="showIndex == 1" @click="useCoupon(item.coupon.type,item.id)">
                    <div class="left">
                        <p class="text1">{{item.coupon.name}}</p>
                        <p class="text2">每张券限使用一次</p>
                    </div>
                    <div class="right">
                        <p class="text1">有效期至</p>
                        <p class="text2">{{item.showEndDate}}</p>
                    </div>
                </div>
                <div class="container-item coupon2" v-for="item in items" v-if="showIndex == 2">
                    <div class="left" style="flex-grow:1.5">
                        <p class="text1" >{{item.coupon.name}}</p>
                        <p class="text2">
                            <span v-show="item.coupon.gameCoin">{{item.coupon.gameCoin}}嗨币</span>
                            {{item.showUseDate}}
                        </p>
                    </div>
                    <div class="right">
                        <img src="../../../assets/icon-coupon-used.png" class="nouse"/>
                    </div>
                </div>
                <div class="container-item coupon2" v-for="item in items"  v-if="showIndex == 3">
                    <div class="left">
                        <p class="text1">{{item.coupon.name}}</p>
                        <p class="text2"><span v-show="item.coupon.gameCoin">{{item.coupon.gameCoin}}嗨币</span>每张券限使用一次</p>
                    </div>
                    <div class="right">
                        <p class="text1">有效期至</p>
                        <p class="text2">{{item.showEndDate}}</p>
                    </div>
                </div>
            </div>
            <div class="mine-content-content" v-else>
                <div class="no-content center" style="margin: 0;width: 100%">
                    <span>暂无记录~</span>
                </div>
            </div>
        </scroller>
        <!--  -->
        <div class="pop-coupon" v-show="currentCoupon != null" style="z-index: 99999">
            <div class="pop-containter">
                <div class="pop-containter-header">
                    <img  src="../../../assets/topup-image3.png" class="left"/>
                    <img  src="../../../assets/topup-close.png" class="right" @click="closePop"/>
                </div>
                <div class="pop-containter-title">
                    <div class="left">{{CouponJson.name}}</div>
                    <div class="right">1份</div>
                </div>
                <div class="pop-containter-content">
                    <div id="qrcode" class="coupon-qrcode" ></div>
                    <span class="ts">请向工作人员出示二维码</span>
                </div>
            </div>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>
<style>
    .coupon1{
        background-image: url("../../../assets/bg-coupon.png");
    }
    .coupon2{
        background-image: url("../../../assets/bg-coupon-no.png");
    }
</style>
<script>
    import QRCode from 'qrcodejs2'
    import Vue from 'vue'
    import VueScroller from 'vue-scroller'
    import network from '@/components/network'
    Vue.use(VueScroller)
    export default {
        name: "coupon",
        data() {
            return {
                loading: false,
                items: [],
                showIndex: 1,
                currentCoupon:null,
                CouponJson:{},
                goHome: false,
                pageNo: 0,
                pageSize: 10,
                retry: false,
                noDataText:"-我也是有底线的-",
                over: false
            }
        },
        components:{
            network
        },
        methods:{
            reload:function(){
                this.$refs.my_scroller.onRefresh();
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/mine`
                })
            },
            infinite(done){
                //加载更多
                var self = this;
                this.pageNo++    //每当向上滑动的时候就让页数加
                self.getData(this.pageNo,this.pageSize,done)
            },
            refresh(done){
                //第一页
                this.pageNo = 0
                this.getData(1,this.pageSize,done)
            },
            initData: function() {
                this.items = [];
                this.pageNo = 1;
                this.getData(this.pageNo, this.pageSize);
            },
            useCoupon:function(couponType,memberCouponId){
                if(couponType == 3 || couponType == 9 || couponType == 7 || couponType == 10) {
                    this.$router.replace({
                        path: `/index`
                    })
                    return;
                }
                var self = this;
                this.$fetch('/dall/ajax/mine/coupon/use',{memberCouponId: memberCouponId}).then((response) => {
                    if(response.result == "success"){
                        var code = response.map.code
                        self.CouponJson = response.map.currentCoupon
                        self.currentCoupon = response.map.currentCoupon
                        self.qrcode.clear();
                        self.qrcode.makeCode(code);
                    }else {
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    self.$toast.center(error);
                })
            },
            changeIndex: function( index ) {
                if (this.showIndex == index) {
                    return;
                }
                this.showIndex = index;
                this.pageNo = 1;
                this.items = [];
                this.getData(this.pageNo, this.pageSize);
            },
            getData(pageNo, pageSize,dn){
                var self = this;
                this.$loading('加载中');
                this.$fetch('/dall/ajax/mine/coupon2',{index:self.showIndex,pageNo: pageNo,pageSize: pageSize}).then((response) => {
                    self.$loading.close();
                    if(response.result == "success"){
                        var list  =  response.map.items || [];
                        var all = response.map.totalPage;
                        var over = list.length < pageSize;
                        self.loading = false;
                        if (pageNo === 1) { //判断是否是第一页
                            self.items = list   //如果是想下滑动，刷新数据 就让items等于最新数据
                        } else{
                            if(list!=''){
                                self.items  = self.items.concat(list) //否则就把数据拼接
                            }
                        }

                        if(all == 0 || list == ""){
                            self.noDataText = "-就这么多哦-";
                            dn(true);
                            return;
                        } else if(over){
                            self.noDataText = "-就这么多哦-"
                            dn(true);
                            return;
                        }else{
                            if (dn) dn()
                        }

                    }else {
                        dn(true)
                        self.$toast.center(response.failureReason);
                    }

                }).catch(error=>{
                    dn(true)
                    self.loading = true;
                    self.$loading.close();
                    self.$toast.center(error);
                })
            },
            qrcode (text="") {
                this.qrcode = new QRCode('qrcode', {
                    width:"230",
                    height:"230",
                    text: text // 二维码内容
                })
            },
            closePop(){
                this.currentCoupon = null
            }
        },
        mounted(){
            this.qrcode("");
        }
    }
</script>
<style>
    .scrolltop1{
        top: 200px!important;
    }
    .xiugai{
        height: 120px;
        line-height: 120px;
        border:solid 1px #ffffff;
        margin-top: 0px;
        background-color: #ffffff;
    }
</style>

