<template>
    <div class="overflow container" style="height: 100%;background-color: #ffffff">
        <img src="../../assets/error1.png"  class="et"/>
        <p class="cen t_message">{{error_mess}}</p>
    </div>
</template>

<script>
    export default {
        name: "error",
        data(){
            return{
                error_mess:"重复使用"
            }
        },
        created(){
            this.error_mess = this.$route.query.error_mess;
        }
    }
</script>

<style>
    .et{
        width: 64%;
        margin: 0 auto;
        margin-top: 200px;
    }
    .t_message{
        color: #ff5858;
        opacity: 0.8;
        font-size: 40px;
        padding: 30px 0px;
    }
</style>
