<template>
    <div class="container" style="background-color: #EEEEEE">
        <van-nav-bar style="background-color: #ff5858"
                     title="物流管理"
                     left-arrow
                     @click-left="onClickLeft"

        />
        <div class="logistics">
            <img :src="shopUrl" />
            <div class="logbox">
                <p class="name">{{shopName || '暂无'}}</p>
                <p class="way">{{deliveryInfo.deliveryNo || "暂未发货"}}</p>
                <p class="time">{{getMoth(createDate)}}</p>
            </div>
        </div>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "logistics",
        data(){
            return{
                loading:false,//网路请求
                shopName:"",
                shopUrl:"",
                createDate:"",
                memberGoodsId:"",
                deliveryInfo:""
            }
        },
        components:{
            network
        },
        methods:{
            reload(){
                this.initData();
            },
            onClickLeft() {
                this.$router.replace({
                    path: `/bag`
                })
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/goods/delivery",{memberGoodsId:self.memberGoodsId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success' && response.map){
                        self.loading = false;
                            self.deliveryInfo = response.map.memberGoods.deliveryInfo || "";
                            self.shopName = response.map.memberGoods.goodsName || "";
                            self.createDate = response.map.memberGoods.createDate || "";
                            self.shopUrl = response.map.memberGoods.goodsLightImage || "";
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
        },
        created(){
            this.memberGoodsId = this.$route.query.memberGoodsId || "";
            this.initData();
        }
    }
</script>

<style scoped>

</style>
