<template>
    <div class="container" style="overflow: hidden">
        <van-nav-bar style="background-color: #ff5858;position: fixed;top: 0px;width: 100%;"
                     title="九龙论坛"
                     left-arrow
                     @click-left="onClickLeft"></van-nav-bar>
        <div class="tb">
            <div class="rel radio">
                <template  v-if="prizelist!=''">
                    <van-swipe  class="radio-item" :show-indicators="false" :autoplay="3000" vertical   :duration="1000">
                        <van-swipe-item v-for="(item,index) in prizelist" :key="index">
                            <template v-if="item.member">
                                <img  :src="item.member.image" />
                                <p class="name"> 恭喜 {{item.member.name}}</p><p>获得{{item.goodsName}}</p>
                            </template>
                        </van-swipe-item>
                    </van-swipe>
                </template>
                <button @click="Posting">发帖</button>
            </div>
            <scroller  class="sqheader"
                       :on-refresh="refresh"
                       :on-infinite="infinite"
                       :noDataText="noDataText" ref="my_scroller">
                <div class="commentslist">
                    <comments :commentslist="commentslist" @I_like="I_like" @Reply="Reply" @lookmore="lookmore"  @friendBag="friendBag"></comments>
                </div>
            </scroller>
        </div>
        <van-popup v-model="show" position="bottom" :overlay="true" style="height: 100%!important;">
            <div class="report_box">
                <div class="top_report">
                    <span class="close" @click="Posting">取消</span>
                    <button :disabled="dis" :class="dis?'':'active'" @click="posted">发布</button>
                </div>
                <textarea placeholder="分享你的新鲜事吧!" maxlength="200" @input="descInput" v-model="desc"></textarea>
            </div>
        </van-popup>
        <div class="message_add_box" v-if="add_dialog">
            <input  type="text" placeholder="请输入评论" v-model="comments"  v-focus/>
            <button type="danger" @click="Replyajax">发送</button>
        </div>
    </div>
</template>

<script>
    import comments from '@/components/comments'
    import Vue from 'vue'
    import { ImagePreview } from 'vant';
    Vue.use(ImagePreview);

    // 注册一个全局自定义指令 `v-focus`
    Vue.directive('focus', {
// 当被绑定的元素插入到 DOM 中时……
        inserted: function (el) {
// 聚焦元素
            el.focus()
        }
    })
    export default {
        name: "community",
        data(){
            return{
                active:1,
                show:false,
                add_dialog:false,
                desc:"",
                comments:'',
                dis:true,
                icon0: {
                    normal: require('../../assets/loong_index.png'),
                    active: require('../../assets/loong_index_active.png')
                },
                icon1: {
                    normal: require('../../assets/loong_team.png'),
                    active: require('../../assets/loong_team_active.png')
                },
                icon2: {
                    normal: require('../../assets/loong_bag.png'),
                    active: require('../../assets/loong_bag_active.png')
                },
                prizelist:[],
                commentslist:[],
                Onedetail_list:[],
                noDataText:"",
                pageNo: 0,
                pageSize: 10,
                Replyitem:{
                    item:{},
                    index:""
                }
            }
        },
        components:{
            comments
        },
        methods:{
            onClickLeft() {
                this.$router.replace({
                    path: `/bag`
                })
            },
            reload(){
                this.initData();
            },
            close_dialog(){
                this.add_dialog = false;
            },
            friendBag(item,index){
                this.$router.replace({
                    path: `/friend_bag`,
                    query:{
                        memberId:item.memberId
                    }
                })
            },
            lookmore(item,index){
                this.$router.replace({
                    path: `/details`,
                    query:{
                        TopicId:item.id
                    }
                })
            },
            go_detail(){
                this.$router.replace({
                    path: `/details`
                })
            },
            Reply(item,index){/*回复帖子*/
                this.add_dialog = true;
                this.Replyitem.item = item;
                this.Replyitem.index = index;
            },
            Replyajax(){
                var self = this;
                var item = this.Replyitem.item;
                var index = this.Replyitem.index;
                var content  = (self.comments).replace(/^\s+|\s+$/g,"");
                if(content!=''){
                    this.$loading('上传中...');
                    this.$fetch("/rpc/ajax/forum/addReply",{topicId:item.id,content:content}).then((response) =>{
                        this.$loading.close();
                        if(response.result == 'success' && response.map){
                            this.$toast.center("评论成功");
                            var map = response.map;
                            self.comments = "";
                            self.$refs.my_scroller.onRefresh();
                            self.add_dialog = false;
                            // var replyList = self.commentslist[index].replyList || [];
                            // replyList.push(reply);
                            // this.$set(self.commentslist[index],`replyList`,replyList)
                            // this.add_dialog = false;
                        }else{
                            this.$toast.center(response.failureReason);
                        }
                    }).catch(error=>{
                        this.$loading.close();
                        this.$toast.center(error);
                    })
                }
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            I_like(item,index){
                this.$loading('请求中...');
                var thumbUp = false;
                var self = this;
                if(item.thumbup){
                    thumbUp = false;
                }else{
                    thumbUp = true
                }
                this.$fetch("/rpc/ajax/forum/thumbUp",{objectId:item.id,objectType:1,thumbUp:thumbUp}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                         this.$set(self.commentslist[index], `thumbup`,thumbUp)
                          var count = item.thumpupCount || 0;
                         if(thumbUp){
                             count++;
                             this.$set(self.commentslist[index],`thumpupCount`,count)
                             this.$toast.center("点赞成功");
                         }else{
                             count--;
                             if(count<0){
                                 count = 0;
                             }
                             this.$set(self.commentslist[index],`thumpupCount`,count)
                             this.$toast.center("取消点赞");
                         }

                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
            descInput(){
                var txtVal = this.desc.length;
                this.remnant = 50 - txtVal;
                if(this.remnant!=50){
                    this.dis = false;
                }else{
                    this.dis = true;
                }
                console.log(this.remnant)
            },
            Posting:function(){
              this.show = !this.show
            },
            posted(){//发帖
                var self = this;
                var content  = (self.desc).replace(/^\s+|\s+$/g,"");
                if(content){
                    /*发帖*/
                    this.$loading('上传中...');
                    this.$fetch("/rpc/ajax/forum/addTopic",{forumId:1,content:content}).then((response) =>{
                        this.$loading.close();
                        if(response.result == 'success'){
                            this.$toast.center("发帖成功");
                            self.desc = "";
                            self.Posting()
                            self.$refs.my_scroller.onRefresh();
                        }else{
                            this.$toast.center(response.failureReason);
                        }
                    }).catch(error=>{
                        this.$loading.close();
                        this.$toast.center(error);
                    })
                }else{
                    this.$toast.center("请输入内容！！！");
                }
            },
            getImg:function(){
                ImagePreview({
                    images: [
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg',
                        'https://img.yzcdn.cn/2.jpg'
                    ],
                    startPosition: 1,
                    onClose() {
                        // do something
                    }
                });
            },
            init_prize(){
                /*小广播*/
                var self = this;
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/prize",{activityId:self.$store.state.activityId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success' && response.map){
                        var map = response.map;
                        self.prizelist = map.items || [];
                    }else{
                        console.log(response.failureReason)
                    }
                }).catch(error=>{
                    this.$loading.close();
                    console.log(error)
                })
            },
            infinite(done){
                //加载更多
                var self = this;
                this.pageNo++    //每当向上滑动的时候就让页数加
                self.initData(this.pageNo,this.pageSize,done)
            },
            refresh(done){
                //第一页
                this.pageNo = 0
                this.initData(1,this.pageSize,done)
            },
            initData(pageNo, pageSize,dn){//帖子列表
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/forum/topic",{forumId:1,pageNo: pageNo,pageSize: pageSize}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success'){
                         var items = response.map.items || [];
                         var all = response.map.totalPage;
                         var over = items.length < pageSize;
                            if (pageNo === 1) { //判断是否是第一页
                                self.commentslist = items   //如果是想下滑动，刷新数据 就让items等于最新数据
                            } else {
                                if(items!=''){
                                    self.commentslist  = self.commentslist.concat(items) //否则就把数据拼接
                                }else{
                                    self.noDataText = "-就这么多哦-"
                                    dn(true);
                                    return;
                                }
                            }
                            if(over){
                                self.noDataText = "-就这么多哦-"
                                dn(true);
                                return;
                             }else{
                                if (dn) dn()
                             }

                    }else{
                        dn(true)
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    this.$loading.close();
                    console.log(error)
                })
            },
            onChange:function(active){
                if(active == 0){
                    this.$router.replace({
                        path: `/index`
                    })
                }else if(active == 1){
                    this.$router.replace({
                        path: `/community`
                    })
                } else if(active == 2){
                    this.$router.replace({
                        path: `/bag`
                    })
                }
            }
        },
        created(){
            this.init_prize()
        },
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        }
    }
</script>

<style scoped>
    .tb{
        padding:24px 30px;
    }
    .van-cell{
        padding: 0px!important;
    }
    .sqheader{
        top: 220px!important;
    }
</style>
