<template>
    <div class="container loong_bg Winning">
        <div class="top-box">
            <img src="../../assets/loong_banner_1.png"  class="w100"/>
            <img src="../../assets/loong_busy.png" class="use_no"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "busy"
    }
</script>

<style scoped>
    .use_no{
        width: 80vw;
        margin: 64px auto 0 auto;
    }
</style>
