<template>
    <div class="container follow Winning">
        <div class="top-box">
            <img src="../../assets/bengong.png"  class="follow_logo" />
            <img src="../../assets/follow.png" class="use_no"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "nofollow"
    }
</script>

<style scoped>
    .follow_logo{
        width: 64%;
        margin: 0px auto 75px auto
    }
    .use_no{
        width: 75vw;
        margin: 80px auto 0 auto;
    }
</style>
