<template>
    <div class="container syn">
        <van-nav-bar style="background-color: #ff5858"
                     title="提交成功"
                     left-arrow
                     @click-left="onClickLeft"></van-nav-bar>
        <div class="syn-top">
            <ul>
                <li>
                    <img src="../../assets/loong_nice.png" class="nice"/>
                    <div class="address-top">
                        <p class="result">您的订单提交成功</p>
                        <p class="time">{{ getMoth(createDate)}}</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/loong_address.png" class="nice"/>
                    <div class="address-top">
                        <p class="name">{{deliveryInfo.consignee}} <span class="mobile">{{deliveryInfo.mobile}}</span></p>
                        <p class="address">{{deliveryInfo.address}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="currentline"></div>
        <div class="logistics">
            <img src="../../assets/loong_vip.png" />
            <div class="logbox">
                <p class="name">九龙至尊全套公仔</p>
                <p class="way">暂未发货</p>
                <p class="time">奖品将在7个工作日内寄出</p>
            </div>
        </div>
        <button class="exchange_btn bt active" @click="onClickLeft()">查看背包</button>
    </div>
</template>

<script>
    export default {
        name: "syn_result",
        data(){
            return{
                memberGoodsId:"",
                shopName:"",
                shopUrl:"",
                deliveryInfo:"",
                createDate:""
            }
        },
        methods:{
            onClickLeft() {
                this.$router.replace({
                    path: `/bag`
                })
            },
            getMoth(str){
                var oDate = new Date(str*1000),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth()+1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear +'年'+ this.getzf(oMonth) +'月'+ this.getzf(oDay) +'日 '+ this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
                return oTime;
            },
            getzf (num){
                if(parseInt(num) < 10){
                    num = '0'+num;
                }
                return num;
            },
            initData(){
                var self = this;
                /*首页初始化数据*/
                this.$loading('加载中');
                this.$fetch("/rpc/ajax/loong/goods/delivery",{memberGoodsId:self.memberGoodsId}).then((response) =>{
                    this.$loading.close();
                    if(response.result == 'success' && response.map){
                        self.loading = false;
                        self.deliveryInfo = response.map.memberGoods.deliveryInfo || "";
                        self.shopName = response.map.memberGoods.goodsName || "";
                        self.createDate = response.map.memberGoods.createDate || "";
                        self.shopUrl = response.map.memberGoods.goodsLightImage || "";
                    }else{
                        this.$toast.center(response.failureReason);
                    }
                }).catch(error=>{
                    self.loading = true;
                    this.$loading.close();
                    this.$toast.center(error);
                })
            },
        },
        created(){
            this.memberGoodsId = this.$route.query.memberGoodsId || "";
            this.initData();
        }
    }
</script>

<style>
    .syn{

    }
    .syn-top{
        padding: 0px 30px;
    }
    .syn-top li{
        padding: 0px 30px;
    }
</style>
