<template>
    <div class="container loong_bg Winning">
        <div class="top-box">
            <img src="../../assets/loong_banner_1.png"  class="w100"/>
            <img src="../../assets/loong_use_no.png" class="use_no"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "used"
    }
</script>

<style scoped>
    .use_no{
        width: 70vw;
        margin: 156px auto 0 auto;
    }
</style>
