<template>
    <div class=" loong_bg Winning" style="height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;">
        <div class="top-box">
            <img src="../../assets/loong_banner_1.png"  class="w100"/>
            <p class="lucky-count">本次获得 {{giftList.length || 0}} 张拼图</p>
        </div>
        <div class="bottombox">
            <lazy-component>
                <!--v-if="index == 0"-->

                <div class="art-item" style="width: 70vw;"   v-for="(item,index) in giftList" :key="index" >
                    <h3 class="title">{{item.goodsName}}</h3>
                        <img  v-lazy="door"  class="w100"/>
                        <img  v-lazy="item.goodsImage"   class="award" style="width: 40%;"/>
                </div>
                <!--<div style="display: flex;flex-wrap: wrap">-->
                    <!--<div class="art-item w50" v-for="(item,index) in giftList" :key="index" v-if="index!=0">-->
                        <!--<h3 class="title sm"> {{item.goodsName}}</h3>-->
                            <!--<img  v-lazy="door"  class="w100"/>-->
                            <!--<img  v-lazy="item.goodsImage"   class="award" />-->
                    <!--</div>-->
                <!--</div>-->
            </lazy-component>
        </div>
        <template v-if="IsWeixin">
            <img src="../../assets/weixincode.png" style="width: 60%;margin: 50px auto"/>
        </template>
        <template v-else>
            <img src="../../assets/alipaycode.png" style="width: 60%;margin: 50px auto"/>
        </template>
        <network  :loading="loading"  @reload="reload"></network>
    </div>
</template>

<script>
    import network from '@/components/network'
    export default {
        name: "win",
        data(){
            return{
                goodsImage:"",
                goodsName:"",
                IsWeixin:true,
                giftList:[],
                loading:false,//网路请求
                door:require('../../assets/loong_art.png'),
            }
        },
        components:{
            network
        },
        methods:{
            reload(){

            }
        },
        created(){
            if (/MicroMessenger/.test(window.navigator.userAgent)) {
                this.IsWeixin = true;
            }else if(/AlipayClient/.test(window.navigator.userAgent)){
                this.IsWeixin = false;
            }
            this.giftList = this.$route.query.giftList || [];
        }
    }
</script>
<style scoped>

</style>
